{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    {% if trigger.name %}
        <h1>Cloning Trigger: <a id='linkEdit' href='/alert/edit_trigger/{{ trigger.id }}'>{{ trigger.name }}</a></h1>
    {% else %}
        <h1>Clone Trigger</h1>
    {% endif %}
{% endblock %}

{% block content %}
<div id="clone-details" class="row">
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Clone {{ trigger.name }} to:</h2>
                <div class="nav navbar-right panel_toolbox">
                    <a id="btn-clone" class="btn btn-sm btn-primary">Clone Trigger</a>
                    <input type="hidden" id="trigger_id" />
                    <input type="hidden" id="target_asset_ids" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row" id="dispositions">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
            <div class="x_content">
                {% if not perms.core.clone_without_owning and trigger.created_by != user %}
                <div class="alert alert-info">
                <strong>Note:</strong> All cloned triggers will be owned by you, even if the original triggers were shared, or owned by someone else
                </div>
                {% endif %}
                <div id="js-grid-target-assets"></div>
            </div>
            <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                <table class="table table-striped table-bordered" id="target-assets-table">
                    <tbody>
                    {% if target_assets %}
                        {% for target_asset in target_assets %}
                            <tr class="{% if not target_asset.disposition_id in shown_dispositions %}hide{% endif %}"
                                data-disposition-id="{{ target_asset.disposition_id }}">
                                <td>
                                    &nbsp;
                                    <input type="checkbox" name="target_asset" value="{{ target_asset.asset_id }}" />
                                    <label>
                                        {% autoescape off %}{{ target_asset|asset_fullname }}{% endautoescape %}
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                There are no compatible assets to clone to.
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{% url 'alert.manage_triggers' %}" id="btnBack" class="btn btn-default">Back to Listing</a>
        <a id="btn-clone-bottom" class="btn btn-sm btn-primary">Clone Trigger</a>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Trigger Summary</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content alert-summary">
                <div id="trigger-detail" class="dialog-box"></div>
                <form class="label-left">
                    <div class="form-group">
                        <label class="control-label">Trigger: </label>
                        <span>{{ trigger.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Expression:</label>
                        <span>{{ trigger.expression }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Duration:</label>
                        <span>{{ trigger.duration_label }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Severity:</label>
                        <span>{{ trigger.severity.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Created:</label>
                        <span>{{ trigger.created|date:"n/j/y g:iA"|lower }} UTC</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Shared:</label>
                        <span>{{ trigger.is_global }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Roll Up: </label>
                        <span>{% if trigger.roll_up %} Yes {% else %} No {% endif %}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Roll Down: </label>
                        <span>{% if trigger.roll_down %} Yes {% else %} No {% endif %}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Asset:</label>
                        <span>{{ trigger.asset.code }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Platform:</label>
                        <span>{{ trigger.asset.platform.code }}</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Variables</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-variables"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered" id="variables-table">
                    <thead>
                        <tr>
                            <th>Variable Name</th>
                            <th>Linked Asset</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if variables %}
                        {% for variable in variables %}
                            <tr>
                                <td>{{ variable.name }}</td>
                                <td>{{ variable.asset.name }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">Trigger has no variables.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>L3 Variables</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-variables"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered" id="l3-vars-table">
                    <thead>
                        <tr>
                            <th>Variable Name</th>
                            <th>Linked Asset</th>
                            <th>Expression</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if l3_vars %}
                        {% for variable in l3_vars %}
                            <tr>
                                <td>{{ variable.name }}</td>
                                <td>{{ variable.asset.name }}</td>
                                <td>{{ variable.expression }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Trigger has no L3 variables.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="loading-panel" class="row hidden">
    <div class="col-md-10 col-lg-8 text-center" style="padding-top:100px">
        <img src="/static//images/loading.gif" />
        <br /><br />
        <h2>Please wait while trigger is being cloned.</h2>
    </div>
</div>
<div id="complete-details" class="row hidden">
    <div class="row">
        <div id="success-table" class="col-md-5 col-lg-4 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-success">The trigger has been successfully cloned to the following assets. Refer to the list below for links to each of the cloned triggers.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-success-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="success-assets-table">
                        <tbody id="success-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="failed-table" class="col-md-5 col-lg-4 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-danger">The cloning of the trigger has failed for the following assets. Refer to the list below to verify that the monitored variables are compatible with the selected assets.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-failed-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="failed-assets-table">
                        <tbody id="failed-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <a href="{% url 'alert.manage_triggers' %}" id="btnBack2" class="btn btn-default">Back to Listing</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
<script type="text/javascript">
    $(function(){
        $("#dispositions input[type=checkbox]").click(function(){
            $("#dispositions input[type=checkbox]").each(function(){
                var id = $(this).attr('data-value');
                $("tr[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));

                if (!$(this).is(":checked")) {
                    $("tr[data-disposition-id=" + id + "] input[type=checkbox]").prop('checked', false);
                }
            });
        });

        $('#btn-clone, #btn-clone-bottom').click(function(e) {
            var target_asset_ids = '';
            $('input:checkbox[name=target_asset]:checked').each(function(index) {
                target_asset_ids += this.value + ',';
            });
            if (target_asset_ids.length > 0) {
                target_asset_ids = target_asset_ids.substring(0,target_asset_ids.length-1);
            }

            if (target_asset_ids.length > 0) {
                $('#loading-panel').toggleClass('hidden', false);
                $('#clone-details').toggleClass('hidden', true);

                $.ajax({
                    url: '{% url 'alert.execute_clone_trigger' %}',
                    method:'POST',
                    data: {
                        'trigger_id': {{ trigger.id }},
                        'target_asset_ids': target_asset_ids
                    },
                    success: function(data) {
                        if (data) {
                            // console.log(data);

                            if (data.success && data.successful_assets.length > 0) {
                                add_success_message('Trigger has been successfully cloned to ' + data.successful_assets.length + ' asset(s).');
                            } else {
                                add_failed_message('Trigger was not successfully cloned. Please verify assets are compatible.');
                            }

                            $('#loading-panel').toggleClass('hidden', true);
                            $('#complete-details').toggleClass('hidden', false);

                            var successful_assets = data.successful_assets;
                            if (successful_assets.length > 0) {
                                var $success_table_body = $('#success-assets-table-body');
                                for (var i=0; i < successful_assets.length; i++) {
                                    $success_table_body.append("<tr><td><a href='/alert/edit_trigger/" + successful_assets[i].TriggerID + "'>" + successful_assets[i].AssetName + "</a></td></tr>");
                                }

                                $('#success-table').toggleClass('hidden', false);
                            }

                            var failed_assets = data.failed_assets;
                            if (failed_assets.length > 0) {
                                var $failed_table_body = $('#failed-assets-table-body');
                                for (var i=0; i < failed_assets.length; i++) {
                                    $failed_table_body.append("<tr><td>" + failed_assets[i].Message + "</td></tr>");
                                }

                                $('#failed-table').toggleClass('hidden', false);
                            }
                        }
                    }
                });
            } else {
                alert('Please select at least one asset to clone to.');
            }
        });
    });
    </script>
{% endblock %}