{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}

<h1>{% if alert.trigger %}{{ trigger.name }}{% else %}{{ alert.name }}{% endif %} on {{ asset.code }}{% if asset.platform %} ({{ asset.platform.code }}){% endif %}</h1>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Alert Summary</h2>
                <div class="nav navbar-right panel_toolbox">
                    {% if alert.status_id != resolved_status %}
                        <a id="btn-resolve" class="btn btn-sm btn-primary">Resolve</a>
                    {% endif %}
                    {% if not is_acknowledged %}
                        <a id="btn-acknowledge" class="btn btn-sm btn-primary">Acknowledge</a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content alert-summary">
                <div id="trigger-detail" class="dialog-box"></div>
                <form class="label-left">
                    <div class="form-group">
                        <label class="control-label">Alert: </label>
                        <span>{% if alert.trigger %}<a href="#" class="view-trigger">{{ trigger.name }}</a>{% else %}{{ alert.name }}{% endif %}</span>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label">Created: </label>-->
                        <!--<span>{{ alert.created|date:"n/j/y g:iA"|lower }}</span>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label">First Occurrence: </label>
                        <span>{{ first_occurrence.created|date:"n/j/y g:iA"|lower }} UTC</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Occurrence: </label>
                        <span>{{ last_occurrence.created|date:"n/j/y g:iA"|lower }} UTC</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Total Occurrences: </label>
                        <span>{{ occurrences|length }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Conditions: </label>
                        <span>
                            {% if alert.trigger %}
                                {% for rule in rules %}
                                    {{ rule.expression }}<br />
                                {% endfor %}
                            {% else %}
                                n/a
                            {% endif %}
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Asset: </label>
                        <span><a href="{% url 'asset.overview' asset.id alert.deployment.code %}">{{ asset.code }}</a></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Platform/Mooring: </label>
                        <span><a href="{% url 'asset.overview' asset.platform.id alert.deployment.code %}">{{ asset.platform.code }}</a></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Status: </label>
                        <span id="span-status">{{ alert.status.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Severity:</label>
                        <span class="{{ alert.alert_css_class }}">{{ alert.severity.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Roll Up: </label>
                        <span>{% if alert.roll_up %} Yes {% else %} No {% endif %}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Roll Down: </label>
                        <span>{% if alert.roll_down %} Yes {% else %} No {% endif %}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Details:</label>
                        <br>
                        <span>{{ alert.details }}</span>
                    </div>
                </form>
                {% if not laptop_mode %}
                    <div class="row text-center">
                        {% if alert.redmine_id %}
                            <a href="{{ redmine_url }}/issues/{{ alert.redmine_id }}" class="btn btn-primary btn-sm" target="_blank">View Redmine Issue</a>
                        {% else %}
                            <a href="{% url 'alert.create_redmine_issue' alert.id %}" class="btn btn-primary btn-sm">Create Redmine Issue</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 hidden" id="edit-resolution-panel">
        <div class="x_panel">
            <div class="x_title">
                <h2>Resolution</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <form class="form-horizontal" id="resolution-form" method="POST">
                        <div class="form-group">
                            <textarea id="resolution_details" name="resolution_details" class="form-control"></textarea>
                        </div>
                    </form>
                    <button type="button" class="btn btn-default btn-sm" id="cancel-resolution">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" id="save-resolution">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="x_panel">
            <div class="x_title">
                <h2>Notes</h2>
                <div class="nav navbar-right panel_toolbox">
                  <a class="btn btn-sm btn-primary" id="add-note"><i class="fa fa-plus"></i> Add Note</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="edit-note-panel" class="hidden">
                    <form class="form-horizontal" id="note-form" method="POST">
                        <div class="form-group">
                            <textarea id="note_details" name="note_details" class="form-control"></textarea>
                        </div>
                    </form>
                    <button type="button" class="btn btn-default btn-sm" id="cancel-note">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" id="save-note">Save</button>
                </div>
                <table id="notes" class="table table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Users Notified</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid"></div>
            </div>
            <div class="x_content hidden">
                <table class="table table-striped table-bordered" id="notified-table"></table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Occurrences</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content hidden">
                <table class="table table-striped table-bordered" id="occurrence-table" width="100%"></table>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
<script type="text/javascript">
    var platformId = 'platform-{{ asset.platform_id }}';
    var user_id = {{ current_user.id }};
    var notifiedTable = null;
    var notesTable = null;

    $(document).ready(function() {
        var groupDataId = 'group-{{ asset.group_id }}';
        SetupCurrentSideNavMenu(groupDataId, platformId);
    });

    $("#btn-acknowledge").click(function() {
        var alert_id = {{ alert.id }};
        $.ajax({
            url: '{% url "alert.acknowledge" %}',
            method: 'POST',
            data: {
                'user_id': user_id,
                'alert_id': alert_id,
            },
            success: function(data) {
                notifiedTable.ajax.reload();

                $("#btn-acknowledge").hide();
                add_success_message("Alert Acknowledged");
            }
        });
    });

    $(function(){
        function toggleNotePanel(show) {
            $("#edit-note-panel").toggleClass("hidden", !show);
            $("#add-note").toggleClass('hidden', show);

            if (show) {
                $("#note_details").focus();
            } else {
                $("#note_details").val('');
            }
        }

        function toggleResolutionPanel(show) {
            $("#edit-resolution-panel").toggleClass("hidden", !show);
            $("#btn-resolve").toggleClass("hidden", show);

            if (show) {
                $("#resolution_details").focus();
            } else {
                $("#resolution_details").val('');
            }
        }

        $("#btn-resolve").click(function() {
            toggleResolutionPanel(true);
        });

        $("#cancel-resolution").click(function(){
            toggleResolutionPanel(false);
        });

        $("#add-note").click(function() {
            toggleNotePanel(true);
        });

        $("#cancel-note").click(function(){
            toggleNotePanel(false);
        });

        $("#resolution-form").validate({
            rules: {
                resolution_details: { required: true }
            },
            messages: {
                resolution_details: "Resolution Details are required"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                if ( element.prop("type") === "checkbox" ) {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass ) {
                $(element).closest(".form-group").addClass("has-error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest(".form-group").removeClass("has-error");
            }
        });

        $("#note-form").validate({
            rules: {
                note_details: { required: true }
            },
            messages: {
                note_details: "Note Details are required"
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");
                if ( element.prop("type") === "checkbox" ) {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass ) {
                $(element).closest(".form-group").addClass("has-error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest(".form-group").removeClass("has-error");
            }
        });

        $('#save-resolution').click(function(e) {
            if (!$("#resolution-form").valid()) {
                e.preventDefault();
                return false;
            }

            $.ajax({
                url: '{% url 'alert.update_status' %}',
                method:'POST',
                data: {
                    alert_id: {{ alert.id }},
                    'status_id': {{ resolved_status }},
                    'reason': $("#resolution_details").val(),
                },
                success: function(data) {
                    if (data && data.success) {
                        var platformSelector = '[data-id=' + platformId + ']';
                        var platform = $(platformSelector);
                        var currentClass = 'fa fa-circle ' + data.asset_status;
                        toggleResolutionPanel(false);
                        notesTable.ajax.reload();
                        $('#span-status').html(data.alert_status);
                        $('#btn-resolve').toggleClass('hidden', true);
                        platform.find("i").attr('class', currentClass);
                        add_success_message('This alert has been resolved!');
                    }
                }
            });
        });

        $('#save-note').click(function(e) {
            if (!$("#note-form").valid()) {
                e.preventDefault();
                return false;
            }

            $.ajax({
                url: '{% url 'alert.save_note' alert.id %}',
                method:'POST',
                data: {
                    details: $("#note_details").val()
                },
                success: function(data) {
                    if (data && data.success) {
                        toggleNotePanel(false);
                        notesTable.ajax.reload();
                    }

                }
            });
        });

        notesTable = $("#notes").DataTable({
            order: [[0, 'desc']],
            paging: true,
            searching: false,
            info: false,
            ajax: "{% url 'alert.get_notes' alert.id %}",
            columns: [
                {
                    title: "Date",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "Details Value",
                    data: "details"
                },
                {
                    title: "First Name",
                    data: "user__first_name"
                },
                {
                    title: "Last Name",
                    data: "user__last_name"
                }
            ],
            drawCallback: function() {
                stretch_pagination($(this));
            }
        });

        $("#occurrence-table").DataTable({
            order: [[0, 'desc']],
            paging: true,
            searching: false,
            info: true,
            ajax: "/alert/ajax/get_occurrences/{{ alert.id }}",
            columns: [
                {
                    title: "Date",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "Value",
                    data: "triggered_value"
                }
            ],
            initComplete: function(settings, json) {
                $(this).closest(".hidden").toggleClass('hidden', false);
            },
            drawCallback: function() {
                stretch_pagination($(this));
            }
        });

        // TODO: Kelly (this works but maybe could be done better?)
        $($('#occurrence-table_wrapper').children()[2]).css('display','flex')

        notifiedTable = $("#notified-table").DataTable({
            order: [[0, 'desc']],
            paging: true,
            searching: false,
            info: false,
            ajax: {
                url: "{% url 'alert.refresh_notifications' %}",
                method: "POST",
                data: { 'alert_id': {{ alert.id }} }
            },
            columns: [
                {
                    title: "Date",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "First Name",
                    data: "user__first_name"
                },
                {
                    title: "Last Name",
                    data: "user__last_name"
                },
                {
                    title: "Acknowledged?",
                    data: "has_acknowledged",
                    render: function(data) {
                        return data ? "Yes" : "No";
                    }
                }
            ],
            initComplete: function(settings, json) {
                $(this).closest(".hidden").toggleClass('hidden', false);
            },
            drawCallback: function() {
                stretch_pagination($(this));
            }
        });

        init_trigger_dialog_box("#trigger-detail");

        {% if trigger %}
            $(".view-trigger").click(function(e) {
                var url = "{% url 'alert.view_trigger' trigger.id %}";
                return open_dialog_box(e, '#trigger-detail', url);
            });
        {% endif %}

        {% if is_resolve %}
            toggleResolutionPanel(true);
        {% endif %}
    });
</script>
{% endblock %}
