{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    {% if trigger.name %}
        <h1>Trigger: {{ trigger.name }}</h1>
    {% else %}
        <h1>New Trigger</h1>
    {% endif %}
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form id="trigger_form" method="post" class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="form-group col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Asset</label>
                        <br />
                        {% asset_picker 'assetpicker' %}
                        <br /><br/>
                        <div class="form-group">
                            <label class="control-label">{{form.roll_up.label_tag}}</label>
                            {{form.roll_up}}
                            <label class="control-label">{{form.roll_down.label_tag}}</label>
                            {{form.roll_down}}
                            {% if perms.core.edit_shared_items %}
                                <label class="control-label">Is Shared:</label>
                                {{ form.is_global }}
                            {% endif %}
                        </div>
                        {% if perms.core.edit_shared_items %}
                            {% if trigger.is_global %}
                            <div class="form-group global" id="owner_is_global" hidden>
                                <label class="control-label">{{ form.owner.label_tag }}</label>
                                {{form.owner}}
                            </div>
                            {% else %}
                            <div class="form-group global" id="owner_div">
                                <label class="control-label">{{ form.owner.label_tag }}</label>
                                <div style="width: 75%">
                                    {{form.owner}}
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{ form.name.label_tag }} <span
                                    class="required">*</span></label>
                            <div>
                                {{ form.name }}
                                {% if form.name.errors %}{{ form.name.errors.as_text
                                }}{% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ form.severity.label_tag }} <span class="required">*</span></label>
                            <div>
                                {{ form.severity }}
                                {% if form.severity.errors %}{{ form.severity.errors.as_text }}{% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">{{ form.category.label_tag }}</label>
                                {{ form.category }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{ form.duration.label_tag }} <span class="required">*</span></label>
                            {{ form.duration }}
                            {% if form.duration.errors %}<span class="text-danger">{{ form.duration.errors.as_text }}</span>{% endif %}
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.duration_code.label_tag }}<span class="required">*</span></label>
                            {{ form.duration_code }}
                            {% if form.duration_code.errors %}{{ form.duration_code.errors.as_text }}{% endif %}
                        </div>
                        <div class="form-group">
                            <label class="control-label"><label>Interpolation Value</label></label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="interp_duration" class="form-control" maxlength="12"
                                   {% if interp_duration %} value="{{interp_duration}}" {% endif %} >
                                </div>
                                <div class="col-md-6">
                                    {{ form.interpolation_code }}
                                    {% if form.interpolation_code.errors %} {{form.interpolation_code.errors.as_text}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.default_on_platforms.label_tag }}<span class="required">*</span></label>
                            <div class="row">
                                <div class="col-md-6">
                                {{ form.default_on_platforms }}
                                {% if form.default_on_platforms.errors %}{{ form.default_on_platforms.errors.as_text }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <h2>Variables</h2>

            <div class="well">
                <div id="variable-picker" class="form-group x_panel" style="padding-top: 20px; padding-bottom:40px">

                    <div class="col-md-2">
                        <label class="control-label">Asset</label>
                        <div>
                            {% asset_picker 'varpicker' %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label class="control-label">Variable</label>
                        <div>
                            <select id="selectVariable" class="masterTooltip form-control" title="Please select an option.">

                            </select>
                        </div>
                        <div class="control-label">
                            <a id="buttonAdd" class="btn btn-primary trigger-add">Add</a>
                        </div>
                        </div>
                    </div>

                </div>

                <table id="variablesTable" class="table table-striped table-bordered" width="100%"></table>
            </div>
            <div class="col-md-12" style="padding: 0px;">
                <div class="form-group col-md-8" style="padding-left: 0px;">
                    <label class="=control-label col-md-2">{{ form.expression.label_tag}} <span
                            class="required">*</span></label><div id="validation_error"></div>
                            {{ form.expression }}
                    <br/>
                    <label class="=control-label col-md-2">{{ form.comments.label_tag}}</label>
                        {{ form.comments }}
                </div>
                <div class="well col-md-4 expression-well" style="margin-bottom: 0px;margin-top:28px;height: 238px;">
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                    <div class="expression-info" style="margin-left: 45px;margin-top: -45px;">
                        <br>
                        <b>Supported operators:</b><br>
                                Logical operators: &, |, ~<br>
                                Comparison operators: &lt;, &lt;=, ==, !=, &gt;=, &gt;<br>
                                Unary arithmetic operators: -<br>
                                Binary arithmetic operators: +, -, *, /, **, %, &lt;&lt;, &gt;&gt;<br><br>
                        <a href="http://numexpr.readthedocs.io/en/latest/user_guide.html" target="_blank">For more information, please see the documentation for NumExpr, the library used to process expressions</a>
                    </div>
                </div>
            </div>
                <div class="clear"></div>
                <h2>Mandatory Recipients</h2>
            <table id="trigger_sub" class="table table-striped table-bordered" width="60%">
            <thead>
                <tr>
                    <th rowspan="2" class="text-center">User</th>
                    <th class="text-center" colspan="2">Notify Immediately By</th>
                    <th class="text-center">Daily Summary</th>
                </tr>
                <tr>
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-email" />
                            Email
                        </label>
                    </th>
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-text" />
                            Text
                        </label>
                    </th>
                    <th class="text-center">
                        <label>
                            <input type="checkbox" id="select-all-summary" />
                            Email
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for value, text in form.owner.field.choices %}
                {% if value %}
                <tr>
                    <td class="text-center">{{text}}</td>
                    <td class="text-center">
                        <input value="{{value}}" class="email_immediately" type="checkbox"{% if value in email_selected %} checked {% endif %} />
                    </td>
                    <td class="text-center">
                        <input value="{{value}}" class="text_immediately" type="checkbox" {% if value in text_selected %} checked {% endif %}/>
                    </td>
                    <td class="text-center">
                        <input value="{{value}}" class="email_daily" type="checkbox" {% if value in summary_selected %} checked {% endif %}/>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
            <div class="form-group">
                <a href="{% url 'alert.manage_triggers' %}" id="btnCancel" class="btn btn-default">Cancel</a>
                <a id="btnValidate" class="btn btn-primary">Validate</a>
                {% if not is_readonly %}
                    <input type="submit" class="btn btn-primary" value="Save"/>
                {% endif %}
            </div>
            <input type="hidden" id="deletionVariableIds" name="deletionVariableIds"/>
            <input type="hidden" id="saveVariables" name="saveVariables" />
            <input type="hidden" id="email_notification" name="email_immediate" />
            <input type="hidden" id="text_notification" name="text_immediate" />
            <input type="hidden" id="email_summary" name="email_daily" />
            <input type="hidden" id="interpol_duration" name="interp_duration" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
{% asset_picker_scripts 'assetpicker' 'varpicker' %}
{% asset_picker_scripts 'varpicker' %}
<script type="text/javascript">
    $.widget("ui.tooltip", $.ui.tooltip, {
        options: {
            track: true,
            content: function() {
                return $(this).prop('title');
            }
        }
    });

    $("#btnValidate").click(function() {
        $("#id_expression").tooltip({tooltipClass: "validation_tooltip" });
        $("#validation_error").text('');
        $("#validation_error").removeClass();

        var variable_alias = [];
        $("input.form-control.expression-text").each(function() {
            variable_alias.push($(this).val());
        });

        $.ajax({
            url: "{% url 'variable.validate' %}",
            method: 'POST',
            data: {
                'variable_alias': variable_alias,
                'expression': $("#id_expression").val(),
            },
            success: function(resp) {
                var validText = resp.success[0] ? "valid" : "invalid";

                $("#id_expression").tooltip({
                    items: "#id_expression",
                    content: "Expression is " + validText,
                    classes: { "ui-tooltip": validText },
                    position: {
                        my:'right-50%',
                        at:'bottom-50%',
                        using: function(position, feedback) {
                          $(this).css(position);
                          $("<div>").addClass("arrow").appendTo(this);
                        }
                    }
                });
                $("#id_expression").tooltip("open");
            }
        });

        $('html, body').animate({
            scrollTop: $("#validation_error").offset().top
            }, 100);

        $("#id_expression").tooltip("disable");
    });

    var flag_id = '';
    {% for value, text in form.owner.field.choices %}
        flag_id = "{{value}}";
    {% endfor %}

    $("#id_is_global").change(function() {
        $(".form-group.global").toggle();

        var isGlobal = $("#id_is_global").is(':checked');

        $("#id_owner").val(isGlobal ? flag_id : "");
    });

    var variablesTable = null;
    var assetId = {{ trigger.asset.id|default:"0" }};

    $(function(){
        if("{{ trigger.asset.id }}" !== '') {
            $("#assetpicker-value").val({{ trigger.asset.id }});
            $("#assetpicker-name").text("{{ trigger.asset.name }} on {{ trigger.asset.platform.name }} ({{ trigger.asset.deployment.code }})");
        } else if ("{{ alert_asset.id }}" !== '') {
            $("#assetpicker-value").val({{ alert_asset.id }});
            $("#assetpicker-name").text("{{ alert_asset.name }} on {{ alert_asset.platform.name }} ({{ alert_asset.deployment.code }})");
        }

        var triggerId = {{ trigger.id|default:"0" }};
        var newVariableCounter = -1;

      $("#trigger_form").submit(function (e){
    	    var isValid = true;
            var variables = [];

    		variablesTable.rows().every (function () {
    		    var data = this.data();

    	        var variableId = data.variable_id;
    	        var triggerVariableId = data.id;

    	        var nameInExpression = $('.expression-text[data-variable-id=' + triggerVariableId + ']').val();
    	        if (nameInExpression.length == 0) {
    	            isValid = false;
    	        }

                variables.push({
                    triggerVariableId: triggerVariableId,
                    childId: variableId,
                    name: nameInExpression
                });
    		});

    		var interp_duration = $("#interp_duration").val();
            if(interp_duration) {
                $("#interpol_duration").val(interp_duration);
            }

    		if (!isValid) {
    		    e.preventDefault();
            }

    		$("#saveVariables").val(JSON.stringify(variables));

    		$("#email_notification").val(getCheckboxIds(".email_immediately:checkbox:checked"));
    		$("#text_notification").val(getCheckboxIds(".text_immediately:checkbox:checked"));
    		$("#email_summary").val(getCheckboxIds(".email_daily:checkbox:checked"));
    	});

    	function getCheckboxIds(selector) {
    	    return $(selector).map(function(){
    	        return $(this).val();
    	    }).get();
        }

        var saved_variables = "{{ saved_vars }}";

    	variablesTable = $("#variablesTable").DataTable({
            paging: false,
            searching: false,
            ordering: false,
            info: false,
            ajax: function(data, callback, settings) {
                if(saved_variables == "") {
                    $.ajax({
                        url: '/alert/ajax/trigger_variable_list/' + triggerId,
                        type: 'GET',
                        data: {},
                        success: callback
                    });
                } else {
                    $.ajax({
                        url: "{% url 'alert.saved_variables_list' %}",
                        method: 'POST',
                        data: { 'Variables': "{{ saved_vars }}" },
                        success: callback
                    });
                }
            },
            columns: [
                {
                    data: "id",
                    visible: false,
                    searchable: false
                },
                {
                    data: "variable_id",
                    visible: false,
                    searchable: false
                },
                {
                    title: "Variable Name",
                    data: "name"
                },
                {
                    title: "Name in Expression *",
                    data: "variable__name",
                    orderable: false,
                    render: function(data, type, row) {
                        return "<input type='text' maxlength='100' required='' class='form-control expression-text' data-variable-id=" + row.id + " value='" + row.name + "' />";
                    }
                },
                {
                    title: "Asset",
                    data: "variable__asset__name"
                },
                {
                    title: "Platform",
                    data: "variable__platform__name",
                    render: function(data, type, row) {
                        var name = data ? data : row.variable__asset__name;

                        return name ? name : "";
                    }
                },
                {
                    title: "Deployment",
                    data: "variable__deployment__name"
                },
                {
                    data: "id",
                    render: function(data) {
                        return"<a href='#' class='delete-link' data-variable-id=" + data + ">Delete</a>";
                    }
                }/*,
                {
                    data: "variable__asset__id"
                },
                {
                    data: "variable__platform__id"
                },
                {
                    data: "variable__deployment__id"
                }*/
            ]
        });

        $("#buttonAdd").click(function(){
            var option = $("#selectVariable").find(":selected");
            var newId = option.val();

            if (variablesTable.columns(1).data().indexOf(newId) < 0 && newId > 0)
            {
                variablesTable.row.add({
                    "id": newVariableCounter,
                    "variable_id": option.val(),
                    "name": option.attr('erddap-id'),
                    "variable__name": option.text(),
                    "variable__asset__name": option.attr('asset-name'),
                    "variable__platform__name": option.attr('platform-name'),
                    "variable__deployment__name": option.attr('deployment-name'),
                    "variable__asset__id": option.attr('asset-id'),
                    "variable__platform__id": option.attr('platform-id'),
                    "variable__deployment__id": option.attr('deployment-id')
                }).draw(false);

                newVariableCounter--;
                $('#selectVariable option:eq(0)').prop('selected', true);
            }
        });

        $('#variablesTable tbody').on('click', '.delete-link', function() {
            var variableId = $(this).data("variable-id");
            var deletionVariableIds = $("#deletionVariableIds");

            variablesTable.row($(this).parents('tr')).remove().draw(false);
            if (variableId < 0)
                return;

            var previousIds = [];
            if (deletionVariableIds.val()) {
                previousIds = JSON.parse(deletionVariableIds.val());
            }

            previousIds.push({id: variableId});
            deletionVariableIds.val(JSON.stringify(previousIds));
        });

        $("#varpicker-name").on('DOMSubtreeModified', function() {
            $.ajax({
                type: "GET",
                url: '/variable/ajax/variable_list_by_asset/' + $("#varpicker-value").val(),
                data: {},
                success: function(response) {
                    updateVariables(response);
                }
            });
        });

        function updateVariables(response) {
            var selectVariable = $("#selectVariable");
            var selectedAssetId = $("#varpicker-value").val();

            selectVariable.empty();
            selectVariable.find('option').remove();

            if (selectedAssetId < 1) {
                selectVariable.append($("<option value='0'>Please select an asset</option>"));
                return;
            }

            var variables = response.variables;
            if (!variables[0]) {
                selectVariable.append($("<option value='0'>No variables associated with this asset</option>"));
                return;
            }

            selectVariable.append($('<option value="0"></option>'));
            for (var i in variables) {
                unitText = (variables[i][8]) ? " (" + variables[i][8] + ")" : "";

                if(variables[i][1].substring(variables[i][1].length -1, variables[i][1].length) === ')') {
                    unitText = '';
                }

                selectVariable.append($(
                    '<option value="' + variables[i][0] + '" ' +
                        'asset-id="' + variables[i][2] + '" ' +
                        'asset-name="' + variables[i][3] + '" ' +
                        'platform-id="' + variables[i][4] + '" ' +
                        'platform-name="' + variables[i][5] + '" ' +
                        'deployment-id="' + variables[i][6] + '" ' +
                        'deployment-name="' + variables[i][7] + '" ' +
                        'erddap-id="' + variables[i][9] +
                    '">' + variables[i][1] + unitText + '</option>'));
            }
        }
    });

    $("#select-all-email").change(function() {
        $(".email_immediately").prop("checked", this.checked);
    });

    $("#select-all-text").change(function() {
        $(".text_immediately").prop("checked", this.checked);
    });

    $("#select-all-summary").change(function() {
        $(".email_daily").prop("checked", this.checked);
    });

    $(function() {
        init_jquery_select2();
        // Make form read only
        if ("{{ is_readonly }}" === "True") {
            $('#id_roll_up, #id_roll_down, #id_name, #id_severity, #id_category, #id_duration, #id_duration_code, #interp_duration, #id_interpolation_code, #id_expression, #id_comments').attr('disabled', true);
            $('.expression-text, #select-all-email, #select-all-text, #select-all-summary, .email_immediately, .text_immediately, .email_daily').attr('disabled', true);
            $('#assetpicker-button, #variable-picker, #btnValidate').hide();
            $('#btnCancel').html('Return');

            // DataTable fields take some time to load up so we delay it a little before disabling for read only
            setTimeout(function() {
                $('.expression-text').attr('disabled', true);
                $('.delete-link').hide();
            }, 500);
        }
    });
</script>
{% endblock %}
