{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block content %}
<div id="alert-subscription-settings" class="x_content">
    {% if save_confirmed %}
    <div class="alert alert-success">
        Alert subscriptions have been saved successfully
        <script type="text/javascript">
            $(".ui-dialog-titlebar-close").click();
            add_success_message("Alert subscriptions have been saved successfully");
        </script>
    </div>
    {% elif not triggers %}
    <div class="well">
        <i class="fa fa-info-circle"></i>
        <span>This platform does not have any alert triggers</span>
    </div>
    <div class="text-center">
        <button id='close-window' type="button" class="btn btn-default">Close Window</button>
    </div>
    {% else %}
    <form method="POST" id="subscriptions-form">
        {% csrf_token %}
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Alert</th>
                        <th class="text-center" colspan="2">Notify Immediately By</th>
                        <th class="text-center">Daily Summary</th>
                    </tr>
                    <tr>
                        <th class="text-center">
                            <label>
                                <input type="checkbox" id="select-all-email" {% if all_emails_selected %}checked="checked"{% endif %} />
                                Email
                            </label>
                        </th>
                        <th class="text-center">
                            <label>
                                <input type="checkbox" id="select-all-text" {% if all_texts_selected %}checked="checked"{% endif %} />
                                Text
                            </label>
                        </th>
                        <th class="text-center">
                            <label>
                                <input type="checkbox" id="select-all-summary" {% if all_summaries_selected %}checked="checked"{% endif %} />
                                Email
                            </label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for trigger in triggers %}
                    <tr>
                        <td>{{ trigger.name }}</td>
                        <td class="email-immediately">
                            <input type="checkbox" name="email" value="{{ trigger.id }}"
                                   {% if trigger.id in email_ids %}checked="checked"{% endif %} />
                        </td>
                        <td class="text-immediately">
                            <input type="checkbox" name="text" value="{{ trigger.id }}"
                                {% if trigger.id in text_ids %}checked="checked"{% endif %} />
                        </td>
                        <td class="daily-summary">
                            <input type="checkbox" name="summary" value="{{ trigger.id }}"
                                {% if trigger.id in summary_ids %}checked="checked"{% endif %} />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <button id='cancel-subscription' type="button" class="btn btn-default">Cancel</button>
        <button id="save-subscription" class="btn btn-primary">Save</button>
    </form>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        function attach_select_all(wrapper, select_all) {
            var checkboxes = $(wrapper + " input[type=checkbox]");

            $(select_all).click(function(){
                checkboxes.prop("checked", $(this).prop('checked'));
            });

            checkboxes.click(function(){
                $(select_all).prop(
                    "checked",
                    (checkboxes.length == checkboxes.filter(':checked').length)
                );
            });
        }

        $("#save-subscription").click(function(){
            $.ajax({
                url: '/alert/manage_subscriptions/{{ asset.id }}',
                method: 'POST',
                data: $("#subscriptions-form").serialize(),
                success: function(data) {
                    $("#alert-subscriptions-container").html(data);
                }
            });

            return false;
        });

        $("#cancel-subscription, #close-window").click(function(){
            $(".ui-dialog-titlebar-close").click();
            return false;
        });

        attach_select_all('.email-immediately', '#select-all-email');
        attach_select_all('.text-immediately', '#select-all-text');
        attach_select_all('.daily-summary', '#select-all-summary');
    });
</script>
{% endblock %}
