{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    {% if plot.name %}
        <h1>Cloning Plot: <a href='/asset/edit_plot/{{ plot.asset.id }}/{{ deployment_code }}/{{ plot.id }}'>{{ plot.name }}</a></h1>
    {% else %}
        <h1>Clone Plot</h1>
    {% endif %}
{% endblock %}

{% block content %}
<div id="clone-details" class="row">
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Clone {{ plot.name }} to:</h2>
                <div class="nav navbar-right panel_toolbox">
                    <a id="btn-clone" class="btn btn-sm btn-primary">Clone Plot</a>
                    <input type="hidden" id="plot" />
                    <input type="hidden" id="target_asset_ids" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row" id="dispositions">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
            <div class="x_content">
                {% if not perms.core.clone_without_owning and plot.user != user %}
                <div class="alert alert-info">
                <strong>Note:</strong> All cloned plots will be owned by you, even if the original plots were shared, or owned by someone else
                </div>
                {% endif %}
                <div id="js-grid-target-assets"></div>
            </div>
            <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                <table class="table table-striped table-bordered" id="target-assets-table">
                    <tbody>
                    {% if target_assets %}
                        {% for target_asset in target_assets %}
                            <tr class="{% if not target_asset.disposition_id in shown_dispositions %}hide{% endif %}"
                                data-disposition-id="{{ target_asset.disposition_id }}">
                                <td>
                                    &nbsp;
                                    <input type="checkbox" name="target_asset" value="{{ target_asset.asset_id }}" />
                                    <label>
                                        {% autoescape off %}{{ target_asset|asset_fullname }}{% endautoescape %}
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                There are no compatible assets to clone to.
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{% url 'plots.manage_plots' %}" id="btnBack" class="btn btn-default">Back to Listing</a>
        <a id="btn-clone-bottom" class="btn btn-sm btn-primary">Clone Plot</a>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Plot Summary</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content alert-summary">
                <div id="plot-detail" class="dialog-box"></div>
                <form class="label-left">
                    <div class="form-group">
                        <label class="control-label">Plot: </label>
                        <span>{{ plot.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type: </label>
                        <span>{{ plot.plot_type.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Class: </label>
                        <span>{{ plot.plot_class.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Time Range: </label>
                        <span>{{ plot.plot_time_range.name }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Created:</label>
                        <span>{{ plot.created|date:"n/j/y g:iA"|lower }} UTC</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Shared:</label>
                        <span>{{ plot.is_global }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Asset:</label>
                        <span>{{ plot.asset.code }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Platform:</label>
                        <span>{{ plot.asset.platform.code }}</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Variables</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-variables"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered" id="variables-table">
                    <thead>
                        <tr>
                            <th>Variable Name</th>
                            <th>Linked Asset</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if variables %}
                        {% for variable in variables %}
                            <tr>
                                <td>{{ variable.name }}</td>
                                <td>{{ variable.asset.name }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">Plot has no variables.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>L3 Variables</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-variables"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered" id="l3-vars-table">
                    <thead>
                        <tr>
                            <th>Variable Name</th>
                            <th>Linked Asset</th>
                            <th>Expression</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if l3_vars %}
                        {% for variable in l3_vars %}
                            <tr>
                                <td>{{ variable.name }}</td>
                                <td>{{ variable.asset.name }}</td>
                                <td>{{ variable.expression }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">Plot has no L3 variables.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="loading-panel" class="hidden col-md-12" style="height: 400px; text-align: center; margin-top: 30px">
    <!--<div class="col-md-10 col-lg-8 text-center" style="padding-top:100px">-->
    <!--<img src="/static//images/loading.gif" />-->
    <h2>Please wait while plot is being cloned.</h2>
    <div class="lds-css ng-scope">
        <div class="lds-spinner" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
</div>
<div id="complete-details" class="row hidden">
    <div class="row">
        <div id="success-table" class="col-md-5 col-lg-4 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-success">The plot has been successfully cloned to the following assets. Refer to the list below for links to each of the cloned plots.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-success-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="success-assets-table">
                        <tbody id="success-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="failed-table" class="col-md-5 col-lg-4 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-danger">The cloning of the plot has failed for the following assets. Refer to the list below to verify that the plotted variables are compatible with the selected assets.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-failed-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="failed-assets-table">
                        <tbody id="failed-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <a href="{% url 'plots.manage_plots' %}" id="btnBack2" class="btn btn-default">Back to Listing</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
<script type="text/javascript">
    var plot_class_dict = {{ plot_class_dict|safe }};

    $(function(){
        $("#dispositions input[type=checkbox]").click(function(){
            $("#dispositions input[type=checkbox]").each(function(){
                var id = $(this).attr('data-value');
                $("tr[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));

                if (!$(this).is(":checked")) {
                    $("tr[data-disposition-id=" + id + "] input[type=checkbox]").prop('checked', false);
                }
            });
        });

        $('#btn-clone, #btn-clone-bottom').click(function(e) {
            var target_asset_ids = '';
            $('input:checkbox[name=target_asset]:checked').each(function(index) {
                target_asset_ids += this.value + ',';
            });
            if (target_asset_ids.length > 0) {
                target_asset_ids = target_asset_ids.substring(0,target_asset_ids.length-1);
            }

            if (target_asset_ids.length > 0) {
                $('#loading-panel').toggleClass('hidden', false);
                $('#clone-details').toggleClass('hidden', true);

                $.ajax({
                    url: '{% url 'plots.execute_clone_plot' %}',
                    method:'POST',
                    data: {
                        'plot_id': {{ plot.id }},
                        'target_asset_ids': target_asset_ids
                    },
                    success: function(data) {
                        if (data) {
                            // console.log(data);

                            if (data.success && data.successful_assets.length > 0) {
                                add_success_message('Plot has been successfully cloned to ' + data.successful_assets.length + ' asset(s).' );
                            } else {
                                add_failed_message('Plot was not successfully cloned. Please verify assets are compatible.');
                            }

                            $('#loading-panel').toggleClass('hidden', true);
                            $('#complete-details').toggleClass('hidden', false);

                            var successful_assets = data.successful_assets;
                            if (successful_assets.length > 0) {
                                var $success_table_body = $('#success-assets-table-body');
                                for (var i=0; i < successful_assets.length; i++) {

                                    var x_var_str = successful_assets[i].X_VariableIDs
                                    var y_var_str = successful_assets[i].Y_VariableIDs

                                    // TODO: y_var_str is empty when coming to this page with an L3 variable

                                    // inject a generic x or y variable name if its a timeseries plot
                                    var plot_class = Object.keys(plot_class_dict).filter(function(key) {
                                            return plot_class_dict[key] === Number(successful_assets[i].PlotClass)
                                        })[0];

                                    if (plot_class === 'Timeseries') {
                                        x_var_str = 'Time';
                                    }

                                    var y_dir = '{{ y_direction }}'.toLowerCase() === 'true' ? true : false;

                                    $success_table_body.append("<tr><td><a href='/asset/edit_plot/"
                                    + successful_assets[i].AssetID
                                    + "/"
                                    + successful_assets[i].DeploymentCode
                                    + "/"
                                    + successful_assets[i].PlotID
                                    + "'>"
                                    + successful_assets[i].AssetName
                                    + "</a></td></tr>");
                                }

                                $('#success-table').toggleClass('hidden', false);
                            }

                            var failed_assets = data.failed_assets;
                            if (failed_assets.length > 0) {
                                var $failed_table_body = $('#failed-assets-table-body');
                                for (var i=0; i < failed_assets.length; i++) {
                                    $failed_table_body.append("<tr><td>" + failed_assets[i].Message + "</td></tr>");
                                }

                                $('#failed-table').toggleClass('hidden', false);
                            }
                        }
                    }
                });
            } else {
                alert('Please select at least one asset to clone to.');
            }
        });
    });
    </script>
{% endblock %}