{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}


{% block topnav %}
<h1>{{ platform_name }} - {{ name }}</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

<div class="x_content">
    <span>
    {% if shared %}
    <form action="{% url 'plot.import_plot_page' %}" method="post" id="import_form">
        {% csrf_token %}
        <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}" />
        <button type="submit" id="import" class="btn btn-primary" style="float:top">Import Plot Page</button>
    </form>
    {% else %}

    <form action="{% url 'plot.plot_list' asset.id %}" method="post" id="edit_form">
        {% csrf_token %}
        <input type="hidden" name="selected_plot_ids" value="{{ plots }}" id="plot_ids"/>
        <input type="hidden" name="page_name" value="{{ name }}" />
        <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}" />
        <input type="hidden" name="asset_overview" value="{{ asset_overview }}" />
        <button type="submit" id="edit" class="btn btn-primary" style="float:top">Edit Plot Page</button>

        <button type="button" id="share_plot" class="btn btn-primary">Share Plot Page</button>
        <button type="button" id="delete_plot_page" class="btn btn-danger">Delete Plot Page</button>
    </form>
    <div id="plot_page_alert"></div>
        <div hidden id="email_share">
            <div  class="x_panel">
                <form id="email_form">
                    <div class="col-md-12">
                        <div id="notification" style="color: #ffffff;width:635px;"></div>
                    </div>
                    <div style="width: 180px;float: left;">
                        List of Email Addresses:<br />
                        <span class="instructions">Separated by commas or semi-colons</span>
                    </div>
                    <div style="display:inline-block;width:80%" id="email_share_div">
                        <textarea id="email_textarea" name="email" style="width:22.5%"></textarea>
                        <button type="button" id="send_email" class="btn btn-sm btn-primary" style="position:relative;">Send Email</button>
                    </div>
                </form>
            </div>
        </div>
        {% if code %}
        <button type="button" id="disable_sharing" class="btn btn-sm btn-primary">Disable Sharing</button>
        {% else %}
        {% endif %}
    {% endif %}
        </span>
    <br />
    <div class="x_content" id="plot-list" data-plot-page-id="{{plot_page_id}}">
        {% for plot in plots %}
        <div class="col-lg-6">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <input name="start_date" type="text" placeholder="Start Date" class="datepicker start_date start_date{{ plot.id }}" value="{{plot.start_date|date:'Y-m-d'}}">
                            <input name="end_date" type="text" placeholder="End Date" class="datepicker end_date end_date{{ plot.id }}" value="{{plot.end_date|date:'Y-m-d'}}">
                            <select class="time-window time-window{{ plot.id }}">
                                {% for id, val in time_choices_dict.items %}
                                    {% if plot.plot_time_range.id == id %}
                                        <option value="{{ id }}" selected>{{ val.name }}</option>
                                    {% else %}
                                        <option value="{{ id }}">{{ val.name }}</option>
                                    {% endif  %}
                                {% endfor %}
                            </select>
                            <select class="plot-type-window{{ plot.id }}">
                                {% for val, name in plot_type_choices %}
                                    {% if not plot.plot_type and val == 1 %}
                                        <option value="{{ val }}" selected>{{ name }}</option>
                                    {% elif plot.plot_type.id == val %}
                                        <option value="{{ val }}" selected>{{ name }}</option>
                                    {% else %}
                                        <option value="{{ val }}">{{ name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <select class="y-axis-orientation{{ plot.id }}">
                               {% for val, name in yaxis_choices %}
                                    <option value="{{ val|lower }}" {% if plot.yaxis_dir %} selected {% endif %}>
                                        Y-Axis {{ name|lower }}
                                    </option>
                               {% endfor %}
                            </select>
                            <button type="button" class="btn btn-xs btn-primary update-plot plot-btn"
                                            data-plot-id="{{ plot.id }}" data-asset-id="{{ plot.asset.id }}"
                                            data-x-variable-id="{{ plot.x_var }}"
                                            data-y-variable-id="{{ plot.y_var }}"
                                            data-plot-class="{{ plot.plot_class.name }}"
                                            data-plot-global="global_{{ plot.is_global}}" data-plot-name="{{ plot.name }}"
                                            data-deployment-id="{{ deployment.id }}" style="margin-right:20px">Plot</button>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link-all" id="{{ plot.id }}"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="plot{{ plot.id }}" class="pre-loaded-plot" style="display: flex"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
<script type="text/javascript">

        var full_plot_access;
        {% if perms.core.edit_shared_items %}
            full_plot_access = true;
        {% else %}
            full_plot_access = false;
        {% endif %}

        var plot_class_dict = {{ plot_class_dict|safe }};
        var time_choices_dict = {{ time_choices_dict|safe }};

        function validate_email(email_list) {
            var regex = /^(([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)(\s*;|,| |; |, \s*|\s*$))*$/;
            return regex.test(email_list);
        };

        $("#delete_plot_page").click(function() {
            if(confirm("Would you like to delete this plot page?")) {
                $.ajax({
                    url: "{% url 'plot.delete_plot_page' %}",
                    method: 'POST',
                    data : {
                        'plot_page_id': {{ plot_page_id }}
                    },
                    success: function() {
                        var asset_id = {{ asset.id }};
                        var code = "{{ deployment.code }}";
                        var url = "{% url 'asset.overview' 'asset_id' 'code' %}".replace('asset_id', asset_id).replace('code', code);
                        url += '?confirm=2'
                        location.href = url;
                    }
                });
            }
        });

        $('#disable_sharing').click(function() {
            $.ajax({
                url: "{% url 'plot.disable_sharing' %}",
                method: 'POST',
                data: {
                    'plot_page_id': {{ plot_page_id }}
                },
                success:function() {
                    add_success_message("Sharing disabled.");
                }
            });
        });

        $("#share_plot").click(function() {
            $("#email_share").show();
        });

        $('#send_email').click(function() {
            $("#notification").text('');
            var email = $('#email_textarea').val();
            if(email.length == 0) {
                $("#notification").text('Please enter an email address').addClass("alert alert-danger");
            } else if(validate_email(email)) {
                $.ajax({
                    url: "{% url 'plot.share_plot_page' %}",
                    method: 'POST',
                    data: {
                        'email_recip': email,
                        'plot_page_id': {{ plot_page_id }}
                    },
                    success:function(data) {
                        add_success_message("Plot page shared.");
                    }
                });
                $("#email_share").hide();
                $("#email_textarea").val('');
                $("#notification").text('');
            } else {
                $("#notification").text('Please enter valid email addresses').addClass("alert alert-danger");
            }
        });

        var plotArray = [];
        {% for plot in plots %}
        plotArray.push({{plot.id}});
        {% endfor %}
        $('#plot_ids').val(plotArray);


        function removePlot() {
            var available_plots = plotArray;
            if(confirm("Would you like to remove this plot?")) {
                var id = parseInt($(".close-link-all").attr('id'));
                var index = available_plots.indexOf(id);
                available_plots.splice(index,1);
                if(available_plots.length != 0) {
                    $.ajax({
                        url: "{% url 'plot.save_plot_page' %}",
                        method: 'POST',
                        data: {
                            'plot_ids': available_plots,
                            'plot_page_name': "{{ name }}",
                            'plot_page_id': {{ plot_page_id }},
                            'asset_id': {{ asset.id }},
                            'asset_overview': "False"
                        },
                        success:function(d) {
                            add_success_message("Plot page saved.");
                        }
                    });
                    var $div_panel = $(this).closest('.col-lg-6');
                    $div_panel.remove();
                    $('#plot_ids').val(available_plots);
                } else {
                    $("#plot_page_alert").text("You cannot have a plot page without any plots. " +
                    "Please click the Delete button to delete the page.").addClass("alert alert-danger");
                }
            }
        }

        $(document).ready(function() {
            var groupDataId = 'group-{{ asset.group_id }}';
            var platformId = 'platform-{{ asset.platform_id }}';
            var url = location.href;
            if(url.indexOf("confirm") !== -1) {
                add_success_message("Plot page saved.");
            }
            $(".close-link-all").unbind("click");
            $(".close-link-all").bind("click", removePlot);
            SetupCurrentSideNavMenu(groupDataId, platformId);
        });

    // build custom context menu items object and include the edit url as an argument
    var edit_url = window.location.origin + "{% url 'plots.edit_plot' asset.id deployment.code 'plotid' %}"

    var customContextMenuItems = buildCustomContextMenuItems(standardContextMenuItems, edit_url, from_where='plot_page{{ plot_page_id }}')

    // custom exporting object
    var custom_exporting = jQuery.extend(true, {}, default_exporting);
    custom_exporting.buttons.contextButton.menuItems = customContextMenuItems

        {% for plot in plots %}

            // Pre-loaded plots
            var global_str = '{{ plot.is_global }}';
            var global = global_str === 'True' && !full_plot_access ? 'global_True' : 'global_False';

            var plot_type;
            if ('{{ plot.plot_type }}' === 'None' || '{{ plot.plot_type }}' === 'Line') {
                plot_type = 'line';
            } else if ('{{ plot.plot_type }}' === 'Scatter') {
                plot_type = 'scatter'
            } else {
                plot_type='line';
            }

            var y_direction = '{{ plot.yaxis_dir }}'.toLowerCase() === 'true' ? true : false;

            var plot_class, x_var, y_var;
            if ('{{ plot.plot_class }}' === 'None' || '{{ plot.plot_class }}' === 'Timeseries') {
                plot_class = 'Timeseries';
                x_var = 'time';
            } else {
                plot_class = 'Comparison';
                x_var = '{{ plot.x_var }}';
            }
            y_var = '{{ plot.y_var }}';

            var time_window = {{ plot.plot_time_range.days }};

            var start_date = "{{ plot.start_date|date:'Y-m-d' }}";
            var end_date = "{{ plot.end_date|date:'Y-m-d' }}";


            update_plot(
                {{ plot.asset.id }}, // TODO(mchagnon): what if a plot covers more than one asset (instrument)?
                '{{ plot.asset.deployment.id }}',
                x_var.replace(/[\[\]']+/g, ''),
                y_var.replace(/[\[\]']+/g, ''),
                time_window,
                "plot{{ plot.id }}",
                "{{ plot.name|safe }}",
                global,
                plot_type,
                plot_class,
                y_direction,
                start_date,
                end_date
            );
        {% endfor %}


    $(document).on('click','.update-plot', function() {

            var plot_id = $(this).attr('data-plot-id');
            var asset_id = $(this).attr('data-asset-id');
            var deployment_id = $(this).attr('data-deployment-id');
            var plotname = $(this).attr('data-plot-name');
            var plotglobal = $(this).attr('data-plot-global') === 'global_True' && !full_plot_access ?
                'global_True' : 'global_False';
            var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
            var plot_class = $(this).attr('data-plot-class');;
            var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;

            var x_vars = $(this).attr('data-x-variable-id').replace(/[\[\]']+/g, '');
            var y_vars = $(this).attr('data-y-variable-id').replace(/[\[\]']+/g, '');

            var $time_window_el = $(".time-window" + plot_id);
            var start_date = undefined;
            var end_date = undefined;
            var time_window = undefined;
            if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
                start_date = $(".start_date"+ plot_id).val();
                end_date = $(".end_date"+ plot_id).val();
                time_window = $time_window_el.val();
            }else{
                time_window = time_choices_dict[$time_window_el.val()]['days']
            }

            if (plot_class === 'Timeseries') {
                x_vars = 'time'
            }

            update_plot(asset_id, deployment_id, x_vars, y_vars, time_window,'plot' + plot_id, plotname,
                plotglobal, plot_type_window, plot_class, y_direction, start_date, end_date);
        });

    function permanentlyDelete(plotid) {

        var ajaxCall = $.ajax({
            url: '/asset/ajax/delete_custom_plot',
            method: 'POST',
            data: {
                'plot_id': plotid,
            }
        });

        ajaxCall.done(function(resp) {
            if (resp.success) {
                // find the closest x_panel based on the plotid of the deleted plot whose id gets returned
                var $DIV_PANEL = $('div[id=' + '"plot' + resp.plotid + '"]').closest('.col-lg-6')
                $DIV_PANEL.remove();
            }
        })
    }
</script>
{% endblock %}
