{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}


<div id="plot_page" class="x_panel col-md-12">
    <div id="x-content" class="test-plots plot-colors">
        <div class="form-group x_panel" style="padding-bottom:20px">
            <div class="col-md-6">
                <label class="control-label">Name:<span class="required"> *</span></label>
                <div>
                    <input id="plot-page-name" class="form-control" value="{{ page_name }}"/><div style="display:inline-block" id="empty_notification"></div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="control-label">Select Asset:</label>
                <div>
                    {% asset_picker 'assetpicker' %}
                </div>
            </div>
        </div>


        <h4 class="bg-info" style="padding: 15px;">Select up to 10 plots</h4>


        <div class="row">
            <div class="col-lg-3">
                <h4>Available Plots</h4>
                <select id="plot_select" size="20" style="width:100%;" multiple>
                    <option>Please select an asset</option>
                </select>
                <br />
                <button style="margin-top: 5px;" type="button" class="btn btn-primary btn-sm preview preview-button">Preview</button>
                <button style="margin-top: 5px;" id="add_plot" type="button" class="btn btn-primary btn-sm preview">Add</button>
            </div>
            <div class="col-lg-3" id="selected_plots_div">

            <h4 id="selected_title" style="">Selected Plots</h4>

            <select id="selected_plots" size="20" style="width:100%;" multiple>
                {% if default_plots %}
                {% for plot in default_plots %}
                <option value="{{plot.id}}" data-asset-id="{{plot.asset_id}}" data-variable-x="{{plot.x_var}}" data-variable-y="{{plot.y_var}}"
                        data-plot-type="line" data-plot-class="Timeseries" data-yaxis-direction="false">{{plot.name}}</option>
                {% endfor %}
                {% endif %}
                {% if selected_plots %}
                {% for p in selected_plots %}
                <option value="{{p.plot.id}}" data-asset-id="{{p.plot.asset_id}}" data-variable-x="{{p.plot.x_var}}" data-variable-y="{{p.plot.y_var}}"
                        data-plot-type="line" data-plot-class="Timeseries" data-yaxis-direction="false">{{p.plot.name}}</option>
                {% endfor %}
                {% endif %}
            </select>
            <br>
            <button style="margin-top: 5px;" type="button" class="btn btn-primary btn-sm preview preview-button">Preview</button>

            <button style="margin-top: 5px;" id="remove_plot" class="btn btn-primary btn-sm">Remove</button>
        </div>
            <div class="col-lg-6">
                <h4 style="text-align: center;">Plot Preview</h4>
                <div class="x_panel" style="min-height: 305px;text-align: center;" id="plot-preview-div"><p class="select-text">Select a plot to preview</p></div>
            </div>
        </div>
    </div>


    <br />
    <button style="margin-top: 20px;" id="cancel" class="btn btn-default" onclick="window.location.href = '{% url 'asset.overview' asset.id deployment.code %}'">Cancel</button>
    <button style="margin-top: 20px;" id="plot-page" class="btn btn-primary">Save</button>


</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
{% asset_picker_scripts 'assetpicker' %}
<script type="text/javascript">

    var plot_class_dict = {{ plot_class_dict|safe }};

    var plot_page_id = 0;
    $('#cancel').click(function() {
        var referrer_url = document.referrer;
        if(referrer_url.indexOf('asset/overview/') != -1) {
            var asset_id = {{ asset.id }};
            var code = "{{ deployment.code }}";
            var url = "{% url 'asset.overview' 'asset_id' 'code' %}".replace('asset_id', asset_id).replace('code', code);
            location.href = url;
        } else if(referrer_url.indexOf('asset/plot_page/') != -1) {
            var plotPageStrIndex = document.referrer.indexOf('plot_page');
            var plot_page_num = '{{ plot_page_id }}' ? '{{ plot_page_id }}' :
                document.referrer.slice(plotPageStrIndex).split('/')[1];
            var url = "{% url 'plot.plot_page' 'page_id' %}".replace('page_id', plot_page_num);

            location.href = url;
        }
    });

    $("#assetpicker-name").on('DOMSubtreeModified', function() {
        getPlots();
    });

    function getPlots() {
        var asset = $("#assetpicker-value").val();
        $.ajax({
            url: "{% url 'plot.plot_list_by_asset' %}",
            method: "POST",
            data: {'asset_id': asset},
            success: function(response) {
                updatePlots(response);
            }
        });
    };

    function updatePlots(response) {
        var selectPlot = $("#plot_select");
        selectPlot.empty();
        var selectedAssetId = $("#assetpicker-value").val();
        var plots = response.plots;
        var selected_plot_ids = [];
        $("#selected_plots option").each(function() {
            selected_plot_ids.push($(this).val()); //'" data-plot-type="' + plots[i][4]
        });
        if(plots[0]) {
            for(var i in plots) {
                if(selected_plot_ids.indexOf(String(plots[i][0])) == -1) {

                    var plot_class = Object.keys(plot_class_dict).filter(function(key) {
                        return plot_class_dict[key] === Number(plots[i][6])})[0];

                    selectPlot.append($('<option value="' + plots[i][0] + '" data-asset-id="' +
                    plots[i][2] + '" data-variable-x="' + plots[i][3] + '" data-variable-y="' + String(plots[i][4]) +
                    '" data-plot-type="' + (plots[i][5]).toLowerCase() +
                    '" data-plot-class="' + plot_class + '" data-yaxis-direction="' + plots[i][7] + '">'+ plots[i][1] + '</option>'));
                }
            }
        } else {
            selectPlot.append($('<option value="0">No plots associated with this asset</option>'));
        }
    };

    $("#add_plot").click(function() {
        $("#plot_select option:selected").each(function(){

            var plotItemClone = $(this).clone()[0].outerHTML;
            $('#selected_plots').append(plotItemClone)
            $(this).remove();
        });
    });

    $("#plot_select").on('dblclick', 'option', function() {

        var plotItemClone = $(this).clone()[0].outerHTML;
        $('#selected_plots').append(plotItemClone)
        $("#plot_select option:selected").remove();
    });

    $("#remove_plot").click(function() {
        $("#selected_plots option:selected").each(function() {
            var asset_id = $(this).attr('data-asset-id')

            if(asset_id == $("#assetpicker-value").val()) {
                var plotItemClone = $(this).clone()[0].outerHTML;
                $('#plot_select').append(plotItemClone)
            }
            $(this).remove();
        });
    });

    $("#selected_plots").on('dblclick', 'option', function() {
        var asset_id = $("#selected_plots option:selected").attr('data-asset-id');

        if(asset_id == $("#assetpicker-value").val()) {
            var plotItemClone = $(this).clone()[0].outerHTML;
            $('#plot_select').append(plotItemClone)
        }

        $("#selected_plots option:selected").remove();

    });

    $(document).ready(function() {
        var groupDataId = 'group-{{ asset.group_id }}';
        var platformId = 'platform-{{ asset.platform_id }}';
        SetupCurrentSideNavMenu(groupDataId, platformId);
    });

    $("#plot-page").click(function(e){
        var plot_ids = [];
        $("#selected_plots option").each(function() {
            plot_ids.push($(this).val());
        });
        var plot_page_name = $("#plot-page-name").val();
        var asset_overview = "{{ asset_overview }}";
        if("{{ plot_page_id }}" !== "")
        {
            plot_page_id = "{{plot_page_id}}";
        }
        if($("#selected_plots option").length == 0)
        {
            document.getElementById("empty_notification").innerText = "Please select a plot";
        }
        else if(plot_page_name.length > 0)
        {
            $.ajax({
            url: "{% url 'plot.save_plot_page' %}",
            method: 'POST',
            data: {
                'plot_ids': plot_ids,
                'plot_page_name': plot_page_name,
                'plot_page_id': plot_page_id,
                'asset_id': {{ asset.id }},
                'asset_overview': "{{ asset_overview }}",
            },
            success:function(data) {
                plot_page_id = data['plot_page_id'];
                var id = data['plot_page_id'];

                if(asset_overview == "True") {
                    var asset = {{ asset.id }};
                    var url = "{% url 'asset.overview' 'asset_id' 'code' %}";
                    url = url.replace('asset_id',asset).replace('code', "{{ deployment.code }}");
                    url = url + "?confirm=1";
                    location.href = url;
                } else {
                    var url = "{% url 'plot.plot_page' 'id' %}".replace('id', id);
                    url = url + "?confirm=1";
                    location.href = url;
                }
                }
            });

        }
        else
        {
            document.getElementById("empty_notification").innerText = "Please enter a name";
        }
    });

    $(".preview-button").click(function(e){
        if($("#plot_select option").is(':selected')) {
            var x_vars = $("#plot_select option:selected").attr('data-variable-x');
            var y_vars = $("#plot_select option:selected").attr('data-variable-y');

            var asset_id = $("#plot_select option:selected").attr('data-asset-id');
            var time_window = -1;
            var container = "plot-preview-div";

            var plot_type = $("#plot_select option:selected").attr('data-plot-type');
            var plot_class = $("#plot_select option:selected").attr('data-plot-class');

            if (plot_class === 'Timeseries') {
                x_vars = 'time'
            }

            var y_direction = $("#plot_select option:selected").attr('data-yaxis-direction').toLowerCase() === 'true' ? true : false;

            update_plot(asset_id, "{{ deployment.id }}", x_vars, y_vars, time_window, container,
                $("#plot_select option:selected").text(),'global_True', plot_type, plot_class, y_direction);

        } else if($("#selected_plots option").is(':selected')) {
            var x_vars = $("#selected_plots option:selected").attr('data-variable-x');
            var y_vars = $("#selected_plots option:selected").attr('data-variable-y');

            var asset_id = $("#selected_plots option:selected").attr('data-asset-id');
            var time_window = -1;
            var container = "plot-preview-div";

            var plot_type = $("#selected_plots option:selected").attr('data-plot-type');
            var plot_class = $("#selected_plots option:selected").attr('data-plot-class');

            if (plot_class === 'Timeseries') {
                x_vars = 'time'
            }

            var y_direction = false;

            update_plot(asset_id, "{{ deployment.id }}", x_vars, y_vars, time_window, container,
                $("#selected_plots option:selected").text(),'global_True', plot_type, plot_class, y_direction);
        }


       });

</script>
{% endblock %}