{% extends 'public.html' %}
{% load static %}

{% block content %}


    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                        {% if form.errors %}
                             <div class="alert alert-danger" id="divError">
                                 {{form.non_field_errors}}
                            </div>
                    <div class="clearfix"></div>
                        {% endif %}


                    <form id="login-form" method="post" action="{% url 'account.login' %}">
                        {% csrf_token %}
                        <h1>OMS++ Login</h1>
                        <div>
                            {{ form.username }}
                        </div>
                        <div>
                            {{ form.password }}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Log In</button>
                            <a class="btn btn-secondary" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator"></div>

                        <p>©{% now "Y" %} OMS++</p>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <div style="text-align:center">
                            <img src="{% static '/images/logos/nsf_logo.gif' %}" style="height:30px;padding-right:20px" title="NSF">
                            <img src="{% static '/images/logos/osu_logo.png' %}" style="height:30px;padding-right:20px" title="OSU">
                            <img src="{% static '/images/logos/rutgers_logo.png' %}" style="height:30px;padding-right:20px" title="Rutgers">
                            <img src="{% static '/images/logos/whoi_logo.png' %}" style="height:30px;padding-right:20px" title="WHOI">
                            <img src="{% static '/images/logos/RPSblock.png' %}" style="height:30px;padding-right:20px" title="RPS Group">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $("#id_username").focus();
        });
    </script>
{% endblock %}