{% extends 'base.html' %}

{% block topnav %}
<h1>Hot List</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>Recent Alerts</h2>
        <div class="pull-right">
            <input type="checkbox" id="chkBxAcknowledged"/>
            <label for="chkBxAcknowledged">Include Acknowledged Alerts</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content hidden">
         <div id="trigger-detail" class="dialog-box"></div>
         <table id="recent-alerts" class="table table-striped table-bordered" width="100%"></table>
    </div>
  
  </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    var recentAlertsTable;

    $(function(){
        recentAlertsTable = $("#recent-alerts").DataTable({
            order: [[5, 'desc']], // Default sort: Created
            paging: false,
            searching: false,
            info: false,
            ajax: {
                url: '/alert/ajax/hotlist_alert_list/{{ request.user.id }}',
                type: 'GET',
                data: {'is_view_acknowledged': $('#chkBxAcknowledged').is(':checked')},
            },
            columns: [
                {
                    title: "Name",
                    data: "trigger_id",
                    render: function(data, type, row) {
                        if (!data)
                            return row.name;

                        return "<a href='#' data-id='" + data + "' class='view-trigger'>" + row.trigger_name + "</a>";
                    }
                },
                {
                    title: "Asset",
                    data: "asset_id",
                    render: function(data, type, row) {
                        var url = "/asset/overview/" + data + "/" + row.deployment_code + "/";

                        return "<a href='" + url + "'>" + row.asset_code + "</a>";
                    }
                },
                {
                    title: "Platform",
                    data: "platform_id",
                    render: function(data, type, row) {
                        var url = "/asset/overview/" + data + "/" + row.deployment_code + "/";

                        return "<a href='" + url + "/'>" + row.platform_code + "</a>";
                    }
                },
                {
                    title: "Details",
                    data: "details"
                },
                {
                    title: "Severity",
                    data: "severity_name"
                },
                {
                    title: "Created",
                    data: "alert_date",
                    render: dt_format_date_time
                },
                {
                    title: "Last Occurrence",
                    data: "last_occurrence",
                    render: dt_format_date_time
                },
                {
                    // View
                    data: "alert_id",
                    render: function(data) {
                        return "<a href='/alert/" + data + "'>View</a>";
                    }
                },
                {
                    // Acknowledge
                    data: "alert_notification_id",
                    render: function(data, type, row) {
                        if (row.severity_name === "Alarm" || row.severity_name === "High")
                            return "";

                        if (row.has_acknowledged)
                            return "Acknowledged";

                        return "<a href='#' class='clear-alert' data-alert-notification-id='" + data + "'>Acknowledge</a>";
                    }
                },
                {
                    // Resolve
                    data: "alert_id",
                    render: function(data) {
                        return "<a href='/alert/" + data + "/True'>Resolve</a>";
                    }
                }
            ],
            initComplete: function(settings, json) {
                $(this).closest(".hidden").toggleClass('hidden', false);
            },
            createdRow: function (row, data, index) {
                $(row).addClass(data['css_class']);
            },
        });

        $("#recent-alerts").on('click', '.clear-alert', function(e) {
            e.preventDefault();

            $.ajax({
                url: '/alert/acknowledge',
                method: 'POST',
                data: {
                    'alert_notification_id': $(this).attr('data-alert-notification-id')
                },
                success:function(resp) {
                    if(resp.success === "true") {
                        recentAlertsTable.ajax.reload();
                    }
                }
            });

            return false;
        });

        init_trigger_dialog_box("#trigger-detail");

        $("#recent-alerts").on('click', '.view-trigger', function(e) {
            var url = "{% url 'alert.view_trigger' 0 %}".replace(/\d+$/i, $(this).attr('data-id'));
            return open_dialog_box(e, '#trigger-detail', url);
        });

        $("#chkBxAcknowledged").on('click', function(e) {
            recentAlertsTable.ajax.reload();
        });
    });
    </script>
{% endblock %}
