{% extends public %}
{% load status_tags %}
{% load static %}

{% block topnav %}
<h1>System Overview</h1>
{% endblock %}

{% block content %}
<div id="system-overview">

    <div class="row">
        <div class="col-sm-12">
            <div id="platform_status" class="x_panel" style="width:100%; height: 150px"></div>
            <div id="alert_status" class="x_panel" style="width:100%; height: 150px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="graph_preference">
                <input type="radio" id="rdoShowPercent" name="plot-preference" value="1" {% if functional_percentage and not alert_count %} checked {% endif %}> <label for="rdoShowPercent">Show Functional Percentage</label>
                <input type="radio" id="rdoShowCount" name="plot-preference" value="2" {% if alert_count and not functional_percentage %} checked {% endif %} ><label for="rdoShowCount">Show Functional Counts</label>
                <input type="radio" id="rdoShowBoth" name="plot-preference" value="3" {% if alert_count and functional_percentage %} checked {% endif %}><label for="rdoShowBoth">Show Both</label>
            </div>
        </div>
        {% if show_disposition_filter %}
        <div class="row disposition-filters" id="dispositions">
            <div class="col-md-6">
                Displayed Platforms:
                {% for disposition in dispositions %}
                <label>
                    <input
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">

    {% for asset in assets %}
    <div class="col-md-3 {% if not asset.disposition.id in shown_dispositions %}hide{% endif %}"
         data-disposition-id="{{ asset.disposition.id }}">
        <div class="x_panel">
            <div class="x_content">
                <label {% if asset.disposition_id != 2 %} style="font-weight:normal;" {% endif %}>{{ asset.name }} ({{ asset.deployment.code }})</label>

                <div id="asset_{{ asset.id }}" style="width: 100%; height: 200px;" class="functional" {% if not functional_percentage %} hidden {% endif %}></div>
                <div id="asset_{{ asset.id }}_alerts" class="alert_status" {% if not alert_count %} hidden {% endif %}></div>
            </div>
            <div class="text-center">
                <a href="{% url 'asset.group_mooring_locations' group_id %}?platform_id={{ asset.id|urlencode }}" class=" btn btn-primary btn-sm">Mooring Location</a>
                <a href="{% url 'dashboard.power_details' asset.id %}" class="btn btn-sm btn-primary">Power System</a>
            </div>
        </div>
    </div>
        <div hidden>
            {% plot_tooltip asset.id alerts %}
        </div>
    {% endfor %}

    </div>


</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
<script type="text/javascript">
$.widget("ui.tooltip", $.ui.tooltip, {
    options: {
        track: true,
        content: function() {
            return $(this).prop('title');
        }
    }
});

    $("#graph_preference").on('change', function() {
        var pref_id = $("#graph_preference input:checked").val();
        $.ajax({
            url: '{% url "dashboard.update_system_overview_preference" %}',
            method: 'POST',
            data: {
                'preference_id': pref_id
            },
            success: function(resp) {
                if(pref_id == 1) {
                    $(".functional").show();
                    $(".alert_status").hide();
                } else if(pref_id == 2) {
                    $(".functional").hide();
                    $(".alert_status").show();
                } else {
                    $(".functional").show();
                    $(".alert_status").show();
                }
            }
        });

    });

    $(document).ready(function() {
        var groupDataId = 'group-{{ group_id }}';
        SetupCurrentSideNavMenu(groupDataId, null);
    });

$(function () {
    
    function updateAlertStatusChart(group_id, checked_disps, statusChart) {
        const disp_id_string = checked_disps.join(',');
        $.ajax({
            url: '{% url "dashboard.update_alert_by_disposition" %}',
            method: 'POST',
            data: {
                'group_id': group_id,
                'alert_disposition': disp_id_string
            },
            success: function(resp) {
                if (resp.alerts_arr) {
                    const sevTotal = resp.alerts_arr.reduce((a, b) => { return a + b })
                    const newMax = (sevTotal >= 25 ? sevTotal + 5 : 25)
                    resp.alerts_arr.map((value, index) => {
                        statusChart.series[index].setData([value]);
                    });
                    statusChart.yAxis[0].update({
                        max: newMax
                    });
                }
            }
        });
    }

    var chartObj = {};
    {% for asset in assets %}
        var low = 0;
        var med = 0;
        var high = 0;
        var alarm = 0;

        var test = {{ alerts }}[{{asset.id}}];
        var i;
        for(i in test) {
            switch(i) {
                case '1':
                    low = test[i];
                    break;
                case '2':
                    med = test[i];
                    break;
                case '3':
                    high = test[i];
                    break;
                case '4':
                    alarm = test[i];
                    break;
            }
        }
    //{{ asset.id }}; {{ asset.deployment.code }};
        chartObj['{{ asset.id }}'] = Highcharts.chart("asset_{{ asset.id }}", {
            chart: {
                type: 'bar',
                height: 200
            },
            title: {
                text: ''//'{{ asset.name }} ({{ asset.deployment.code }})'
            },
            xAxis: {
                categories: ['Telemetry', 'Data', '<a href="/asset/overview/{{ asset.id }}/{{ asset.deployment.code }}">Functional</a>']
            },
            yAxis: {
                max: 100,
                title: {
                    text: ''
                },
                tickInterval: 25,
                labels: {
                    format: '{value}%'
                }
            },
            series: [{
                title: false,
                data: [0, 0, {{ asset.average_platform_status }}]
            }],
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            exporting: {
                buttons: {
                    contextButton: {
                        menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', 'downloadPDF', 'downloadSVG', 'downloadCSV']
                    }
                }
            },
            plotOptions: {
                series: {
                    zones: [
                        {value: 50, className: 'zone-critical'},
                        {value: 70, className: 'zone-needs-attention'},
                        {className: 'zone-ok'}
                    ]
                }
            }
        });
        var alertChartDiv = $("#asset_{{ asset.id }}_alerts");
        //alertChartDiv.setAttribute('class', 'alert_status');
        //$("#asset_{{ asset.id }}").append(alertChartDiv);
        $(alertChartDiv).highcharts(
        {
        chart: {
            height: 60,
            type: 'bar'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['Alert Status']
        },
        yAxis: {
            max: 25,
            title: {
                text: false
            }
        },
        credits: {
                enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            },
            bar: {
                pointWidth: 25
            }
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'ALARM',
            data: [alarm],
            color: '#ff0000'
        }, {
            name: 'HIGH',
            data: [high],
            color: '#ff9900'
        }, {
            name: 'MEDIUM',
            data: [med],
            color: '#ffff00'
        }, {
            name: 'LOW',
            data: [low],
            color: '#00cc00'
        }]
    });

        $('#asset_{{asset.id}}').attr('title', $('.asset_{{asset.id}}').remove().html());
    {% endfor %}
    $(document).tooltip();
    Highcharts.chart("platform_status", {
        chart: {
            type: 'bar',
            pointWidth: 20,
        },
        title: {
            text: '{{ page_title }}'
        },
        xAxis: {
            categories: ['Array Status']
        },
        yAxis: {
            max: 100,
            title: {
                text: false
            }
        },
        series: [{
            title: false,
            data: [{{ array_status }}]
        }],
        credits: {
            enabled: false
        },
        legend: {
            enabled: false
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false
                }
            }
        },
        plotOptions: {
            series: {
                zones: [
                    {value: 50, className: 'zone-critical'},
                    {value: 70, className: 'zone-needs-attention'},
                    {className: 'zone-ok'}
                ]
            }
        }
    });

    var low = 0;
    var med = 0;
    var high = 0;
    var alarm = 0;


    let alertStatusChart = Highcharts.chart("alert_status", {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Alert Status'
        },
        xAxis: {
            categories: ['Alert Status']
        },
        yAxis: {
            max: 25,
            title: {
                text: false
            }
        },
        credits: {
                enabled: false
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            },
            bar: {
                pointWidth: 25
            }
        },
        exporting: {
            buttons: {
                contextButton: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'ALARM',
            data: [alarm],
            color: '#ff0000'
        }, {
            name: 'HIGH',
            data: [high],
            color: '#ff9900'
        }, {
            name: 'MEDIUM',
            data: [med],
            color: '#ffff00'
        }, {
            name: 'LOW',
            data: [low],
            color: '#00cc00'
        }]
    });

    const group_id = '{{group_id}}'
    let checked_disps = []

    $("#dispositions input[type=checkbox]").each(function(){
        var id = $(this).attr('data-value');
        $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
        if ($(this).is(":checked")) {
            checked_disps.push(id)
        }
    });
    updateAlertStatusChart(group_id, checked_disps, alertStatusChart)

    $("#dispositions input[type=checkbox]").click(function(){
        checked_disps = []
        $("#dispositions input[type=checkbox]").each(function(){
            var id = $(this).attr('data-value');
            $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
            if ($(this).is(":checked")) {
                checked_disps.push(id)
            }
        });
        updateAlertStatusChart(group_id, checked_disps, alertStatusChart)
    });
});
</script>
{% endblock %}