<div class="asset_{{asset_id}}">
    Alert Severity Count
    <br />
    {% for alerts_key, alerts_value in alerts_dict.items %}
        {% if alerts_key == asset_id %}
        <div>
            {% for sev_key, sev_value in alerts_value.items %}

                {% if sev_key == 1 %}
            LOW: {{sev_value}}
            <br />
                {% endif %}
                {% if sev_key == 2 %}
            MEDIUM: {{sev_value}}
            <br />
                {% endif %}
                {% if sev_key == 3 %}
            HIGH: {{sev_value}}
            <br />
                {% endif %}
                {% if sev_key == 4 %}
            ALARM: {{sev_value}}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>