<div class="x_content">
    <table class="status-grid">
        {% if show_platform %}
        <tr>
            <td class="status-grid-item" colspan="{{ platform_colspan }}" align="center">
                <div class="{{ platform_css_class }}">
                    {% if callback %}
                        <a href="#" onclick="return {{ callback }}({{ platform.id }}, '{{ deployment_code }}', '{{ platform.code }} ({{ deployment_code }})')">{{ platform.code }}</a>
                    {% else %}
                        <a href="{% url 'asset.overview' platform.id deployment_code %}">{{ platform.code }}</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endif %}
        {% for row in rows %}
        {% with row_counter=forloop.counter %}
            <tr>
                {% for asset in row %}
                    {% if asset %}
                        <td class="status-grid-item {{ asset.column_css_class }}" colspan="{{ asset.col_span|default:1 }}">
                            <div class="{{ asset.item_css_class }}">
                                {% if callback %}
                                    <a href="#" onclick="return {{ callback }}({{ asset.id }}, '{{ deployment_code }}', '{{ asset.long_name }}')">{{ asset.text }}</a>
                                {% else %}
                                    <a href="{% url 'asset.overview' asset.id deployment_code %}">{{ asset.text }}</a>
                                {% endif %}
                            </div>
                        </td>
                    {% else %}
                        <td class="status-grid-item">
                            {% if not forloop.counter|divisibleby:2 %}
                            <div class="status status-none">{{ row_counter|add:port_row_offset }}:</div>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endwith %}
        {% endfor %}

    </table>
    {% if extra_assets %}

    <div class="status-grid-extra">
        <table cellpadding="0" cellspacing="0" width="100%">
            {% for parent in extra_assets.values %}
                <tr>
                    <td valign="top">
                        <span class="status-grid-item {{ parent.column_css_class }}" colspan="{{ parent.col_span|default:1 }}">
                            <div class="{{ parent.item_css_class }}">
                                {% if callback %}
                                    <a href="#" onclick="return {{ callback }}({{ parent.id }}, '{{ deployment_code }}', '{{ asset.long_name }}')">{{ parent.text }}</a>
                                {% else %}
                                    <a href="{% url 'asset.overview' parent.id deployment_code %}">{{ parent.text }}</a>
                                {% endif %}
                            </div>
                        </span>
                    </td>
                    <td valign="top">
                        <i class="fa fa-caret-right"></i>
                    </td>
                    <td valign="top" width="100%">
                        {% for asset in parent.children %}<span class="status-grid-item {{ asset.column_css_class }}" colspan="{{ asset.col_span|default:1 }}">
                            <div class="{{ asset.item_css_class }}">
                                {% if callback %}
                                    <a href="#" onclick="return {{ callback }}({{ asset.id }}, '{{ deployment_code }}', '{{ asset.long_name }}')">{{ asset.text }}</a>
                                {% else %}
                                    <a href="{% url 'asset.overview' asset.id deployment_code %}">{{ asset.text }}</a>
                                {% endif %}
                            </div>
                        </span>{% endfor %}
                    </td>
                </tr>
            {% endfor %}
            {% if deleted_assets %}
                <tr>
                    <td valign="top">
                        <span class="status-grid-item">
                            <div class="status status-deleted">REMOVED</div>
                        </span>
                    </td>
                    <td valign="top">
                        <i class="fa fa-caret-right"></i>
                    </td>
                    <td valign="top" width="100%">
                        {% for _, asset in deleted_assets.items %}<span class="status-grid-item">
                            <div class="status status-deleted">{{ asset.code }}</div>
                        </span>{% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% endif %}
</div>
