<input type="hidden" id="{{ id }}-value" name="selectAsset_{{id}}"/>
<span id="{{ id }}-name">No Asset Selected</span>
<button id="{{ id }}-button" type="button" class="btn btn-xs btn-primary">Select</button>

<div id="{{ id }}"></div>