{% load ui_tags %}
<div class="row breadcrumb">
    <div class="pull-left">
        <span>
            <a href="{% url 'asset.group_overview' group.id %}">{{ group.name }}</a> >
            {% for crumb in breadcrumbs %}
                <a href="{% url 'asset.overview' crumb.id deployment_code %}">{{ crumb.code }}</a>
                {% if not forloop.last %} > {% endif %}
            {% endfor %}
        </span>
        <br>
        <div class="deployment">
            <span class="nav-deployment">Deployment:</span>
            <select id="nav_deployment" style="margin-top:2px;" onchange="change_deployment(this)" data-deployment-code="{{ asset.deployment.code }}">
                {% for asset in related_assets %}
                <option
                        value="{{ asset.id }}"
                        {% if asset.deployment.code == deployment_code %}selected="selected"{% endif %}>{{ asset.deployment.code }}</option>
                {% endfor %}
            </select>
            <span class="nav-disposition">Disposition: </span>
            <span class="nav-disposition-value">{{ disposition }}</span>
            {% if deployment_date %}
            <br>
            <span>Deployed:</span>
            <span class="nav-dataset-value">{{ deployment_date|date:"n/j/y g:iA"|lower }} UTC</span>
            {% endif %}
            {% if recovery_date %}
            <span>Recovered:</span>
            <span class="nav-dataset-value">{{ recovery_date|date:"n/j/y g:iA"|lower }} UTC</span>
            {% endif %}
            {% if lat %}
            <span>Location:</span>
            <span class="nav-dataset-value">{{ lat }}, {{ lon }}</span>
            {% endif %}
            {% if depth %}
              {% if type_id is 1 %}
              <span>Site Depth:</span>
              {% else %} 
              <span>Asset Depth:</span>
              {% endif %}              
            <span class="nav-dataset-value">{{ depth }}m</span>
            {% endif %}
            <br>
            <span>Dataset ID:</span>
            {% if erddap_id %}
              <a class="nav-dataset-value" href="{% erddap_url %}/tabledap/{{ erddap_id }}.html" target="_blank">{{ erddap_id }}</a>
            {% else %}
              <span class="nav-dataset-value">None</span>{% if erddap_perm %}<a href="{% url 'asset.edit_dataset' asset_id deployment_code %}">(update)</a>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="pull-right">
        <div class="navbar navbar-default">
            <div class="container">
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-hover  "><a href="{% url 'asset.overview' asset_id deployment_code %}" class="{% if current_asset_page == asset_overview %}asset-nav-current{% endif %}" role="button">Overview</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle {% if current_asset_page == create_plot_page or current_asset_page == plot_page %}asset-nav-current{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="fa fa-angle-down"></span></a>
                          <ul class="dropdown-menu">
                              <li><a class="asset-nav" href="{% url 'plot.plot_list' asset_id %}">Create Plot Page</a></li>
                              <hr class="create-plot-hr">
                              {% for plot_page in plot_pages %}
                            <li><a class="asset-nav" href="{% url 'plot.plot_page' plot_page.id %}" target="_self">{{ plot_page.name }}</a></li>
                              {% endfor %}
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle {% if current_asset_page == create_manual_alert %}asset-nav-current{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                          <ul class="dropdown-menu">
                            <li><a class="asset-nav" href="{% url 'alert.create_manual' asset_id deployment_code %}">Create Manual Alert</a></li>
                              {% if data_dir %}
                            <li><a class="asset-nav" href="{{ data_dir }}" target="_blank">Data Dir</a></li>
                              {% endif %}
                            <li><a href="{% url 'asset.group_mooring_locations' group.id %}?platform_id={{ asset_id }}">View Mooring Location</a></li>
                            <li>{% if photo_url %}<a class="asset-nav" href="{{ photo_url }}" target="_blank">View Photo</a>{% endif %}</li>
                            <li><a class="asset-nav" id="manage-alert-subscriptions">Alert Subscriptions</a></li>
                            <li><a class="asset-nav" href="{% url 'asset.clone_asset' asset_id %}">Clone Triggers / Plots</a></li>
                            {% if erddap_id %}
                              <li><a href="{% erddap_url %}/tabledap/{{erddap_id}}.html" target="_blank">ERDDAP</a></li>
                            {% endif %}
                            {% if is_superuser and is_purgable and current_asset_page == asset_overview %}
                              <li><a class="asset-nav" href="{% url 'asset.purge_asset' asset_id deployment_code %}">Purge This Asset</a></li>
                            {% endif %}
                            {% if erddap_perm %}
                              <li><a class="asset-nav" href="{% url 'asset.edit_dataset' asset_id deployment_code %}">Edit Dataset ID</a></li>
                            {% endif %}
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="alert-subscriptions-container" class="dialog-box" data-platform-name="{{ platform.code }}" data-platform-id="{{ platform.id }}"></div>
<div id="erddap-id-container" class="dialog-box"></div>
