<div class="menu_section">
    <ul class="nav side-menu">
    {% for group in assets %}
        <li>
            {% if group.is_glider %}

                <span class="nav-item">
                    <i class="toggle-nav-item fa fa-angle-double-right closed"></i>
                    <i class="toggle-nav-item fa fa-angle-double-down open" data-id="group-{{group.id}}"></i>
                    <span>{{ group.name }}</span>
                </span>
                <ul class="nav child_menu">
                    {% for glidergroup in datagliders %}
                        <li>
                            <i id="asset-status-circle" class="fa fa-circle circle-status-ok"></i>
                            <a href="{% url 'asset.glider_overview' glidergroup.id %}">{{ glidergroup.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="nav-item">
                    <i class="toggle-nav-item fa fa-angle-double-right closed"></i>
                    <i class="toggle-nav-item fa fa-angle-double-down open" data-id="group-{{group.id}}"></i>
                    <span>{{ group.name }}</span>
                </span>

                <ul class="nav child_menu">
                    <div class="sidebar-top-links">
                        <a>
                            <i style="display:none;" id="asset-status-circle" class="fa fa-circle circle-status-ok"></i>
                            <a href="{% url 'dashboard.system_overview' group.id %}">OVERVIEW</a>
                        </a>|
                        <a>
                            <i style="display:none;" id="asset-status-circle" class="fa fa-circle circle-status-ok"></i>
                            <a href="{% url 'asset.group_overview' group.id %}">ARRAY STATUS</a>
                        </a>|
                        <a>
                            <i style="display:none;" id="asset-status-circle" class="fa fa-circle circle-status-ok"></i>
                            <a href="{% url 'asset.group_mooring_locations' group.id %}">MAP</a>
                        </a>
                    </div>
                    <div>
                        <div>
                            {% for asset in group.columns.left %}
                                <li data-id="platform-{{ asset.id }}">
                                    <i id="asset-status-circle" class="fa fa-circle {{ asset.css_class }}"></i>
                                    <a href="{% url 'asset.overview' asset.id asset.deployment %}">{{ asset.code }}</a>
                                </li>
                            {% endfor %}
                        </div>
                        <div>
                            {% for asset in group.columns.right %}
                                <li data-id="platform-{{ asset.id }}">
                                    <i id="asset-status-circle" class="fa fa-circle {{ asset.css_class }}"></i>
                                    <a href="{% url 'asset.overview' asset.id asset.deployment %}">{{ asset.code }}</a>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    {% comment %}
                    {% for asset in group.assets %}
                        <li data-id="platform-{{ asset.id }}">
                            <i id="asset-status-circle" class="fa fa-circle {{ asset.css_class }}"></i>
                            <a href="{% url 'asset.overview' asset.id asset.deployment %}">{{ asset.code }}</a>
                        </li>
                    {% endfor %}
                    {% endcomment %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}

    </ul>
    <div class="menu_section nav-header feedback">
        <ul class="nav nav-item ">
            <li>
                <a href="https://docs.google.com/document/d/1cx31bT2_R9J9yUKp8_NSIfQxxaY9PKmXnGYuF71dv-M/edit?usp=sharing"
                    target="_blank" class="nav-header-item"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;Submit Feedback</a>
            </li>
            <li>
                <a href="https://docs.google.com/spreadsheets/d/1FnBNF01NIA9MFsYG5W_XcjtVDsiY4FjReFo7_5sBkKQ/edit?usp=sharing"
                    target="_blank" class="nav-header-item"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;Report a Units Issue</a>
            </li>
        </ul>
    </div>
</div>

