{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Cloning: <a id='linkEdit' href='/asset/overview/{{ asset.id }}/{{ asset.deployment.code}}/'>
        {% if asset.platform.name != asset.name %}
            {{ asset.name }} on {{ asset.platform.name }} ({{ asset.deployment.code }})
        {% else %}
            {{ asset.name }} ({{ asset.deployment.code }})
        {% endif %}
    </a></h1>
{% endblock %}

{% block content %}
<div id="clone-details" class="row">
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Clone {{ asset.name }} to:</h2>
                <div class="nav navbar-right panel_toolbox">
                    <a id="btn-clone" class="btn btn-sm btn-primary">Clone</a>
                    <input type="hidden" id="asset_id" />
                    <input type="hidden" id="target_asset_ids" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-target-assets"></div>
            </div>
            <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                <table class="table table-striped table-bordered" id="target-assets-table">
                    <tbody>
                        {% for target_asset in target_assets %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="target_asset" value="{{ target_asset.id }}" />
                                    <label>
                                        {% autoescape off %}{{ target_asset|asset_fullname }}{% endautoescape %}
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{% url 'asset.overview' asset.id asset.deployment.code %}" id="btnBack" class="btn btn-default">Back to Asset Overview</a>
        <a id="btn-clone-bottom" class="btn btn-sm btn-primary">Clone</a>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Triggers to Clone:</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-triggers"></div>
            </div>
            <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                <table class="table table-striped table-bordered" id="triggers-table">
                    <thead>
                        <tr>
                            <td>
                                <input type="checkbox" id="select_all_triggers" name="select_all_triggers" onchange="toggleTriggersSelection();" checked />&nbsp;
                                (Select / Deselect All)
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trigger in triggers %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="clone_trigger" value="{{ trigger.id }}" checked />
                                    <label>
                                        {{ trigger.asset.name }} > <a href="/alert/edit_trigger/{{ trigger.id }}">{{ trigger.name }}</a>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Plots to Clone: </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="js-grid-plots"></div>
            </div>
            <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                <table class="table table-striped table-bordered" id="plots-table">
                    <thead>
                        <tr>
                            <td>
                                <input type="checkbox" id="select_all_plots" name="select_all_plots" onchange="togglePlotsSelection();" checked />&nbsp;
                                (Select / Deselect All)
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plot in plots %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="clone_plot" value="{{ plot.id }}" checked />
                                    <label>
                                        {{ plot.asset.name }} > <a href="/asset/edit_plot/{{ plot.asset.id }}/{{ plot.asset.deployment.code }}/{{ plot.id }}">{{ plot.name }}</a>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="loading-panel" class="hidden col-md-12" style="height: 400px; text-align: center; margin-top: 30px">
    <h2>Please wait while asset is being cloned.</h2>
    <div class="lds-css ng-scope">
        <div class="lds-spinner" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
</div>
<div id="complete-details" class="row hidden">
    <div class="row">
        <div id="success-table" class="col-md-6 col-lg-6 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-success">At least some of the triggers and plots have been successfully cloned to these selected items. Refer to the list below for links to review the cloned items.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-success-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="success-assets-table">
                        <tbody id="success-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="failed-table" class="col-md-6 col-lg-6 hidden">
            <div class="x_panel">
                <div class="x_title">
                    <div class="text-danger">The cloning of the triggers and plots has failed for these selected items. Refer to the list below to review why.</div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="js-failed-assets"></div>
                </div>
                <div class="x_content" style="max-height:600px;overflow:auto;overflow-x:hidden">
                    <table class="table table-striped table-bordered" id="failed-assets-table">
                        <tbody id="failed-assets-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <a id="btn-back-to-setup" class="btn btn-default">Back to Cloning Setup</a>
            <a href="{% url 'asset.overview' asset.id asset.deployment.code %}" id="btnBack2" class="btn btn-default">Back to Asset Overview</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function toggleTriggersSelection() {
        var checkbox = $('#select_all_triggers');
        var isChecked = checkbox.is(':checked');
        $('input:checkbox[name=clone_trigger]').each(function(index) {
            this.checked = isChecked;
        });
    }
    function togglePlotsSelection() {
        var checkbox = $('#select_all_plots');
        var isChecked = checkbox.is(':checked');
        $('input:checkbox[name=clone_plot]').each(function(index) {
            this.checked = isChecked;
        });
    }
    function toggleBody(sender, id) {
        var bodyElement = $('#' + id);
        var senderElement = $(sender);
        if (bodyElement.hasClass('hidden')) {
            senderElement.html('-');
            bodyElement.toggleClass('hidden', false);
        } else {
            senderElement.html('+');
            bodyElement.toggleClass('hidden', true);
        }
    }
    $(function(){
        $('#btn-back-to-setup').click(function(e) {
            $('#clone-details').toggleClass('hidden', false);
            $('#complete-details').toggleClass('hidden', true);
            $('#success-table').toggleClass('hidden', true);
            $('#failed-table').toggleClass('hidden', true);
            $('#success-assets-table-body').empty();
            $('#failed-assets-table-body').empty();
        });
        $('#btn-clone, #btn-clone-bottom').click(function(e) {
            var target_asset_ids = '';
            $('input:checkbox[name=target_asset]:checked').each(function(index) {
                target_asset_ids += this.value + ',';
            });
            if (target_asset_ids.length > 0) {
                target_asset_ids = target_asset_ids.substring(0,target_asset_ids.length-1);
            }

            var clone_trigger_ids = '';
            $('input:checkbox[name=clone_trigger]:checked').each(function(index) {
                clone_trigger_ids += this.value + ',';
            });
            if (target_asset_ids.length > 0) {
                clone_trigger_ids = clone_trigger_ids.substring(0,clone_trigger_ids.length-1);
            }

            var clone_plot_ids = '';
            $('input:checkbox[name=clone_plot]:checked').each(function(index) {
                clone_plot_ids += this.value + ',';
            });
            if (target_asset_ids.length > 0) {
                clone_plot_ids = clone_plot_ids.substring(0,clone_plot_ids.length-1);
            }

            if (target_asset_ids.length > 0 && (clone_trigger_ids.length > 0 || clone_plot_ids.length >0)) {
                $('#loading-panel').toggleClass('hidden', false);
                $('#clone-details').toggleClass('hidden', true);

                $.ajax({
                    url: '{% url 'asset.execute_clone_asset' %}',
                    method:'POST',
                    data: {
                        'asset_id': {{ asset.id }},
                        'target_asset_ids': target_asset_ids,
                        'clone_trigger_ids': clone_trigger_ids,
                        'clone_plot_ids': clone_plot_ids
                    },
                    success: function(data) {
                        if (data) {
                            if (data.success && data.successful_cloned_assets.length > 0) {
                                add_success_message('{{ asset.name }} ({{ asset.deployment.code }}) has been successfully cloned.' );
                            } else {
                                add_failed_message('Cloning of {{ asset.name }} ({{ asset.deployment.code }}) has failed.');
                            }

                            $('#loading-panel').toggleClass('hidden', true);
                            $('#complete-details').toggleClass('hidden', false);

                            var successful_cloned_assets = data.successful_cloned_assets;
                            if (successful_cloned_assets.length > 0) {
                                var $success_table_body = $('#success-assets-table-body');
                                for (var i=0; i < successful_cloned_assets.length; i++) {
                                    var htmlString = ''
                                    htmlString = "<tr><td><span style='font-weight:bold'>" + successful_cloned_assets[i].TargetName + "</span>";
                                    htmlString += "<div class='row'>";
                                    if (successful_cloned_assets[i].SuccessfulTriggers.length > 0 || successful_cloned_assets[i].FailedTriggers.length > 0) {
                                        htmlString += "<div class='col-md-12 col-lg-12'>";
                                        htmlString += "<table class='table table-striped table-bordered table-summary'>";
                                        htmlString += "<thead><tr><td><div class='pull-left'>Triggers - (";
                                        htmlString += successful_cloned_assets[i].SuccessfulTriggers.length + "/" + (successful_cloned_assets[i].SuccessfulTriggers.length + successful_cloned_assets[i].FailedTriggers.length) + ') successfully cloned. ';
                                        htmlString += "</div><div class='pull-right'><a href='javascript:;' onclick='toggleBody(this, \"trigger-body-" + successful_cloned_assets[i].TargetID + "\");' class='btn btn-default btn-expand-collapse' type='button' title='Expand / Collapse'>+</a>";
                                        htmlString += "</div></td></tr></thead><tbody id='trigger-body-" + successful_cloned_assets[i].TargetID + "' class='hidden'>";
                                        for (var iTriggers=0; iTriggers < successful_cloned_assets[i].SuccessfulTriggers.length; iTriggers++) {
                                            htmlString += "<tr><td>";
                                            htmlString += "<span class='text-success'>" + successful_cloned_assets[i].SuccessfulTriggers[iTriggers].AssetName + ": </span>";
                                            htmlString += "<a href='/alert/edit_trigger/" + successful_cloned_assets[i].SuccessfulTriggers[iTriggers].TriggerID + "'>" + successful_cloned_assets[i].SuccessfulTriggers[iTriggers].TriggerName + "</a>";
                                            htmlString += "</tr></td>"
                                        }
                                        for (var iTriggers=0; iTriggers < successful_cloned_assets[i].FailedTriggers.length; iTriggers++) {
                                            htmlString += "<tr><td>"
                                            htmlString += "<span class='text-danger'>" + successful_cloned_assets[i].FailedTriggers[iTriggers].TriggerName + ":</span> ";
                                            htmlString += successful_cloned_assets[i].FailedTriggers[iTriggers].Message;
                                            htmlString += "</tr></td>"
                                        }
                                        htmlString += "</tbody></table></div>";
                                    }
                                    if (successful_cloned_assets[i].SuccessfulPlots.length > 0 || successful_cloned_assets[i].FailedPlots.length > 0) {
                                        htmlString += "<div class='col-md-12 col-lg-12'>";
                                        htmlString += "<table class='table table-striped table-bordered table-summary'>";
                                        htmlString += "<thead><tr><td><div class='pull-left'>Plots - (";
                                        htmlString += successful_cloned_assets[i].SuccessfulPlots.length + "/" + (successful_cloned_assets[i].SuccessfulPlots.length + successful_cloned_assets[i].FailedPlots.length) + ') successfully cloned. ';
                                        htmlString += "</div><div class='pull-right'><a href='javascript:;' onclick='toggleBody(this, \"plot-body-" + successful_cloned_assets[i].TargetID + "\");' class='btn btn-default btn-expand-collapse' type='button' title='Expand / Collapse'>+</a>";
                                        htmlString += "</div></td></tr></thead><tbody id='plot-body-" + successful_cloned_assets[i].TargetID + "' class='hidden'>";
                                        for (var iPlots=0; iPlots < successful_cloned_assets[i].SuccessfulPlots.length; iPlots++) {
                                            htmlString += "<tr><td>";
                                            htmlString += "<span class='text-success'>" + successful_cloned_assets[i].SuccessfulPlots[iPlots].AssetName + ": </span>";
                                            htmlString += "<a href='/asset/edit_plot/" +
                                                        + successful_cloned_assets[i].SuccessfulPlots[iPlots].AssetID
                                                        + "/"
                                                        + successful_cloned_assets[i].SuccessfulPlots[iPlots].DeploymentCode
                                                        + "/"
                                                        + successful_cloned_assets[i].SuccessfulPlots[iPlots].PlotID
                                                        + "'>"
                                                        + successful_cloned_assets[i].SuccessfulPlots[iPlots].PlotName
                                            htmlString += "</a></tr></td>"
                                        }
                                        for (var iPlots=0; iPlots < successful_cloned_assets[i].FailedPlots.length; iPlots++) {
                                            htmlString += "<tr><td>"
                                            htmlString += "<span class='text-danger'>" + successful_cloned_assets[i].FailedPlots[iPlots].PlotName + ":</span> ";
                                            htmlString += successful_cloned_assets[i].FailedPlots[iPlots].Message;
                                            htmlString += "</tr></td>"
                                        }
                                        htmlString += "</tbody></table></div>";
                                    }
                                    htmlString += "</div></div></td></tr>";
                                    $success_table_body.append(htmlString);
                                }
                                $('#success-table').toggleClass('hidden', false);
                            }

                            var failed_cloned_assets = data.failed_cloned_assets;
                            if (failed_cloned_assets.length > 0) {
                                var $failed_table_body = $('#failed-assets-table-body');
                                for (var i=0; i < failed_cloned_assets.length; i++) {
                                    var htmlString = ''
                                    htmlString = "<tr><td><span style='font-weight:bold'>" + failed_cloned_assets[i].TargetName + "</span>";
                                    htmlString += "<div class='row'>";
                                    if (failed_cloned_assets[i].FailedTriggers.length > 0) {
                                        htmlString += "<div class='col-md-12 col-lg-12'>";
                                        htmlString += "<table class='table table-striped table-bordered table-summary'>";
                                        htmlString += "<thead><tr><td><div class='pull-left'>Triggers - (";
                                        htmlString += "0/" +  failed_cloned_assets[i].FailedTriggers.length + ') successfully cloned. ';
                                        htmlString += "</div><div class='pull-right'><a href='javascript:;' onclick='toggleBody(this, \"trigger-body-" + failed_cloned_assets[i].TargetID + "\");' class='btn btn-default btn-expand-collapse' type='button' title='Expand / Collapse'>+</a>";
                                        htmlString += "</div></td></tr></thead><tbody id='trigger-body-" + failed_cloned_assets[i].TargetID + "' class='hidden'>";
                                        for (var iTriggers=0; iTriggers < failed_cloned_assets[i].FailedTriggers.length; iTriggers++) {
                                            htmlString += "<tr><td>"
                                            htmlString += "<span class='text-danger'>" + failed_cloned_assets[i].FailedTriggers[iTriggers].TriggerName + ":</span> ";
                                            htmlString += failed_cloned_assets[i].FailedTriggers[iTriggers].Message;
                                            htmlString += "</tr></td>"
                                        }
                                        htmlString += "</tbody></table></div>";
                                    }
                                    if (failed_cloned_assets[i].FailedPlots.length > 0) {
                                        htmlString += "<div class='col-md-12 col-lg-12'>";
                                        htmlString += "<table class='table table-striped table-bordered table-summary'>";
                                        htmlString += "<thead><tr><td><div class='pull-left'>Plots - (";
                                        htmlString += "0/" + failed_cloned_assets[i].FailedPlots.length + ') successfully cloned. ';
                                        htmlString += "</div><div class='pull-right'><a href='javascript:;' onclick='toggleBody(this, \"plot-body-" + failed_cloned_assets[i].TargetID + "\");' class='btn btn-default btn-expand-collapse' type='button' title='Expand / Collapse'>+</a>";
                                        htmlString += "</div></td></tr></thead><tbody id='plot-body-" + failed_cloned_assets[i].TargetID + "' class='hidden'>";
                                        for (var iPlots=0; iPlots < failed_cloned_assets[i].FailedPlots.length; iPlots++) {
                                            htmlString += "<tr><td>"
                                            htmlString += "<span class='text-danger'>" + failed_cloned_assets[i].FailedPlots[iPlots].PlotName + ":</span> ";
                                            htmlString += failed_cloned_assets[i].FailedPlots[iPlots].Message;
                                            htmlString += "</tr></td>"
                                        }
                                        htmlString += "</tbody></table></div>";
                                    }
                                    htmlString += "</div></div></td></tr>";
                                    $failed_table_body.append(htmlString);
                                }

                                $('#failed-table').toggleClass('hidden', false);
                            }
                        }
                    }
                });
            } else {
                alert('Please select at least one asset and at least one trigger or plot to clone to.');
            }
        });
    });
</script>
{% endblock %}