{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
{% if "create" in request.get_full_path %}
    <h1>Create Plot</h1>
    {% else %}
    <h1>Edit Plot</h1>
    {% endif %}
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_title">
        {% if "create" in request.get_full_path %}
        <h2>Create Custom Plot</h2>
        {% else %}
        <h2>Update Existing Plot</h2>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form id="custom-save-form" method="post" class="form-horizontal form-label-left" novalidate>

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="x_panel edit-page-panel">
                        <div class="x_content">
                            <div class="asset-chooser form-group {% if not asset %} invalid-input {% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Choose Base Asset<span class="required"> *</span></label>
                                <div class="asset-chooser-text" style="font-size: 13px; font-weight: normal;">
                                    {% asset_picker 'assetpicker' %}
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.name.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.name }}
                                    <p class='invalid-input'>{% if form.name.errors %}{{ form.name.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.plot_type.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.plot_type }}
                                    <p class='invalid-input'>{% if form.plot_type.errors %}{{ form.plot_type.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.yaxis_orientation.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.yaxis_orientation }}
                                    <p class='invalid-input'>{% if form.yaxis_orientation.errors %}{{ form.yaxis_orientation.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <!--<label class="control-label">{{ form.plot_class.label_tag }}<span class="required"> *</span></label>-->
                                <div>
                                    {{ form.plot_class }}
                                    <p class='invalid-input'>{% if form.plot_class.errors %}{{ form.plot_class.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.timeframe.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.timeframe }}
                                    <p class='invalid-input'>{% if form.timeframe.errors %}{{ form.timeframe.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0" id="dates_wrapper" >
                                <label class="control-label">{{ form.start_date.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.start_date }}
                                    <p class='invalid-input'>{% if form.start_date.errors %}{{ form.start_date.errors.as_text }}{% endif %}</p>
                                </div>
                                <label class="control-label">{{ form.end_date.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.end_date }}
                                    <p class='invalid-input'>{% if form.end_date.errors %}{{ form.end_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group {% if not perms.core.edit_shared_items %} not-visible{% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Is Shared:</label>
                                <div>
                                    {{ form.is_global }}
                                </div>
                                <p class='invalid-input'>{% if form.is_global.errors %}{{ form.is_global.errors.as_text }}{% endif %}</p>
                            </div>

                            <div class="form-group {% if not perms.core.edit_shared_items %} not-visible {% endif %}" id="owner-div" style="margin-bottom: 0">
                                <label class="control-label">{{ form.owner.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.owner }}
                                    <p class='invalid-input'>{% if form.owner.errors %}{{ form.owner.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom: 0">
                                <label class="control-label">{{ form.default_on_platforms.label_tag }}<span class="required"> *</span></label>
                                <div>
                                    {{ form.default_on_platforms }}
                                    <p class='invalid-input'>{% if form.default_on_platforms.errors %}{{ form.default_on_platforms.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style='margin-top: 15px;'>
                        <button type="button" class="btn btn-default" id="cancel-button">{% if is_readonly %}Return{% else %}Cancel{% endif %}</button>
                        {% if not is_readonly %}
                            <input type="submit" class="btn btn-primary" value="Save"/>
                            {% if edit_type == "create" %}
                                <button type="button" class="btn btn-primary" id="add-another-button">Save and Add Another</button>
                            {% endif %} 
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 pull-left">
                    <div class="x_panel edit-page-panel">
                        <div class="x_content">
                            <div class="variable-chooser form-group {% if not asset %} invalid-input {% endif %}" style="margin-bottom: 0">
                                <label class="control-label">Choose Variable Source<span class="required"> *</span>
                                </label>
                                <div class="variable-chooser-text" style="font-size: 13px; font-weight: normal;">
                                    {% asset_picker 'varpicker' %}
                                </div>
                            </div>

                            <div>
                                <div>
                                    <label class="control-label" style="margin-bottom: 8px">X-Axis Variable Selector *</label>
                                </div>
                                <div id="container-x">
                                    <select name="variable" class="multiselect hidden" id="plot-variable-x" multiple="multiple">
                                        {% comment %}
                                        {% for variable in variables %}
                                        <option value="{{ variable.id }}">{{ variable.name }}</option>
                                        {% endfor %}
                                        {% endcomment %}
                                    </select>
                                </div>
                                {% if asset %}
                                    <p id="variable-loading-text-x" style="color: #0000ff">menu loading...</p>
                                {% endif %}

                                <div class="form-group" style="margin: 8px 0 0">
                                    <div>
                                        <label class="control-label">{{ form.variables_x.label_tag }}<span class="required"> *</span></label>
                                        <!--hidden div-->
                                        <div>
                                            {{ form.variables_x }}
                                        </div>
                                    </div>
                                    <div id="variables_list_x">
                                        {% for xvar in xvarArr %}
                                            <div data-var-id='{{ xvar.id }}'>
                                                <p class="no-wrap-x" style="margin-bottom: 0px; margin-left: 5px; max-width: 153px; ">
                                                    <a class="delete-variable" data-var-id='{{ xvar.id }}' style="text-decoration: none; font-size: 20px;" href="#" aria-label="close">&times;</a>
                                                    <span>{{ xvar.name }}</span>
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div>
                                    <label class="control-label" style="margin-bottom: 8px">Y-Axis Variable Selector *</label>
                                </div>
                                <div id="container-y">
                                    <select name="variable" class="multiselect hidden" id="plot-variable-y" multiple="multiple">
                                        {% comment %}
                                        {% for variable in variables %}
                                        <option value="{{ variable.id }}">{{ variable.name }}</option>
                                        {% endfor %}
                                        {% endcomment %}
                                    </select>
                                </div>
                                {% if asset %}
                                    <p id="variable-loading-text-y" style="color: #0000ff">menu loading...</p>
                                {% endif %}

                            </div>


                            <div class="form-group" style="margin: 8px 0 0">
                                <div>
                                    <label class="control-label">{{ form.variables_y.label_tag }}<span class="required"> *</span></label>
                                    <!--hidden div-->
                                    <div>
                                        {{ form.variables_y }}
                                    </div>
                                </div>
                                <div id="variables_list_y" style="max-height: 140px; overflow-y: auto">
                                    {% for yvar in yvarArr %}
                                        <div data-var-id='{{ yvar.id }}'>
                                            <p class="no-wrap-x" style="margin-bottom: 0px; margin-left: 5px; max-width: 153px; ">
                                                <a class="delete-variable" data-var-id='{{ yvar.id }}' style="text-decoration: none; font-size: 20px;" href="#" aria-label="close">&times;</a>
                                                <span>{{ yvar.name }}</span>
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>



                            {% csrf_token %}
                        </div>

                        <button type="button" id="btn-plot" class="btn btn-sm btn-primary update-plot hidden"
                                      data-plot-id="plot-preview-container" data-asset-id="{{ asset.id }}"
                                        data-plot-name="custom-plot" data-plot-global="global_{{ plot.is_global }}"
                                        data-deployment-id="{{ deployment.id }}" style="position: absolute; right: 5px; bottom: 5px">
                                    Preview
                        </button>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 pull-left">
                  <div class="x_panel edit-page-panel">
                    <div class="x_title">
                      <h2> Preview </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="x_panel">
                          <div id="plot-preview-container" style="height: 425px; align-items: center; display: flex">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block scripts %}
 <script type="text/javascript" src="{% static '/js/site.js' %}"></script>
    {% asset_picker_scripts 'assetpicker' 'varpicker' %}
    {% asset_picker_scripts 'varpicker' %}
    <script type="text/javascript">

    var variableDivTemplate=$('<div></div>');
    var closeTagStr = '<a style="text-decoration: none; margin-right: 5px; font-size: 20px" href="#" aria-label="close">&times;</a>';
    variableDivTemplate.append('<p style="margin-bottom: 5px; margin-left: 5px">' + closeTagStr + '<span>varNAME</span>' + '</p>' );

    var plot_class_dict = {{ plot_class_dict|safe }};
    var time_choices_dict = {{ time_choices_dict|safe }};

    assetsObject = {
        _base_asset_id: '',
        _base_deployment_code: '',
        _base_asset_name: '',
        _asset_id: '',
        _asset_name: '',
        _base_deployment_code: '',
        _deployment_code: '',
        set base_asset_name(asset_name) {
            this._base_asset_name = asset_name;
        },
        get base_asset_name() {
            return this._base_asset_name;
        },
        set asset_name(asset_name) {
            this._asset_name = asset_name;
        },
        get asset_name() {
            return this._asset_name;
        },
        set base_asset_id(id) {
            this._base_asset_id=id;
        },
        get base_asset_id() {
            return this._base_asset_id
        },
        set asset_id(id) {
            this._asset_id = id;
        },
        get asset_id() {
            return this._asset_id;
        },
        set base_deployment_code(dcode) {
            this._base_deployment_code = dcode;
        },
        get base_deployment_code() {
            return this._base_deployment_code
        },
        set deployment_code(dcode) {
            this._deployment_code = dcode;
        },
        get deployment_code() {
            return this._deployment_code
        }
    }

    variablesObject={
        _variable_id_array_x: [],
        _variable_id_array_y: [],
        _variable_name_array_x: [],
        _variable_name_array_y: [],
        _plot_class: '',
        set variable_id_array_x(x_var) {
            for (var i=0; i<x_var.length; i++) {
                this._variable_id_array_x.push(x_var[i]);
            }
        },
        get variable_id_array_x() {
            return this._variable_id_array_x;
        },
        set variable_name_array_x(name) {
            for (var i=0; i<name.length; i++) {
                this._variable_name_array_x.push(name[i]);
            }
        },
        get variable_name_array_x() {
            return this._variable_name_array_x;
        },
        set variable_id_array_y(y_var) {
            for (var i=0; i<y_var.length; i++) {
                this._variable_id_array_y.push(y_var[i]);
            }
        },
        get variable_id_array_y() {
            return this._variable_id_array_y;
        },
        set variable_name_array_y(name) {
            for (var i=0; i<name.length; i++) {
                this._variable_name_array_y.push(name[i]);
            }
        },
        get variable_name_array_y() {
            return this._variable_name_array_y;
        },
        set plot_class(ptype) {
            this._plot_class=ptype;
        },
        get plot_class() {
            return this._plot_class;
        },
    }

    var counter=0;
    var var_counter=0;

    // pre-fill asset and variable pickers if possible
    if ('{{ asset.id }}') {

        assetsObject.base_asset_id = parseInt('{{ asset.id }}');
        assetsObject.base_deployment_code = '{{ deployment.code }}';

        $("#assetpicker-value").val('{{ asset.id }}');

        if ('{{ asset.name }}' !== '{{ platform.name }}') {
            $("#assetpicker-name").text('{{ asset.name }} on {{ platform.name }} ({{ deployment.code }})');
        } else {
            $("#assetpicker-name").text('{{ asset.name }} ({{ deployment.code }})');
        }

        $("#varpicker-value").val('{{ asset.id }}');
         if ('{{ asset.name }}' !== '{{ platform.name }}') {
            $("#varpicker-name").text('{{ asset.name }} on {{ platform.name }} ({{ deployment.code }})');
        } else {
            $("#varpicker-name").text('{{ asset.name }} ({{ deployment.code }})');
        }

        assetsObject.asset_id = assetsObject.base_asset_id;
        assetsObject.asset_name = '{{ asset.name }}';
        assetsObject.base_asset_name = '{{ asset.name }}';
        assetsObject.deployment_code = '{{ deployment.code }}';

        var xvarArr = {{ xvarArr|safe }};
        var yvarArr = {{ yvarArr|safe }};

        variablesObject.variable_id_array_x = xvarArr.map(function(xv) {return String(xv.id)});
        variablesObject.variable_name_array_x = xvarArr.map(function(xv) {return xv.name});
        variablesObject.variable_id_array_y = yvarArr.map(function(yv) {return String(yv.id)});
        variablesObject.variable_name_array_y = yvarArr.map(function(yv) {return yv.name});

        // update hidden field for later use with form submission
        $('#id_variables_x').val(String(variablesObject.variable_id_array_x))
        $('#id_variables_y').val(String(variablesObject.variable_id_array_y))
    }

    $('#assetpicker-button').css('margin',0)
    $('#varpicker-button').css('margin',0)

    // $('.time-window').append($('<option value="custom_range">Custom Range</option>'));
    if($(".time-window").val()!='8'){
        $('#dates_wrapper').hide();
    }
    $(".time-window").on('change', function() {
        var $select = $(this);
        if($select.val()=='8'){//PlotTimeRange(Custom Range) is id=8
            $('#dates_wrapper').show();
        }else{
            $('#dates_wrapper').find('.end_date').val($('#dates_wrapper').find('.end_date').attr("value"));
            $('#dates_wrapper').find('.start_date').val($('#dates_wrapper').find('.start_date').attr("value"));
            $('#dates_wrapper').hide();
        }
    });

    var plot_success = getParameterByName('saved', window.location.href) || false;

    $(document).ready(function() {
        init_jquery_select2();

        if (plot_success) {
            add_success_message("Plot successfully saved");
        }
        if (assetsObject.asset_id) {
            getMenuVariables(assetsObject.asset_id)
        }

        $("#assetpicker-name").on('DOMSubtreeModified', function() {
           if (counter%2 == 0) {
            // remove the warning css
            $('.asset-chooser').removeClass('invalid-input');
            $('.asset-chooser-text').css('color', '#73879C');

            assetsObject.base_asset_id = parseInt($('#assetpicker-value').val());
            assetsObject.base_deployment_code = $('#assetpicker-value').data('deployment');

            // update the url
            updated_url = '{% url 'plots.edit_plot' 'assetid' 'deploymentcode' %}'.replace('assetid',assetsObject.base_asset_id).replace('deploymentcode',assetsObject.base_deployment_code) +
            '?' + 'type=create' + '&' + 'variables=' + '' + '&' + 'from=' + '{{ from_where }}';
            window.history.replaceState(null, null, updated_url);
           }
           counter++
       });

       $("#varpicker-name").on('DOMSubtreeModified', function() {
           if (var_counter%2 == 0) {

           // remove the warning css
            $('.variable-chooser').removeClass('invalid-input');
            $('.variable-chooser-text').css('color', '#73879C');

            // make sure plot button is enabled
            $('#btn-plot').removeClass('disabled');

            assetsObject.asset_id = parseInt($('#varpicker-value').val());
            assetsObject.deployment_code = $('#varpicker-value').data('deployment');
            assetsObject.asset_name = $('#varpicker-value').data('name');

            var split_name = assetsObject.asset_name.split(' ');
            if (split_name.indexOf('on')>-1) {
                assetsObject.asset_name = split_name[split_name.indexOf('on')+1];
            } else {
                assetsObject.asset_name = split_name[0];
            }

            // update plot button attribute
            $('#btn-plot').attr({'data-deployment-id': assetsObject.deployment_code,
                                'data-asset-id': assetsObject.asset_id}) // we will need the id too

            getMenuVariables(assetsObject.asset_id)
           }
           var_counter++
       });
    })

    if (window.matchMedia) {
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function (mql) {
            printUpdate();
        });
    }

    var init_plot_class = $('#id_plot_class').val();
    variablesObject.plot_class = Object.keys(plot_class_dict).filter(function(key) {
        return plot_class_dict[key] === Number(init_plot_class)})[0];

    multiselectObject= {
        enableCaseInsensitiveFiltering: true,
        maxHeight: 275,
        nonSelectedText: 'Select variable(s) to plot',
        buttonWidth: '95%',
        buttonTitle: function(options, select) {
            var labels = [];
            options.each(function () {
                labels.push($(this).text());
            });
            return labels.join(', ');
        },
        onChange: function(option, checked) {
            var option_parent = $(option).parent().attr('id');
            var option_custom = $(option).data()['custom'];
            var optionObj = {val: option.val(), custom: option_custom, text: option.text(), parent: option_parent}
            if (option_parent === 'plot-variable-x') {
                updateMultiselect_x(optionObj, checked)
            } else {
                updateMultiselect_y(optionObj, checked)
            }
        }
    }

    function updateMultiselect_x(optionObj, checked) {
        var parent = $('#' + optionObj.parent);
        var multiselect = parent.siblings('.btn-group').find('.multiselect-container');

        // Remove unselected variable from global arrays
        if (!checked) {
            var unchecked_option = optionObj.val;
            var unchecked_option_indx = variablesObject.variable_id_array_x.indexOf(unchecked_option);

            variablesObject.variable_id_array_x.splice(unchecked_option_indx,1);
            variablesObject.variable_name_array_x.splice(unchecked_option_indx,1);

            $('#plot-variable-x').multiselect('deselect', unchecked_option);
        } else {
            // only 1 variable is allowed to be checked in the x-axis dropdown
            var previous_x_variable = variablesObject.variable_id_array_x.pop()
            variablesObject.variable_name_array_x.pop()
            $('#plot-variable-x').multiselect('deselect', previous_x_variable);

            var full_variable_name = nameFabrication(optionObj);
            variablesObject.variable_id_array_x.push(optionObj.val);
            variablesObject.variable_name_array_x.push(full_variable_name);
        }

        // X-Axis Logic
        if (variablesObject.variable_id_array_x.length) {

            // Enable Y-Axis button
            $('#container-y').find('.multiselect.dropdown-toggle').removeClass('disabled');

            if (optionObj.val === 'Time'){
                variablesObject.plot_class = 'Timeseries';
            } else {
                variablesObject.plot_class = 'Comparison';
                // change plot type to scatter
                $('#id_plot_type').val(2);
            }
        }

        syncMenusWithList()
    }

    function updateMultiselect_y(optionObj, checked) {
        var parent = $('#' + optionObj.parent);
        var multiselect = parent.siblings('.btn-group').find('.multiselect-container');

        // Remove unselected variable from global arrays
        if (!checked) {
            var unchecked_option = optionObj.val
            var unchecked_option_indx = variablesObject.variable_id_array_y.indexOf(unchecked_option);

            variablesObject.variable_id_array_y.splice(unchecked_option_indx,1);
            variablesObject.variable_name_array_y.splice(unchecked_option_indx,1);

            $('#plot-variable-y').multiselect('deselect', unchecked_option);

        } else {
            // only allow 1 menu item to be checked when dealing with plots that aren't timeseries
            if (variablesObject.plot_class !== 'Timeseries') {
                var i = 0;
                var number_yvars = variablesObject.variable_id_array_y.slice(0).length;
                while (i <= number_yvars) {
                    var previous_y_variable = variablesObject.variable_id_array_y.pop()
                    variablesObject.variable_name_array_y.pop()
                    $('#plot-variable-y').multiselect('deselect', previous_y_variable);
                    i++;
                }
            }
            var full_variable_name = nameFabrication(optionObj);
            variablesObject.variable_id_array_y.push(optionObj.val);
            variablesObject.variable_name_array_y.push(full_variable_name);
        }

        if (variablesObject.variable_id_array_y.length >= 4) {
            // Disable all other checkboxes
            $('#container-y').find('input[type="checkbox"]:not(:checked)').prop('disabled',true);
        } else {
            $('#container-y').find('input[type="checkbox"]').prop('disabled',false);
        }

        // Y-Axis Logic
        if (variablesObject.plot_class !== 'Timeseries') {
            variablesObject.plot_class = 'Comparison';

            // change the markers to scatter
            $('#id_plot_type').val(2);
        }

        syncMenusWithList()
    }

    function syncMenusWithList() {
        // update hidden plot class dropdown
        $('#id_plot_class').val(plot_class_dict[variablesObject.plot_class]);

        // need to update the plot button with an attribute specifying its type
        $('#plot-button').attr('plot-class', variablesObject.plot_class)

        // update hidden field for later use with form submission
        $('#id_variables_x').val(String(variablesObject.variable_id_array_x))
        $('#id_variables_y').val(String(variablesObject.variable_id_array_y))

        var outerList_x = $('#variables_list_x');
        var for_label_x = 'id_variables_x';
        var outerList_y = $('#variables_list_y');
        var for_label_y = 'id_variables_y';

        var multiselect_x = $('#container-x').find('.multiselect-container');
        var multiselect_y = $('#container-y').find('.multiselect-container');

        // clear the variable list
        outerList_x.html('');
        outerList_y.html('');

        // update error text if necessary
        toggleMenuErrorText();

        // ****build x-list****
        if (variablesObject.variable_id_array_x.length > 0) {
            // rebuild variables_list div
            for (var i=0; i<variablesObject.variable_name_array_x.length; i++) {
                // TODO: clean this up can be simpler
                var variableDivTemplateCloneOuter = $(variableDivTemplate).clone();
                variableDivTemplateCloneHTML = variableDivTemplateCloneOuter[0].outerHTML
                var elem_doc = new DOMParser().parseFromString(variableDivTemplateCloneHTML, 'text/html');

                var variableDivTemplateClone = $(elem_doc.body.firstChild);

                variableDivTemplateClone.attr('data-var-id', String(variablesObject.variable_id_array_x[i]))
                variableDivTemplateClone.find('a').attr('data-var-id', String(variablesObject.variable_id_array_x[i]))
                variableDivTemplateClone.find('span').text(variablesObject.variable_name_array_x[i]);
                variableDivTemplateClone.appendTo($('#variables_list_x'));
            }
        }

        // ****build y-list****
        if (variablesObject.variable_id_array_y.length > 0) {
            // rebuild variables_list div
            for (var i=0; i<variablesObject.variable_name_array_y.length; i++) {
                // TODO: clean this up can be simpler
                var variableDivTemplateCloneOuter = $(variableDivTemplate).clone();
                variableDivTemplateCloneHTML = variableDivTemplateCloneOuter[0].outerHTML
                var elem_doc = new DOMParser().parseFromString(variableDivTemplateCloneHTML, 'text/html');

                var variableDivTemplateClone = $(elem_doc.body.firstChild);

                variableDivTemplateClone.attr('data-var-id', String(variablesObject.variable_id_array_y[i]))
                variableDivTemplateClone.find('a').attr('data-var-id', String(variablesObject.variable_id_array_y[i]))
                variableDivTemplateClone.find('span').text(variablesObject.variable_name_array_y[i]);
                variableDivTemplateClone.appendTo($('#variables_list_y'));
            }
        }
    }

    function nameFabrication(optionObj) {
        var fullCheckBoxName = optionObj.text;
        var splitName = fullCheckBoxName.split(':')
        var instrument = splitName[0].trim();

        if (splitName.length === 1) {
            var baseVarName = $('#varpicker-name').text().split(' ')[0];
        } else {
            var baseVarName = splitName[1].trim();
        }

        var plot_deployment_code_str = optionObj.option_custom ? ': ' : ' (' + assetsObject.deployment_code + '): ';

        // for Time we don't need the full string
        if (instrument === assetsObject.asset_name) {
            var detailedName = instrument + plot_deployment_code_str + baseVarName;
        } else {
            var detailedName = instrument + ' on ' + assetsObject.asset_name + plot_deployment_code_str + baseVarName;
        }

        if (splitName.length === 1) {
            var detailedName = splitName[0];
        }
        return detailedName
    }

    // function to turn multiselector checkboxes on for the necessary variables
    function toggleOnMenuItems(variable_id_list_x, variable_id_list_y) {
        for (var i=0; i<variable_id_list_x.length; i++) {
            $('#plot-variable-x').multiselect('select', String(variable_id_list_x[i]))
            if (variable_id_list_x[i] === 'Time') {
                $('#plot-variable-x').multiselect('select', String('Time'))
            }
        }

        for (var i=0; i<variable_id_list_y.length; i++) {
            $('#plot-variable-y').multiselect('select', String(variable_id_list_y[i]))
        }

        // disable the rest of the checkboxes if 4 are already selected
        if (variablesObject.variable_id_array_y.length >= 4) {
            $('#container-y').find('input[type="checkbox"]:not(:checked)').prop('disabled',true);
        }
    }

    $('[id^=variables_list_]').on('click','a', function() {
        var axis_list = $(this.closest('div[id^=variables_list_]')).attr('id');

        if (axis_list === 'variables_list_x') {
            var parent = 'plot-variable-x';
        } else {
            var parent = 'plot-variable-y';
        }

        var variable_id = String($(this).data('varId'));
        var optionObj = {val: variable_id, text: $(this).next().text(), parent: parent}

        if (axis_list === 'variables_list_x') {
            updateMultiselect_x(optionObj, false)
        } else {
            updateMultiselect_y(optionObj, false)
        }
    })

    $(document).on('click','.update-plot', function() {
        if (!assetsObject.asset_id) {
            alert('Select a variable source')
            return
        }
        update_plot_data();
    });

    $('.multiselect.dropdown-toggle').on('click',function() {
        if (!assetsObject.asset_id) {
            alert('Select a variable source')
        }
    })


    {% if asset %}
        var x_var_ids = xvarArr.map(function(xv) {return xv.id});
        var y_var_ids = yvarArr.map(function(yv) {return yv.id});
        var global_str = '{{ plot.is_global }}'
        var global = global_str === 'True' ? 'global_True' : 'global_False'
        var plot_type = $('#id_plot_type').find('option:selected').text().toLowerCase();
        var plot_class_val = $('#id_plot_class').val()  // (this will be hidden)
        var plot_class = Object.keys(plot_class_dict).filter(function(key) {
            return plot_class_dict[key] === Number(plot_class_val)})[0];
        var y_direction = ($('#id_yaxis_orientation').val()).toLowerCase() === 'true' ? true : false;

        var start_date = "{{ plot.start_date|date:'Y-m-d'}}";
        var end_date = "{{ plot.end_date|date:'Y-m-d'}}";

        var time_window = {{ plot.plot_time_range.days|default:"-1" }};

        var create_view = getParameterByName('type', window.location.href) || false;
        if(!create_view){
            update_plot(
                {{ asset.id }},
                {{ deployment.id }},
                x_var_ids,
                y_var_ids,
                time_window,
                'plot-preview-container',
                $('#id_name').val(),
                global,
                plot_type,
                plot_class,
                y_direction,
                start_date,
                end_date
            );
        }
    {% endif %}

    $('#id_owner').change(function() {
        if (!$('#id_owner').val()) {
            $('label[for="id_owner"]').closest('.control-label').children().addClass('invalid-input');
            $('#owner-div').append('<p style="font-style: italic" class="invalid-color">' + 'Select an owner' + '</p>');
        } else {
            $('label[for="id_owner"]').closest('.control-label').children().removeClass('invalid-input');
            $('#owner-div').find('p').remove();
        }
    })

    // toggle the owner div on/off depending on if the plot is global or not
    $('#id_is_global').change(function() {
        if ($('#id_is_global').val() === 'True') {
            $('#owner-div').addClass('not-visible'); // change this class
            $('#id_owner').val(1)
        } else {
            $('#owner-div').removeClass('not-visible');
        }
    })


    function getMenuVariables(asset_id) {
        if ($('#variable-loading-text-x').hasClass('hidden')) {
            // add the text to the DOM and make it visible
            $('#variable-loading-text-x, #variable-loading-text-y').removeClass('hidden');

            // add hidden class to the preview button
            $('#btn-plot').addClass('hidden')
        }

        // if it doesn't exist then need to append it (this is the case when coming to page with no asset and no variables)
        if ($('#variable-loading-text-x').length === 0) {
            $('#container-x').after('<p id="variable-loading-text-x" style="color: #0000ff">menu loading...</p>')
            $('#container-y').after('<p id="variable-loading-text-y" style="color: #0000ff">menu loading...</p>')
        }

        $('.multiselect.dropdown-toggle').addClass('disabled')

        var ajaxCall = $.ajax({
                url: '/asset/ajax/get_asset_variables',
                method: 'POST',
                data: {
                    'asset_id': asset_id,
                    'user_id': {{request.user.id}}
                }
        });

        ajaxCall.done(function(resp) {
            var menuVariables = resp.variables;

            var menuVarIds=[];
            for (var i=0; i<menuVariables.length; i++) {
                if (menuVariables[i] !== undefined && typeof(menuVariables[i]['id'] === 'number')) {
                    menuVarIds.push(String(menuVariables[i].id));
                }
            }

            menuVarIds_x = menuVarIds.slice(0);
            menuVarIds_x.unshift('Time');
            menuVarIds_y = menuVarIds.slice(0)

            buildMenu(menuVariables, asset_id);
            toggleOnMenuItems(variablesObject.variable_id_array_x,variablesObject.variable_id_array_y);
            $('#variable-loading-text-x, #variable-loading-text-y').addClass('hidden');
            $('.multiselect.dropdown-toggle').removeClass('disabled')
            $('#btn-plot').removeClass('hidden')

            // make time the default X-Axis
            if (variablesObject.variable_id_array_x.length === 0) {
                $('#plot-variable-x').multiselect('select', 'Time');
                var optionObj = {val: 'Time', text: 'Time', parent: 'plot-variable-x'};
                updateMultiselect_x(optionObj, true);
            }
        })
    }

    // TODO: bootstrap multiselect is rather slow for these huge lists.. why are there so many variables
    // in these dropdowns?
    function buildMenu(menuItems, asset_id) {
        var list_item, html_text='';

        // build time checkbox
        timeItem_text = '<option value="Time">Time</option>'

        for (var i=0; i<menuItems.length; i++){
            var data_custom = menuItems[i].is_custom ? true : false;

            listItem = '<option value="' + (menuItems[i].id).toString() + '" ' + 'data-custom=' + data_custom + '>' +
                menuItems[i].name + '</option>';
            html_text += listItem;
        }

        $("#plot-variable-x").multiselect('destroy');
        $("#plot-variable-y").multiselect('destroy');

        // make sure this element is emptied out
        $('#plot-variable-x').empty();
        $('#plot-variable-x').append(timeItem_text + html_text);
        $('#plot-variable-x').multiselect(multiselectObject);

        $('#plot-variable-y').empty();
        $('#plot-variable-y').append(html_text);
        $('#plot-variable-y').multiselect(multiselectObject);
    }

    function toggleMenuErrorText() {
        var errorMsgs = {
            noneSelected: 'Select a variable',
            tooManySelected: 'Limit: 1 variable'
        }

        var noneSelected_x = variablesObject.variable_id_array_x.length === 0;
        var noneSelected_y = variablesObject.variable_id_array_y.length === 0;

        var tooManySelected = variablesObject.plot_class === 'Comparison' &&
            variablesObject.variable_id_array_y.length > 1;

        if (noneSelected_x) {
            if ($('#variables_list_x').find('p[class="error-message"]').length === 0) {
                 $('label[for="id_variables_x"]').closest('.control-label').children().addClass('invalid-input');
                 $( '<p class="error-message">' + errorMsgs['noneSelected'] + '</p>' ).appendTo($('#variables_list_x'));
            }
        } else {
            $('label[for="id_variables_x"]').closest('.control-label').children().removeClass('invalid-input');
        }

        if (noneSelected_y) {
            if ($('#variables_list_y').find('p[class="error-message"]').length === 0) {
                 $('label[for="id_variables_y"]').closest('.control-label').children().addClass('invalid-input');
                 $( '<p class="error-message">' + errorMsgs['noneSelected'] + '</p>' ).appendTo($('#variables_list_y'));
            }
        } else if (tooManySelected) {
            if ($('#variables_list_y').find('p[class="error-message"]').length === 0) {
                 $('label[for="id_variables_y"]').closest('.control-label').children().addClass('invalid-input');
                 $( '<p class="error-message">' + errorMsgs['tooManySelected'] + '</p>' ).appendTo($('#variables_list_y'));
            }
        } else {
            $('label[for="id_variables_y"]').closest('.control-label').children().removeClass('invalid-input');
        }

        return
    }

    function checkPlottingParams() {
        var plotting_param_error = false;

        var noneSelected_x = variablesObject.variable_id_array_x.length === 0;
        var noneSelected_y = variablesObject.variable_id_array_y.length === 0;

        var tooManySelected = variablesObject.plot_class === 'Comparison' &&
            variablesObject.variable_id_array_y.length > 1;

        if (noneSelected_x || noneSelected_y || tooManySelected) {
            plotting_param_error = true;
        }

        return plotting_param_error
    }

    $("#custom-save-form").validate({
        rules: {
            name: "required",
            variables_x: "required",
            variables_y: "required",
            timeframe: "required",
        },
        messages: {
            name: "Plot name is required",
            variables_x: "Variable(s) are required",
            variables_y: "Variable(s) are required",
            timeframe: "Timeframe required",

        },
        errorElement: "em",
        errorPlacement: function (error, element) {
            // Add the `help-block` class to the error element
            error.addClass("help-block");
            if ( element.prop("type") === "checkbox" ) {
                error.insertAfter(element.parent("label"));
            } else {
                error.insertAfter(element);
            }
        },
        highlight: function (element, errorClass, validClass ) {
            $(element).closest(".form-group").addClass("has-error");
            $(element).closest('input').addClass('validation-problem');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".form-group").removeClass("has-error");
            $(element).closest('input').removeClass('validation-problem');
        }
    });

    {% if not is_readonly %}
    $("#custom-save-form").submit(function(e){
        if (!$("#custom-save-form").valid() || variablesObject.variable_id_array_x.length === 0
        || variablesObject.variable_id_array_y.length === 0 || !$('#id_owner').val()) {
            e.preventDefault();
            if (variablesObject.variable_id_array_x.length === 0 &&
                !$('label[for="id_variables_x"]').hasClass('invalid-input')) {
                toggleMenuErrorText();
            }
            if (variablesObject.variable_id_array_y.length === 0 &&
                !$('label[for="id_variables_y"]').hasClass('invalid-input')) {
                toggleMenuErrorText();
            }

            if (!$('#id_owner').val() &&
                !$('label[for="id_owner"]').hasClass('invalid-input')) {
                $('label[for="id_owner"]').closest('.control-label').children().addClass('invalid-input');
                $('#owner-div').append('<p style="font-style: italic" class="invalid-color">' + 'Select an owner' + '</p>');

            }
            return false;
        }
    });
    {% endif %}

    $("#add-another-button").click(function(e){
        e.preventDefault();
        if($("#custom-save-form").valid() || variablesObject.variable_id_array_x.length < 0){
            var url = window.location.href;
            url = url.replace("type=create", "type=create&add_another=true");
            window.history.replaceState(null, null, url);
            $("#custom-save-form").first().submit();
        }
    });

    $("#cancel-button").click(function(e){
        e.preventDefault();

        var from_where = '{{ from_where }}';
        // check if we are dealing with a plot page
        if ('{{ from_where }}'.indexOf('plot_page') >-1) {
            from_where = 'plot_page';
            var plot_page_number = '{{ from_where }}'.replace('plot_page','');
        }

        switch (from_where) {
        case 'asset':
            {% if asset %}
                window.location.href = "{% url 'asset.overview' asset.id deployment.code %}"
            {% endif %}
            break;

        case 'admin_manager':
                window.location.href = "{% url 'plots.manage_plots' %}"
            break;

        case 'plot_page':
                window.location.href = "{% url 'plot.plot_page' 0 %}".replace('0',plot_page_number);
            break;

        default:
            {% if asset %}
                window.location.href = "{% url 'asset.overview' asset.id deployment.code %}"
            {% endif %}

        }
    });

    $("#id_plot_type").on('change', function() {
        if($.trim($('#plot-preview-container').html()) !== '') {
            update_plot_data();
        }
    });

    $("#id_yaxis_orientation").on('change', function() {
        if($.trim($('#plot-preview-container').html()) !== '') {
            update_plot_data();
        }
    });

    $("#id_timeframe").on('change', function() {
        var $time_window_el = $("#id_timeframe");
        if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
            return;
        }
        if($.trim($('#plot-preview-container').html()) !== '') {
            update_plot_data();
        }
    });

    function update_plot_data() {
        var plot_id = 'plot-preview-container';
        var asset_id = $('#btn-plot').attr('data-asset-id');
        var deployment_id = $('#btn-plot').attr('data-deployment-id');
        var plotname = $('#id_name').val() || 'Custom Plot'
        var plot_type = $('#id_plot_type').find('option:selected').text().toLowerCase();
        var plotglobal = 'global_' + $('#id_is_global').val();
        var plot_class_val = $('#id_plot_class').val();
        var y_direction = ($('#id_yaxis_orientation').val()).toLowerCase() === 'true' ? true : false;

        var $time_window_el = $("#id_timeframe");
        var start_date = undefined;
        var end_date = undefined;
        var time_window = undefined;
        if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
            start_date = $("#id_start_date").val();
            end_date = $("#id_end_date").val();
            time_window = $time_window_el.val();
        }else{
            time_window = time_choices_dict[$time_window_el.val()]['days']
        }

        // clear #plot-preview-container innerHTML and don't start the spinner if no variables selected
        if (plot_id === 'plot-preview-container') {
            var plotting_param_errors = checkPlottingParams();
            if (plotting_param_errors) {
                // this is a check.. just in case a user tries to plot without updating the menus
                if (variablesObject.variable_id_array_x.length === 0 ||
                    variablesObject.variable_id_array_y.length === 0) {
                    toggleMenuErrorText();
                }

                // clear #plot0 innerHTML and don't start the spinner if a selection is missing
                $('#plot-preview-container').html('')
                return
            }
        }

        var plot_class = Object.keys(plot_class_dict).filter(function(key) {
            return plot_class_dict[key] === Number(plot_class_val)})[0];

        switch (plot_class) {
            case 'Timeseries':
                // need to do some checking to make sure we have selected items in both menus
                var x_var = 'time';
                var y_var =  $('#id_variables_y').val();

                update_plot(asset_id, deployment_id, x_var, y_var, time_window, plot_id, plotname, plotglobal,
                    plot_type, plot_class, y_direction, start_date, end_date);
                break;
            case 'Comparison':
                // grab both the x-axis and y-axis variable
                var x_var = $('#id_variables_x').val();
                var y_var = $('#id_variables_y').val();

                // dont allow a variable to be plotted against itself
                if (x_var === y_var) {
                    alert('Plotting a variable against itself is not allowed');
                    return
                }

                // TODO: check if the user is trying to do a comparison plot with variables from different assets
                // (use asset_id saved as data attr in menu items --not hooked up yet--  prob the easiest way to do this)

                update_plot(asset_id, deployment_id, x_var, y_var, time_window, plot_id, plotname, plotglobal,
                    'scatter', plot_class, y_direction, start_date, end_date);
                break
            default:
                console.log('plot class was not specified please investigate')
        }
    }

    $(function() {
        // Make form read only
        if ("{{ is_readonly }}" === "True") {
            $('#id_name, #id_plot_type, #id_yaxis_orientation, #id_timeframe, #plot-variable-x, #plot-variable-y').attr('disabled', true);
            $('.delete-variable, #varpicker-button, #assetpicker-button').hide();
            $('').hide();
        }
    });
    </script>
{% endblock %}
