{% extends 'base.html' %}
{% load static %}
{% load status_tags %}

{% block topnav %}
    <h1>Edit Platform</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">Platform Details</div>
                    <div class="x_content">
                        {% if update_successful %}
                            <div class="alert alert-success">Platform has been updated</div>
                        {% endif %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        <form id="" method="post" class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-4">Platform</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.name }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Deployment</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.deployment.code }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Array</label>
                                <div class="col-md-8">
                                    <span class="form-control-static">{{ platform.group.name }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Category</label>
                                <div class="col-md-8">
                                    {{ form.category }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Subcategory</label>
                                <div class="col-md-8">
                                    {{ form.subcategory }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Disposition</label>
                                <div class="col-md-8">
                                    {{ form.disposition }}
                                    <p class='invalid-input'>{% if form.disposition.errors %}{{ form.disposition.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Deployed</label>
                                <div class="col-md-8">
                                    {{ form.deployment_date }}
                                    <p class='invalid-input'>{% if form.deployment_date.errors %}{{ form.deployment_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Recovered</label>
                                <div class="col-md-8">
                                    {{ form.recovery_date }}
                                    <p class='invalid-input'>{% if form.recovery_date.errors %}{{ form.recovery_date.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Latitude</label>
                                <div class="col-md-8">
                                    {{ form.lat }}
                                    <p class='invalid-input'>{% if form.lat.errors %}{{ form.lat.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Longitude</label>
                                <div class="col-md-8">
                                    {{ form.lon }}
                                    <p class='invalid-input'>{% if form.lon.errors %}{{ form.lon.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Depth (m)</label>
                                <div class="col-md-8">
                                    {{ form.depth }}
                                    <p class='invalid-input'>{% if form.depth.errors %}{{ form.depth.errors.as_text }}{% endif %}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="clearfix"></div>

                    <div id="reload-configuration-section">
                        <div class="x_title">Reload Configuration</div>
                        <div class="x_content">
                            <div id="reload-success" class="alert alert-success" style="display:none">
                                The platform has been reloaded successfully
                            </div>
                            <div id="reload-error" class="alert alert-danger" style="display:none"></div>
                            <p>Reload the instrument listing and configuration from the platform config file on the server</p>

                            <div class="text-center">
                                <img src="{% static 'images/loading.gif' %}" id="loading-icon" />
                                <button type="button" id="reload-configuration" class="btn btn-sm btn-primary">Reload Configuration</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_title">Other Deployments</div>
                    <div class="x_content">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Deployment</td>
                                    <td>Disposition</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in related_assets %}
                                <tr>
                                    <td>{{ asset.deployment.code }}</td>
                                    <td>{{ asset.disposition.name }}</td>
                                    <td><a href="{% url 'asset.edit_platform' asset.id %}">Edit</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <a href="{% url 'asset.manage_platforms' %}" class="btn btn-primary">Return to Platform List</a>
                    </div>
                </div>
            </div>
            {% if not is_new %}
            <div id="status-grid-container" class="col-md-8 pull-right">
                <div class="row x_panel" id="status-grid">
                    <div class="x_title">
                        <h2><div class="pull-right" id="platform-status-header">Platform Status</div></h2>
                        <div class="clearfix"></div>
                    </div>
                    {% status_grid platform.id platform.id platform.deployment.code %}
                </div>
            </div>
            {% endif %}
        </div>


    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
<script>
    function addSubcategory(name, value, isSelected) {
        var option = $("<option />")
            .val(value)
            .text(name)
            .prop("selected", isSelected);

        $("#id_subcategory").append(option);
    }

    function bindSubcategories() {
        $.ajax({
            url: "{% url 'asset.subcategories' %}",
            method: 'POST',
            data: { 'id': $("#id_category option:selected").val() },
            success: function(response) {
                var data = response.data;
                if (!data[0])
                    return;

                var selectedId = $("#id_subcategory option:selected").val();
                $("#id_subcategory").find('option').remove();

                $.each(data, function(idx, value){
                    addSubcategory(value.name, value.id, value.id == selectedId);
                });
            }
        });
    };

    $(function() {
        bindSubcategories();

        $("#id_category").on('change', function() {
            bindSubcategories();
        });

        $("#reload-configuration").click(function(){
            $("#reload-success").hide();
            $("#reload-error").hide();
            $("#reload-configuration").hide();
            $("#loading-icon").show();

            $.post(
                "{% url 'asset.reload_configuration' %}",
                {
                    "platform_code": "{{ platform.code }}",
                    "deployment_code": "{{ platform.deployment.code }}"
                },
                function(data){
                    $("#loading-icon").hide();
                    $("#reload-configuration").show();

                    if (!data.success) {
                        $("#reload-error").html(data.message);
                        $("#reload-error").show();
                        return;
                    }

                    $("#reload-success").show();
                }
            );
        });
    });
</script>
{% endblock %}
