{% extends 'base.html' %}
{% load static %}
{% load ui_tags status_tags %}

{% block topnav %}
    <h1>{{ group.name }} -- Mooring Map {% if specific_platform_code %} ({{specific_platform_code}}) {% endif %}</h1>

{% endblock %}

{% block content %}
<div id="map"><div id="no-data-tag"><h1>No Data Available</h1></div></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var groupDataId = 'group-{{ group.id }}';
        SetupCurrentSideNavMenu(groupDataId, null);
    });

    var map = L.map("map").setView({{ fallback_position }}, 6);
    L.esri.basemapLayer("Oceans",{maxNativeZoom: 13}).addTo(map);
    map.setMaxZoom(16)

    var circleMarkerStyle = {
        radius: 5,
        fillColor: '#a6a6a6',
        color: '#000000',
        weight: 0.1,
        opacity: 1,
        fillOpacity: 1
    };

    function formatUTCdate(d) {
        var year = d.getUTCFullYear().toString().substr(2,2);
        var month = (d.getUTCMonth()+1);
        var day = d.getUTCDate();
        var hour_24 = d.getUTCHours();
        var hour = ((hour_24 + 11) % 12 + 1);
        var minutes_raw = d.getUTCMinutes();
        var minutes = minutes_raw < 10 ? '0' + minutes_raw : minutes_raw;
        var identifier = hour_24 >= 12 ? 'pm' : 'am';
        formatted_time = month + '/' + day + '/' + year + ' ' + hour + ':' + minutes + identifier + ' ' + 'UTC';
        return formatted_time
    }

    function colorCircleMarker(input_time, coords) {
        var present_time = new Date().getTime();

        // greater|equal to 0 and less than 6
        if ((present_time - input_time) >= (0*60*60*1000) && (present_time - input_time) < (6*60*60*1000)) {
            color = '#333333';
        // greater|equal to 6 and less than 12
        } else if ((present_time - input_time) >= (6*60*60*1000) && (present_time - input_time) < (12*60*60*1000)) {
            color = '#595959';
        // greater|equal to 12 and less than 18
        } else if ((present_time - input_time) >= (12*60*60*1000) && (present_time - input_time) < (18*60*60*1000)) {
            color = '#808080';
        // greater|equal to 18 and less than 24
        } else if ((present_time - input_time) >= (18*60*60*1000) && (present_time - input_time) < (24*60*60*1000)) {
            color = '#a6a6a6';
        } else if ((present_time - input_time) >= (24*60*60*1000)) {
            color = '#cccccc';
        } else {
            // default
            color = '#cccccc';
        }

        var circleMarkerStyleClone = JSON.parse(JSON.stringify(circleMarkerStyle))

        // update the marker fill color
        circleMarkerStyleClone.fillColor = color;
        var headMarker = L.circleMarker(coords, circleMarkerStyleClone);
        return headMarker
    }

    // marker popup template
    var popupTemplate=$('<div></div>');
    popupTemplate.append('<a href="#">' + '<p style="margin: 0"><b><span class="platform-code">code</span>' +
                            '<span class="platform-deployment-code">deployment_code</span></b>'+ '</p>' + '</a>');
    popupTemplate.append('<hr style="margin: 4px 0"/>');
    popupTemplate.append('<p style="margin: 0">' + '<b>Time: </b>' + '<span class="platform-last-reported-time">iso8601time</span>' + '</p>');
    popupTemplate.append('<p style="margin: 0">' + '<b>Latitude: </b>' + '<span class="platform-latitude">latitude</span>' + '</p>');
    popupTemplate.append('<p style="margin: 0">' + '<b>Longitude: </b>' + '<span class="platform-longitude">longitude</span>' + '</p>');
    popupTemplate.append('<p style="margin: 0">' + '<b>Active Alerts: </b>' + '<span class="platform-alerts">alerts</span>' + '</p>');

    // https://github.com/pointhi/leaflet-color-markers

    $(function() {
        var allMooringsGroup = L.featureGroup([]);
        var activeMooringGroup = L.featureGroup([]);

        // add the initially empty layer to be filled while looping
        allMooringsGroup.addTo(map);

        {% for mooring in output_mooring_data %}

            // time_position_array is in this format: [time, lat, lon]
            var time_position_array = {{ mooring.time_position_array }};
            if (time_position_array[0]>time_position_array.slice(-1)[0]) {
                time_position_array.reverse();
            }

            for (var i=0; i<time_position_array.length; i++) {

                // create the marker and popup content
                var coords = [time_position_array[i][1], time_position_array[i][2]];

                var popupClone = $(popupTemplate).clone();
                $(popupClone).find('.platform-code').text('{{ mooring.platform_code }}');
                $(popupClone).find('.platform-last-reported-time').text(formatUTCdate(new Date(time_position_array[i][0])));
                $(popupClone).find('.platform-id').text({{ mooring.platform_id }});
                $(popupClone).find('.platform-deployment-code').text(' ({{ mooring.deployment_code }})');
                $(popupClone).find('.platform-latitude').text(coords[0].toFixed(4));
                $(popupClone).find('.platform-longitude').text(coords[1].toFixed(4));
                $(popupClone).find('.platform-alerts').text({{ mooring.alerts }});
                $(popupClone).find('a').attr('href',"{% url 'asset.overview' mooring.platform_id mooring.deployment_code %}")

                if (i<time_position_array.length-1) {
                    // use a different marker for previous positions
                    $(popupClone).find('.platform-alerts').closest('p').remove();

                    // marker factory
                    var headMarker = colorCircleMarker(time_position_array[i][0], coords);
                } else {
                    var present_time = new Date().getTime();

                    // change opacity if data is older than 12 hours
                    if ((present_time - time_position_array[i][0]) > (12*60*60*1000)) {
                        head_opacity = 0.5;
                    } else {
                        head_opacity = 1.0;
                    }

                    var headMarker = L.marker(coords, {opacity: head_opacity});
                }
                headMarker.bindPopup(popupClone[0].outerHTML)
                activeMooringGroup.addLayer(headMarker)
            }

        {% endfor %}

        allMooringsGroup.addLayer(activeMooringGroup)
        if (Object.keys(activeMooringGroup.getBounds()).length > 0) {
            map.fitBounds(activeMooringGroup.getBounds(),{maxZoom: 7, padding: [100, 100]});
        } else {
            $('#no-data-tag').css('display','block');
        }

    })
</script>
{% endblock %}