{% extends 'base.html' %}
{% load static %}
{% load ui_tags status_tags %}

{% block topnav %}
<h1>{{ group.name }}</h1>
{% endblock %}

{% block content %}

<style type="text/css">
	button.accordion {
		background-color: #5f9ea0;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: 1px solid black;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
	}

	button.accordion.active, button.accordion:hover {
		background-color: #6495ED;
	}

	div.panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}

</style>
<div class="row">
    <div class="row disposition-filters" id="dispositions">
        <div class="col-md-6 text-left">
            Displayed Platforms:
            {% for disposition in dispositions %}
            <label>
                <input
                        type="checkbox"
                        data-value="{{ disposition.id }}"
                        {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                {{ disposition.name }}
            </label>
            {% endfor %}
        </div>
    </div>
</div>
{% for platform in platforms %}
    <div class="col-lg-6 {% if not platform.disposition_id in shown_dispositions %}hide{% endif %}"
        data-disposition-id="{{ platform.disposition_id }}">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-sm-4 text-left">
                    <h2>
                        <a href="{% url 'asset.overview' platform.platform_id platform.deployment_code %}">
                            {{ platform.platform_code }} ({{ platform.deployment_code }})
                        </a>
                    </h2>
                </div>
                <div class="col-sm-4 text-center">
                    <h2 class="title-no-float">Active Alerts: {{ platform.alerts }}</h2>
                </div>
                <div class="col-sm-4 col-no-horiz-padding text-right">
                    <ul class="panel_toolbox nav">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% status_grid platform.platform_id platform.platform_id platform.deployment_code %}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function() {
        var groupDataId = 'group-{{ group.id }}';
        SetupCurrentSideNavMenu(groupDataId, null);

        $("#dispositions input[type=checkbox]").click(function(){
            $("#dispositions input[type=checkbox]").each(function(){
                var id = $(this).attr('data-value');
                $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
            });
        });
    });
	</script>

{% endblock %}