{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
    <h1>Manage Plots </h1>
{% endblock %}


{% block content %}

<div class="x_panel">
    <div class="x_content" id="plot-list">
        <div class="row disposition-filters" id="dispositions">
            <div class = 'col-md-6 text-left'>
                <select class="asset-select pull-left">
                    <option value="">All Platforms</option>
                    {% for platform in platforms %}
                        <option value="{{ platform.id }}">{{ platform.name }} ({{ platform.deployment.name }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class = 'col-md-6 text-right'>
                <button style="margin-left: 20px" id='addplot' class="btn btn-sm btn-primary pull-right">Add New Plot</button>
            </div>
            <div class="col-md-12 text-left">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            id="disposition_input"
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <table id="plots" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

    $(window).on('unload', function() {
        var plotTablePage = plotsTable.page();
        var searchText = $('.dataTables_filter input').val()
        localStorage.setItem("plotPageNumber", plotTablePage);
        localStorage.setItem("searchText", searchText);
    });

    // Define this globally to dynamically update
    var platform_id = getParameterByName('platform_id', window.location.href) || 'no asset';
    var plot_success = getParameterByName('saved', window.location.href) || false;
    var currentUserId = {{ request.user.id }};

    var plotsTable = null;

    function canEdit(isGlobal, userId)
    {
        var editShared = {{ perms.core.edit_shared_items|yesno:"true,false" }};
        var editOthers = {{ perms.core.edit_other_items|yesno:"true,false" }};

        if (isGlobal && !editShared) return false;
        if (!isGlobal && currentUserId !== userId && !editOthers) return false;

        return true;
    }

    function canDelete(isGlobal, userId)
    {
        var deleteShared = {{ perms.core.delete_shared_items|yesno:"true,false" }};
        var deleteOthers = {{ perms.core.delete_other_items|yesno:"true,false" }};

        if (isGlobal && !deleteShared) return false;
        if (!isGlobal && currentUserId !== userId && !deleteOthers) return false;

        return true;
    }

    function canClone(isGlobal, userId)
    {
        var cloneShared = {{ perms.core.clone_shared_items|yesno:"true,false" }};
        var cloneOthers = {{ perms.core.clone_other_items|yesno:"true,false" }};

        if (isGlobal && !cloneShared) return false;
        if (!isGlobal && currentUserId !== userId && !cloneOthers) return false;

        return true;
    }

    $(function(){

        if (platform_id !== '') {
            $('.asset-select').val(platform_id);
        }

        if (plot_success) {
            add_success_message("Plot successfully saved");
        }

    	plotsTable = $("#plots").DataTable({
            dom: 'frtip',
            pageLength: 25,
            order: ([1,'asc']),
            paging: true,
            searching: true,
            ordering: true,
            info: true,
            ajax: {
                    url: '/plot_list/ajax/plot_list',
                    method: 'POST',
                    data: function(d) {
                        d.asset_id = $(".asset-select").val()

                        let checked_disps = []
                        $("#dispositions input[type=checkbox]").each(function(){
                            const id = $(this).attr('data-value');
                            $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
                            if ($(this).is(":checked")) {
                                checked_disps.push(id)
                            }
                        })
                        checked_disps_sql_list = checked_disps.join(',')
                        d.asset_disposition = checked_disps_sql_list
                    }
            },
            columns: [
                {
                    data: "id",
                    visible: false
                },
                {
                    title: "Name",
                    data: "name"
                },
                {
                    title: "Is Shared",
                    data: "is_global"
                },
                {
                    data: "platform_id",
                    visible: false,
                    searchable: false
                },
                {
                    title: "Platform",
                    data: "platform_name",
                    render: platform_link_creator
                },
                {
                    data: "asset_id",
                    visible: false,
                    searchable: false
                },
                {
                    title: "Asset",
                    data: "asset_name",
                    render: asset_link_creator
                },
                {
                    title: "Deployment",
                    data: "deployment_code"
                },
                {
                    data: "deployment_id",
                    visible: false,
                    searchable: false
                },
                {
                    title: "Date Created",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "User",
                    data: "user"
                },
                {
                    data: "id",
                    render: function(data, type, row) {
                        if (!canClone(row.is_global == "Yes", row.user_id))
                            return "";

                        var url = '/asset/clone_plot/' + row.asset_id +'/' + row.deployment_code + '/' + data;

                        return "<a href='" +  url + "'>Clone</a>";
                    }
                },
                {
                    data: "id",
                    render: function(data, type, row) {
                        var text = canEdit(row.is_global == "Yes", row.user_id) ? "Edit" : "View";
                        var url = '/asset/edit_plot/' + row.asset_id + '/' + row.deployment_code + '/' + data +
                                '?from=admin_manager';

                        return "<a href='" + url + "'>" + text +"</a>";
                    }
                },
                {
                    data: "id",
                    render: function(data, type, row) {
                        if (!canDelete(row.is_global == "Yes", row.user_id))
                            return "";

                        return "<a href='#' data-id='" + data + "' class='delete-link'>Delete</a>"
                    }
                }
            ]
        })

        $('#plots').on( 'order.dt', function () {
            var $table = $('#plots').DataTable()
            var order = $table.order();
            if(order && order.length == 1){
                $column_id = 7 // Deployment is column 7
                if([6, 4].includes(order[0][0])){ // Only sort by deployment when sorting by 6-Asset, 4-Platform
                    $table.order([[order[0][0], order[0][1]], [$column_id, order[0][1]]]).draw();
                }
            }
        } );

        $('#plots tbody').on('click', '.delete-link', function() {
            if (!confirm('Are you sure you want to delete this plot?'))
                return;

            $.ajax({
                method: "POST",
                url: '/asset/ajax/delete_custom_plot',
                data: {
                    'plot_id': $(this).data("id")
                },
                success: function(resp) {
                    if (resp.success)
                        plotsTable.ajax.reload();
                }
            });
        });

        $('#addplot').on('click', function() {
            var url = "{% url 'plots.edit_plot' 'asset_id' 'deployment_code' %}"
                     .replace('asset_id','asset=none')
                     .replace('deployment_code','deployment=none');

             window.location.href = url + '?type=create&from=admin_manager';
        });

        $('.asset-select').change(function(){
            var updatedUrl = "{% url 'plots.manage_plots' %}?platform_id=" + $(this).val()

            window.history.replaceState(null, null, updatedUrl);

            plotsTable.ajax.reload();
        })

        $("#dispositions input[type=checkbox]").click(function(){

            plotsTable.ajax.reload()
        });
    });
</script>

{% endblock %}