{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}

{% block topnav %}
<div class="asset-overview-header">
    <h1>{{ asset.code }} {% if asset.platform.name != asset.name %} on {% firstof asset.platform.name asset.name %} {% endif %} ({{deployment.name}})</h1>
    <span>{% if last_updated_time %}(last update: {{ last_updated_time|date:"n/j/y g:iA"|lower }} UTC){% else %}<p class="none-highlight">(last update: none)</p>{% endif %}</span>
</div>
{% endblock %}

{% block content %}
{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

<div id="asset-overview">
    <div class="row">
        <div id="alert-container" class="col-md-5">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Alert History</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>


                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="active-alerts-filter">
                        <input type="radio" name="alerts-shown" id="active-alerts" checked="checked" />
                        <label for="active-alerts">Active Alerts</label>
                        <input type="radio" name="alerts-shown" id="all-alerts" />
                        <label for="all-alerts">All Alerts</label>
                    </div>

                    <table id="alerts" class="table table-striped table-bordered" width="100%"></table>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Status Change Log</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>


                      </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content hidden">
                    <table id="status-history" class="table table-striped table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
        <div id="status-grid-container" class="col-md-7 pull-right">
            <div class="row x_panel" id="status-grid">
              <div class="x_title">
                <h2><div class="pull-right" id="platform-status-header">Platform Status</div></h2>
                <div class="pull-right">
                  <a class="toggle-status-grid" id="hide-status-grid">Hide <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
              {% status_grid asset.id platform.id deployment.code %}
            </div>
            <div class="row x_panel hidden status-grid-mini-container" id="status-grid-mini">
                {% mini_status_grid asset deployment %}
            </div>
        </div>
    </div>
    <div class="row" id="sys-monitoring-section">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ plot_page_name }}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <form action="{% url 'plot.plot_list' asset.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="page_name" value="{{ plot_page_name }}" />
                        <input type="hidden" name="plot_page_id" value="{{ asset_plots_id }}" />
                        <input type="hidden" name="asset_overview" value="True" />
                        {% if asset_plots_id == 0 %}
                        <input type="hidden" name="default_plots" id="default_plots" value="{{ plots }}" />
                        {% endif %}
                        <button type="submit" id="edit" class="btn btn-sm btn-primary customize-plots-button">
                            {% if asset_plots_id == 0 %}
                            Customize
                            {% else %}
                            Edit
                            {% endif %}
                            Plots
                        </button>
                    </form>
                </li>
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" id="plot-list" data-plot-page-id="{{asset_plots_id}}">
            {% for plot in plots %}
                <div class="col-lg-6 plot-list-plot" id="plot-{{ plot.id }}">
                    <div class="x_panel">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                              <li>
                                <select class="time-window time-window{{ plot.id }}">
                                    {% for id, val in time_choices_dict.items %}
                                        {% if plot.plot_time_range.id == id %}
                                            <option value="{{ id }}" selected>{{ val.name }}</option>
                                        {% else %}
                                            <option value="{{ id }}">{{ val.name }}</option>
                                        {% endif  %}
                                    {% endfor %}
                                </select>


                                <select class="plot-type-window{{ plot.id }}">
                                    {% for val, name in plot_type_choices %}
                                        {% if not plot.plot_type and val == 1 %}
                                            <option value="{{ val }}" selected>{{ name }}</option>
                                        {% elif plot.plot_type.id == val %}
                                            <option value="{{ val }}" selected>{{ name }}</option>
                                        {% else %}
                                            <option value="{{ val }}">{{ name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <select class="y-axis-orientation{{ plot.id }}">
                                    {% for val, name in yaxis_choices %}
                                        <option value="{{ val|lower }}" {% if plot.yaxis_dir %} selected {% endif %}>
                                            Y-Axis {{ name|lower }}
                                        </option>
                                    {% endfor %}
                                </select>

                                <button type="button" class="btn btn-xs btn-primary update-plot plot-btn"
                                        data-plot-id="{{ plot.id }}" data-asset-id="{{ plot.asset.id }}"
                                        data-x-variable-id="{{ plot.x_var }}"
                                        data-y-variable-id="{{ plot.y_var }}"
                                        data-plot-class="{{ plot.plot_class.name }}"
                                        data-yaxis-direction="{{ plot.yaxis_dir }}"
                                        data-plot-global="global_{{ plot.is_global}}" data-plot-name="{{ plot.name }}"
                                        data-deployment-id="{{ deployment.id }}"
                                        style="margin-right:20px">Plot</button>
                                <div class="plot-date-pickers">
                                    <input name="start_date" type="text" placeholder="Start Date" autocomplete="new-password" class="datepicker start_date start_date{{ plot.id }}" value="{{plot.start_date|date:'Y-m-d'}}">
                                    <input name="end_date" type="text" placeholder="End Date" autocomplete="new-password" class="datepicker end_date end_date{{ plot.id }}" value="{{plot.end_date|date:'Y-m-d'}}">
                                </div>
                                
                              </li>
                              <li><a class="collapse-link-all"><i class="fa fa-chevron-up"></i></a></li>
                                {% if asset_plots_id == 0 %}
                                {% else %}
                              <li><a class="close-link-all"><i class="fa fa-close"></i></a></li>
                                {% endif %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="plot{{ plot.id }}" class="pre-loaded-plot" style="align-items: center; display:flex"></div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="clearfix">
                        <!-- clearfix all breakpoints -->
                    </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="x_panel">
        <div class="x_title">
          <h2> Additional Plots </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link-all"><i class="fa fa-chevron-up"></i></a></li>
            <li><a class="close-link-all"><i class="fa fa-close"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
              <div class="col-md-3">
                  <div id="additional-plots" class="x_panel" style="height: 500px">
                      <div class="axis-menu-container" id="container-x">
                          <p class="plot-menu-label">X-Axis</p>
                          <select name="variable" class="hidden" id="plot-variable-x" multiple="multiple">
                            {% for variable in variables %}
                            <option value="{{ variable.id }}">{{ variable.name }}</option>
                            {% endfor %}
                          </select>
                          <p id="variable-loading-text-x" style="color: #0000ff">menu loading...</p>
                      </div>
                      <div class="axis-menu-container" id="container-y">
                          <p class="plot-menu-label">Y-Axis</p>
                          <select name="variable" class="hidden" id="plot-variable-y" multiple="multiple">
                            {% for variable in variables %}
                            <option value="{{ variable.id }}">{{ variable.name }}</option>
                            {% endfor %}
                          </select>
                          <p id="variable-loading-text-y" style="color: #0000ff">menu loading...</p>
                      </div>
                      <div class="axis-menu-container">
                          <p class="plot-menu-label">Y-Axis Orientation</p>
                          <select class="y-axis-orientation0">
                            {% for val, name in yaxis_choices %}
                                <option value="{{ val|lower }}">Y-Axis {{ name|lower }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="axis-menu-container">
                          <p class="plot-menu-label">Markers</p>
                          <select id="plot-type" class="plot-type-window0">
                            {% for val, name in plot_type_choices %}
                                <option value="{{ val }}">{{ name }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="axis-menu-container">
                          <p class="plot-menu-label">Time Constraint</p>
                          <select name="time_window" class="time-window time-window0" id="time-window-template">
                            {% for id, val in time_choices_dict.items %}
                                <option value="{{ id }}">{{ val.name }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="axis-menu-container">
                          <input name="start_date" type="text" placeholder="Start Date" class="datepicker start_date start_date0">
                      </div>

                      <div class="axis-menu-container">
                        <input name="end_date" type="text" placeholder="End Date" class="datepicker end_date end_date0">
                      </div>

                      <div style="position: absolute; bottom: 5px; right: 5px">
                          <button id="plot-button" type="button" class="btn btn-sm btn-primary update-plot"
                              data-plot-id="0" data-asset-id="{{ asset.id }}"
                              data-plot-name="custom-plot" data-plot-global="global_False"
                              data-deployment-id="{{ deployment.id }}">
                              Plot</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="x_panel">
                      {{ plot }}
                      <div>
                        <div id="plot0" style="height:300px; style=align-items: center;display:flex"></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static '/js/site.js' %}"></script>
    <script type="text/javascript">

    var full_plot_access;
    {% if perms.core.edit_shared_items %}
        full_plot_access = true;
    {% else %}
        full_plot_access = false;
    {% endif %}

    var plot_class_dict = {{ plot_class_dict|safe }};
    var time_choices_dict = {{ time_choices_dict|safe }};

    var plotArray = [];
    {% for plot in plots %}
    plotArray.push({{plot.id}});
    {% endfor %}
    {% if asset_plots_id == 0 %}
    $("#default_plots").val(plotArray);
    {% endif %}
    $('#plot_ids').val(plotArray);

    $(".close-link-all").click(function() {
        if(confirm("Would you like to remove this plot?")) {
            var id = parseInt($(".close-link-all").attr('id'));
            var index = plotArray.indexOf(id);
            plotArray.splice(index,1);
            $.ajax({
                url: "{% url 'plot.save_plot_page' %}",
                method: 'POST',
                data: {
                    'plot_ids': plotArray,
                    'plot_page_name': "{{ plot_page_name }}",
                    'plot_page_id': {{ asset_plots_id }},
                    'asset_id': {{ asset.id }},
                    'asset_overview': "True"
                },
                success:function(d) {
                    add_success_message("Plot page saved.");
                }
            });
            var $div_panel = $(this).closest('.col-lg-6');
            $div_panel.remove();
        }
    });

    $(window).on('unload', function() {
        var scrollPosition = $(document).scrollTop();
        localStorage.setItem("scrollPosition", scrollPosition);
    });

    if(localStorage.scrollPosition) {
       $(document).scrollTop(localStorage.getItem("scrollPosition"));
    }

    if (window.matchMedia) {
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function (mql) {
            printUpdate();
        });
    }

    assetsObject = {
        _asset_id: '',
        _asset_name: '',
        _deployment_code: '',

        set asset_name(asset_name) {
            this._asset_name = asset_name;
        },
        get asset_name() {
            return this._asset_name;
        },
        set asset_id(id) {
            this._asset_id = id;
        },
        get asset_id() {
            return this._asset_id;
        },
        set deployment_code(dcode) {
            this._deployment_code = dcode;
        },
        get deployment_code() {
            return this._deployment_code
        }
    }

    // some default values are set here
    variablesObject={
        _variable_id_array_x: ['Time'],
        _variable_id_array_y: [],
        _variable_name_array_x: ['Time'],
        _variable_name_array_y: [],
        _plot_class: 'Timeseries',
        set variable_id_array_x(x_var) {
            for (var i=0; i<x_var.length; i++) {
                this._variable_id_array_x.push(x_var[i]);
            }
        },
        get variable_id_array_x() {
            return this._variable_id_array_x;
        },
        set variable_name_array_x(name) {
            for (var i=0; i<name.length; i++) {
                this._variable_name_array_x.push(name[i]);
            }
        },
        get variable_name_array_x() {
            return this._variable_name_array_x;
        },
        set variable_id_array_y(y_var) {
            for (var i=0; i<y_var.length; i++) {
                this._variable_id_array_y.push(y_var[i]);
            }
        },
        get variable_id_array_y() {
            return this._variable_id_array_y;
        },
        set variable_name_array_y(name) {
            for (var i=0; i<name.length; i++) {
                this._variable_name_array_y.push(name[i]);
            }
        },
        get variable_name_array_y() {
            return this._variable_name_array_y;
        },
        set plot_class(ptype) {
            this._plot_class=ptype;
        },
        get plot_class() {
            return this._plot_class;
        },
    }

    multiselectObject= {
        enableCaseInsensitiveFiltering: true,
        maxHeight: 275,
        nonSelectedText: 'Select variable(s) to plot',
        buttonWidth: '95%',
        buttonTitle: function(options, select) {
            var labels = [];
            options.each(function () {
                labels.push($(this).text());
            });
            return labels.join(', ');
        },
        onChange: function(option, checked) {
            var option_parent = $(option).parent().attr('id');
            var option_custom = $(option).data()['custom'];
            var optionObj = {val: option.val(), custom: option_custom, text: option.text(), parent: option_parent}
            if (option_parent === 'plot-variable-x') {
                updateMultiselect_x(optionObj, checked)
            } else {
                updateMultiselect_y(optionObj, checked)
            }
        }
    }   

    $("#plot-variable-x").multiselect(multiselectObject);
    $("#plot-variable-y").multiselect(multiselectObject);


    function updateMultiselect_x(optionObj, checked) {
        var parent = $('#' + optionObj.parent);
        var multiselect = parent.siblings('.btn-group').find('.multiselect-container');

        // Remove unselected variable from global arrays
        if (!checked) {
            var unchecked_option = optionObj.val;
            var unchecked_option_indx = variablesObject.variable_id_array_x.indexOf(unchecked_option);

            variablesObject.variable_id_array_x.splice(unchecked_option_indx,1);
            variablesObject.variable_name_array_x.splice(unchecked_option_indx,1);

            $('#plot-variable-x').multiselect('deselect', unchecked_option);
        } else {
            // only 1 variable is allowed to be checked in the x-axis dropdown
            var previous_x_variable = variablesObject.variable_id_array_x.pop()
            variablesObject.variable_name_array_x.pop()
            $('#plot-variable-x').multiselect('deselect', previous_x_variable);

            var full_variable_name = optionObj.text;
            variablesObject.variable_id_array_x.push(optionObj.val);
            variablesObject.variable_name_array_x.push(full_variable_name);
        }

        // X-Axis Logic
        if (variablesObject.variable_id_array_x.length) {

            // Enable Y-Axis button
            $('#container-y').find('.multiselect.dropdown-toggle').removeClass('disabled');

            if (optionObj.val === 'Time'){
                variablesObject.plot_class = 'Timeseries';
            } else {
                variablesObject.plot_class = 'Comparison';
                // change plot type to scatter
                $('#plot-type').val(2);
            }
        }

        // error checking
        toggleMenuErrorText();

        $('#plot-button').attr('data-plot-class', variablesObject.plot_class);
    }

    function updateMultiselect_y(optionObj, checked) {
        var parent = $('#' + optionObj.parent);
        var multiselect = parent.siblings('.btn-group').find('.multiselect-container');

        // Remove unselected variable from global arrays
        if (!checked) {
            var unchecked_option = optionObj.val
            var unchecked_option_indx = variablesObject.variable_id_array_y.indexOf(unchecked_option);

            variablesObject.variable_id_array_y.splice(unchecked_option_indx,1);
            variablesObject.variable_name_array_y.splice(unchecked_option_indx,1);

            $('#plot-variable-y').multiselect('deselect', unchecked_option);

        } else {
            // only allow 1 menu item to be checked when dealing with plots that aren't timeseries
            if (variablesObject.plot_class !== 'Timeseries') {
                var i = 0;
                var number_yvars = variablesObject.variable_id_array_y.slice(0).length;
                while (i <= number_yvars) {
                    var previous_y_variable = variablesObject.variable_id_array_y.pop()
                    variablesObject.variable_name_array_y.pop()
                    $('#plot-variable-y').multiselect('deselect', previous_y_variable);
                    i++;
                }
            }
            var full_variable_name = optionObj.text;
            variablesObject.variable_id_array_y.push(optionObj.val);
            variablesObject.variable_name_array_y.push(full_variable_name);
        }

        if (variablesObject.variable_id_array_y.length >= 4) {
            // Disable all other checkboxes
            $('#container-y').find('input[type="checkbox"]:not(:checked)').prop('disabled',true);
        } else  {
            $('#container-y').find('input[type="checkbox"]').prop('disabled',false);
        }

        // Y-Axis Logic
        if (variablesObject.plot_class !== 'Timeseries') {
            variablesObject.plot_class='Comparison';

            // change the markers to scatter
            $('#plot-type').val(2);
        }

        // error checking
        toggleMenuErrorText();

        $('#plot-button').attr('data-plot-class', variablesObject.plot_class);
    }

    // build custom context menu items object and include the edit url as an argument
    var edit_url = window.location.origin + "{% url 'plots.edit_plot' asset.id deployment.code 'plotid' %}"

    var customContextMenuItems = buildCustomContextMenuItems(standardContextMenuItems, edit_url, from_where='asset')

    // custom exporting object
    var custom_exporting = jQuery.extend(true, {}, default_exporting);
    custom_exporting.buttons.contextButton.menuItems = customContextMenuItems

    // additional plot exporting object
    var additional_plot_exporting = jQuery.extend(true, {}, default_exporting);
    additional_plot_exporting.buttons.exportButton = {
        text: 'Save Custom Plot',
        _titleKey: 'CustomSave',
        menuItems: null,
        onclick: function() {
            var selectedOptions_x = $('#plot-variable-x option:selected');
            var x_vars = selectedOptions_x.map(function(indx,option) {return $(option).val()}).toArray();
            var xvar_str = String(x_vars);
            var selectedOptions_y = $('#plot-variable-y option:selected');
            var y_vars = selectedOptions_y.map(function(indx,option) {return $(option).val()}).toArray();
            var yvar_str = String(y_vars);
            var plot_type = $('.plot-type-window0').find('option:selected').val()
            var plot_class_val = $('#plot-button').attr('data-plot-class');
            var y_direction = $('.y-axis-orientation0').find('option:selected').val();
            var time_window_id = $('.time-window0').val();
            var start_date = $('.start_date0').val();
            var end_date = $('.end_date0').val();

            window.location.href = "{% url 'plots.edit_plot' asset.id deployment.code %}" +
                '?' + 'type=create' + '&' + 'x_var=' + xvar_str + '&' + 'y_var=' + yvar_str + '&' + 'from=' + 'asset' +
                '&' + 'plot_type=' + plot_type + '&' + 'plot_class=' + plot_class_val + 
                '&' + 'y_axis_reversed=' + y_direction + '&' + 'time_range_id=' + time_window_id + 
                '&' + 'start_date=' + start_date + '&' + 'end_date=' + end_date;
        }
    }

    function permanentlyDelete(plotid) {

        var ajaxCall = $.ajax({
            url: '/asset/ajax/delete_custom_plot',
            method: 'POST',
            data: {
                'plot_id': plotid,
            }
        });

        ajaxCall.done(function(resp) {
            if (resp.success) {
                // find the closest x_panel based on the plotid of the deleted plot whose id gets returned
                var $DIV_PANEL = $('div[id=' + '"plot' + resp.plotid + '"]').closest('.col-lg-6')
                $DIV_PANEL.remove();
            }
        })
    }

    function getMenuVariables(asset_id) {

        $('.multiselect.dropdown-toggle').addClass('disabled')

        var ajaxCall = $.ajax({
                url: '/asset/ajax/get_asset_variables',
                method: 'POST',
                data: {
                    'asset_id': asset_id,
                    'user_id': {{request.user.id}}
                }
        });

        ajaxCall.done(function(resp) {
            var menuVariables = resp.variables;
            buildMenu(menuVariables, asset_id);
            $('#variable-loading-text-x').addClass('hidden');
            $('#variable-loading-text-y').addClass('hidden');
            $('.multiselect.dropdown-toggle').removeClass('disabled')

            // make time the default X-Axis
            $('#plot-variable-x').multiselect('select', 'Time');
        })
    }

    function buildMenu(menuItems, asset_id) {
        var html_text='';

        // build time checkbox
        timeItem_text = '<option value="Time">Time</option>';

        for (var i=0; i<menuItems.length; i++){
            var data_custom = menuItems[i].is_custom ? true : false;
            listItem = '<option value="' + (menuItems[i].id).toString() + '" ' + 'data-custom=' + data_custom + '>' +
                menuItems[i].name + '</option>';
            html_text += listItem;
        }

        $("#plot-variable-x").multiselect('destroy');
        $("#plot-variable-y").multiselect('destroy');

        // make sure this element is emptied out
        $('#plot-variable-x').empty();
        $('#plot-variable-x').append(timeItem_text + html_text);
        $('#plot-variable-x').multiselect(multiselectObject);

        $('#plot-variable-y').empty();
        $('#plot-variable-y').append(html_text);
        $('#plot-variable-y').multiselect(multiselectObject)
    }

    function toggleMenuErrorText() {
        var errorMsgs = {
            noneSelected: 'Select a variable',
            tooManySelected: 'Limit: 1 variable'
        }

        var noneSelected_x = variablesObject.variable_id_array_x.length === 0;
        var noneSelected_y = variablesObject.variable_id_array_y.length === 0;

        var tooManySelected = variablesObject.plot_class === 'Comparison' &&
            variablesObject.variable_id_array_y.length > 1;
        if (noneSelected_x) {
            if ($('#container-x').find('span[class="error-message"]').length === 0) {
                 $('#container-x').find('p[class="plot-menu-label"]').append('<span class="error-message" id="x-error-text">&nbsp;'
                + errorMsgs['noneSelected'] + '</span>');
            }
        } else {
            $('#container-x').find('span[id="x-error-text"]').remove();
        }

        if (noneSelected_y) {
            if ($('#container-y').find('span[class="error-message"]').length === 0) {
                 $('#container-y').find('p[class="plot-menu-label"]').append('<span class="error-message" id="y-error-text">&nbsp;' +
                errorMsgs['noneSelected'] + '</span>');
            }
        } else if (tooManySelected) {
            if ($('#container-y').find('span[class="error-message"]').length === 0) {
                $('#container-y').find('p[class="plot-menu-label"]').append('<span class="error-message" id="y-error-text">&nbsp;' +
                 errorMsgs['tooManySelected'] + '</span>');
             }
        } else {
            $('#container-y').find('span[id="y-error-text"]').remove();
        }

        return
    }

    function checkPlottingParams() {
        var plotting_param_error = false;

        var noneSelected_x = variablesObject.variable_id_array_x.length === 0;
        var noneSelected_y = variablesObject.variable_id_array_y.length === 0;

        var tooManySelected = variablesObject.plot_class === 'Comparison' &&
            variablesObject.variable_id_array_y.length > 1;

        if (noneSelected_x || noneSelected_y || tooManySelected) {
            plotting_param_error = true;
        }

        return plotting_param_error
    }

    var statusHistoryTable;
    var alertsTable;

    var COL_PREV_STATUS = 4;
    var COL_USERNAME = 5;

    $(function() {
        var asset_id = {{ asset.id }};
        getMenuVariables(asset_id);

        var groupDataId = 'group-{{ asset.group_id }}';
        var platformId = 'platform-{{ asset.platform_id }}';

        if(location.href.indexOf("?confirm=1") !== -1) {
            add_success_message("Plot page saved.");
        }
        if(location.href.indexOf("?confirm=2") !== -1) {
            add_success_message("Plot page deleted");
        }
        
        if(location.href.indexOf("?asset_purge=1") !== -1) {
            add_success_message("Asset successfully purged.");
        }
        if(location.href.indexOf("?asset_purge=0") !== -1) {
            add_failed_message("Asset purge failed");
        }

        SetupCurrentSideNavMenu(groupDataId, platformId);

        $("#active-alerts-filter input[type=radio]").click(function() {
            alertsTable.ajax.reload();
        });

        alertsTable = $("#alerts").DataTable({
            pageLength: 10,
            order: [[0, 'desc']],
            paging: true,
            searching: false,
            info: false,
            ajax: {
                url: '/asset/ajax/alert_history_data',
                method: 'POST',
                data: function(d) {
                    d.asset_id = {{ asset.id }},
                    d.include_all = $("#all-alerts").is(':checked')
                }
            },
            columns: [
                {
                    title: "Date",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "Asset",
                    data: "asset"
                },
                {
                    title: "Alert",
                    data: "trigger_name"
                },
                {
                    title: "Status",
                    data: "status"
                },
                {
                    title: "First Occurrence",
                    data: "created",
                    visible: false,
                    render: dt_format_date_time
                },
                {
                    title: "Last Occurrence",
                    data: "last_occurrence",
                    visible: false,
                    render: dt_format_date_time
                },
                {
                    data: "alert_id",
                    orderable: false,
                    render: function(data) {
                        return "<a href='/alert/" + data + "'>View</a>";
                    }
                }
            ],
            createdRow: function (row, data, index) {
                $(row).addClass(data.row_css_class);
            },
            drawCallback: function() { stretch_pagination($(this)); }
        });

        // initial plots
        {% for plot in plots %}
            var global_str = '{{ plot.is_global }}';
            // if full_plot_access = true then override global.. if full_plot_access = false then look at global attr
            // to determine what menu items to show ('global_False' will mimic a custom user created plot and contain
            // the full suite of menu options)

            var global = global_str === 'True' && !full_plot_access ? 'global_True' : 'global_False';

            var plot_type;
            if ('{{ plot.plot_type }}' === 'None' || '{{ plot.plot_type }}' === 'Line') {
                plot_type = 'line';
            } else if ('{{ plot.plot_type }}' === 'Scatter') {
                plot_type = 'scatter'
            } else {
                plot_type='line';
            }

            var y_direction = '{{ plot.yaxis_dir }}'.toLowerCase() === 'true' ? true : false;

            var plot_class, x_var, y_var;
            if ('{{ plot.plot_class }}' === 'None' || '{{ plot.plot_class }}' === 'Timeseries') {
                plot_class = 'Timeseries';
                x_var = 'time';
            } else {
                plot_class = 'Comparison';
                x_var = '{{ plot.x_var }}';
            }
            y_var = '{{ plot.y_var }}';

            var start_date = "{{ plot.start_date|date:'Y-m-d'}}";
            var end_date = "{{ plot.end_date|date:'Y-m-d'}}";

            var time_window = {{ plot.plot_time_range.days }}
                update_plot(
                    {{ plot.asset.id }}, // TODO(mchagnon): what if a plot covers more than one asset (instrument)?
                    '{{ plot.asset.deployment.id }}',
                    x_var.replace(/[\[\]']+/g, ''),
                    y_var.replace(/[\[\]']+/g, ''),
                    time_window,
                    "plot{{ plot.id }}",
                    "{{ plot.name|safe }}",
                    global,
                    plot_type,
                    plot_class,
                    y_direction,
                    start_date,
                    end_date,
                );
                
        {% endfor %}

        $('.update-plot').on('click', function() {
            var plot_id = $(this).attr('data-plot-id');
            var asset_id = $(this).attr('data-asset-id');
            var plotname = $(this).attr('data-plot-name');
            var plotglobal = $(this).attr('data-plot-global') === 'global_True' && !full_plot_access ?
                'global_True' : 'global_False';
            var deployment_id = $(this).attr('data-deployment-id');
            var $time_window_el = $(".time-window" + plot_id);
            var start_date = undefined;             
            var end_date = undefined;
            var time_window = undefined;
            if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
                start_date = $(".start_date"+ plot_id).val();                
                end_date = $(".end_date"+ plot_id).val(); 
                time_window = $time_window_el.val();
            }else{
                time_window = time_choices_dict[$time_window_el.val()]['days']
            }
            var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
            var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;
            var plot_class = $(this).attr('data-plot-class') || 'Timeseries';
            
            update_plot_data(plot_id, asset_id, plotname, plotglobal, deployment_id, time_window, plot_type_window,
                y_direction, plot_class, this, start_date, end_date);
        });

        $(".y-axis-orientation0").on('change', function() {
            if($.trim($('#plot0').html()) !== '') {
                var selector = $("#plot-button");
                var plot_id = $("#plot-button").attr('data-plot-id');
                var asset_id = $("#plot-button").attr('data-asset-id');
                var plotname = $("#plot-button").attr('data-plot-name');
                var plotglobal = $("#plot-button").attr('data-plot-global') === 'global_True' && !full_plot_access ?
                    'global_True' : 'global_False';
                var deployment_id = $("#plot-button").attr('data-deployment-id');

                var $time_window_el = $(".time-window" + plot_id);
                var start_date = undefined;             
                var end_date = undefined;
                var time_window = undefined;
                if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
                    start_date = $(".start_date"+ plot_id).val();                
                    end_date = $(".end_date"+ plot_id).val(); 
                    time_window = $time_window_el.val();
                }else{
                    time_window = time_choices_dict[$time_window_el.val()]['days']
                }

                var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
                var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;
                var plot_class = $("#plot-button").attr('data-plot-class') || 'Timeseries';

                update_plot_data(plot_id, asset_id, plotname, plotglobal, deployment_id, time_window, plot_type_window,
                    y_direction, plot_class, selector, start_date, end_date);
            }
        });

        $("#plot-type").on('change', function() {
            if($.trim($('#plot0').html()) !== '') {
                var selector = $("#plot-button");
                var plot_id = $("#plot-button").attr('data-plot-id');
                var asset_id = $("#plot-button").attr('data-asset-id');
                var plotname = $("#plot-button").attr('data-plot-name');
                var plotglobal = $("#plot-button").attr('data-plot-global') === 'global_True' && !full_plot_access ?
                    'global_True' : 'global_False';
                var deployment_id = $("#plot-button").attr('data-deployment-id');

                var $time_window_el = $(".time-window" + plot_id);
                var start_date = undefined;             
                var end_date = undefined;
                var time_window = undefined;
                if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
                    start_date = $(".start_date"+ plot_id).val();                
                    end_date = $(".end_date"+ plot_id).val(); 
                    time_window = $time_window_el.val();
                }else{
                    time_window = time_choices_dict[$time_window_el.val()]['days']
                }
                var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
                var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;
                var plot_class = $('#plot-button').attr('data-plot-class') || 'Timeseries';
         
                update_plot_data(plot_id, asset_id, plotname, plotglobal, deployment_id, time_window, plot_type_window,
                    y_direction, plot_class, selector, start_date, end_date);
            }
        });

        $("#time-window-template").on('change', function() {
            if($.trim($('#plot0').html()) !== '') {
                var selector = $("#plot-button");
                var plot_id = $("#plot-button").attr('data-plot-id');
                var asset_id = $("#plot-button").attr('data-asset-id');
                var plotname = $("#plot-button").attr('data-plot-name');
                var plotglobal = $("#plot-button").attr('data-plot-global') === 'global_True' && !full_plot_access ?
                    'global_True' : 'global_False';
                var deployment_id = $("#plot-button").attr('data-deployment-id');
                var $time_window_el = $(".time-window" + plot_id);
                if($time_window_el.val()=='8'){//PlotTimeRange(Custom Range) is id=8
                    return;
                }
                var time_window = time_choices_dict[$time_window_el.val()]['days'];

                var plot_type_window = $(".plot-type-window" + plot_id).find('option:selected').text().toLowerCase() || 'line';
                var y_direction = $(".y-axis-orientation" + plot_id).val() === 'true' ? true: false;
                var plot_class = $("#plot-button").attr('data-plot-class') || 'Timeseries';     
                
                update_plot_data(plot_id, asset_id, plotname, plotglobal, deployment_id, time_window, plot_type_window,
                        y_direction, plot_class, selector);
            }
        });

        function update_plot_data(plot_id, asset_id, plotname, plotglobal, deployment_id, time_window, plot_type_window,
            y_direction, plot_class, selector, start_date, end_date ) {
            
            if (plot_id === '0') {
                var plotting_param_errors = checkPlottingParams();
                if (plotting_param_errors) {
                    // this is a check.. just in case a user tries to plot without updating the menus
                    if ($('#additional-plots').find('span[class="error-message"]').length === 0) {
                        toggleMenuErrorText();
                    }

                    // clear #plot0 innerHTML and don't start the spinner if a selection is missing
                    $('#plot0').html('');
                    return
                }
            }

            switch (plot_class) {
                case 'Timeseries':
                    if (plot_id === '0') {
                        var x_var = variablesObject.variable_id_array_x
                        var y_var = variablesObject.variable_id_array_y;
                        var plotname = variablesObject.variable_name_array_y.join(', ');
                    } else {
                        var y_var = [$(selector).attr('data-y-variable-id').replace(/[\[\]']+/g, '')];
                    }
                    update_plot(asset_id, deployment_id, 'time', y_var, time_window, 'plot' + plot_id, plotname,
                            plotglobal, plot_type_window, plot_class, y_direction, start_date, end_date);

                    break;
                case 'Comparison':
                    if (plot_id === '0') {
                        // update the plotname
                        plotname = variablesObject.variable_name_array_x[0] + ' vs. ' +
                            variablesObject.variable_name_array_y[0];

                        var x_var = variablesObject.variable_id_array_x[0] || [];
                        var y_var = variablesObject.variable_id_array_y[0] || [];
                    } else {
                        var x_var = $(selector).attr('data-x-variable-id').replace(/[\[\]']+/g, '');
                        var y_var = $(selector).attr('data-y-variable-id').replace(/[\[\]']+/g, '');
                    }

                    if (x_var === y_var) {
                        alert('Plotting a variable against itself is not allowed');
                        return
                    }
                    update_plot(asset_id, deployment_id, x_var, y_var, time_window, 'plot' + plot_id, plotname,
                        plotglobal, 'scatter', plot_class, y_direction, start_date, end_date);
                    break
                default:
                    // do nothing
            }

            // prevents the text in the plot area from starting off highlighted
            setTimeout(function () {$('#additional-plots').click();}, 500);
        }

        statusHistoryTable = $("#status-history").DataTable({
            pageLength: 10,
            order: [[0, 'desc']],
            paging: true,
            searching: false,
            info: false,
            ajax: '/asset/ajax/status_history_data/{{ asset.id }}',
            columns: [
                {
                    title: "Date",
                    data: 'created',
                    render: dt_format_date_time
                },
                {
                    title: "Asset",
                    data: 'asset_code',
                    render: function(data, type, row) {
                        return "<a href='/asset/overview/" + row.asset_id + "/{{deployment.code}}'>" + data + "</a>";
                    }
                },
                {
                    title: "Status",
                    data: 'status'
                },
                {
                    title: "Reason",
                    data: 'reason'
                },
                {
                    title: "Prev Status",
                    visible: false,
                    data: 'previous_status'
                },
                {
                    title: "Changed By",
                    visible: false,
                    data: 'username'
                }
            ],
            initComplete: function(settings, json) {
                $(this).closest(".hidden").toggleClass('hidden', false);
            },
            drawCallback: function() { stretch_pagination($(this)); }
        });

        $(".toggle-status-grid").click(function(){
            $("#alert-container").toggleClass("col-md-11 col-md-5");
            $("#status-grid-container").toggleClass("col-md-7 col-md-1");

            $("#status-grid-mini, #status-grid, .status-grid-extra, " +
                "#show-status-grid, #hide-status-grid, #platform-status-header"
            ).toggleClass('hidden');

            var collapsed = $("#status-grid").hasClass('hidden');
            statusHistoryTable.column(COL_PREV_STATUS).visible(collapsed);
            statusHistoryTable.column(COL_USERNAME).visible(collapsed);
            alertsTable.column(4).visible(collapsed);
            alertsTable.column(5).visible(collapsed);
        });
    });
    </script>
{% endblock %}