{#  #}
{% extends "base.html" %}
{% load static %}
{% load ui_tags %}
{% load status_tags %}


{% block topnav %}
<h1>{{ platform_name }} - {{ name }}</h1>
{% endblock %}

{% block content %}

{% asset_nav asset.id deployment.code plot_pages current_asset_page %}

<div class="x_content">
    <form action="{% url 'plot.plot_list' asset.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="page_name" value="{{ name }}" />
        <input type="hidden" name="plot_page_id" value="{{ plot_page_id }}" />
        <input type="hidden" name="asset_overview" value="{{asset_overview}}" />
        <button type="submit" id="edit" class="btn btn-primary" style="float:top">Edit Plots</button>
    </form>
    <br />
    {% for plot in plots %}
    <div class="col-lg-6">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <select class="time-window time-window{{ plot.id }}">
                            <option value="-1">Last 24 hours</option>
                            <option value="-2">Last 2 Days</option>
                            <option value="-3">Last 3 Days</option>
                            <option value="-30">Last 30 Days</option>
                            <option value="-180">Last 6 Months</option>
                            <option value="-365">Last 12 Months</option>
                        </select>
                        <button type="button" id="btnPlot" class="btn btn-xs btn-primary update-plot"
                                data-plot-id="{{ plot.id }}" data-asset-id="{{ plot.asset.id }}"
                                data-variable-id="{{ plot.variable_id }}"
                                style="margin-right:20px">Plot</button>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link-all" id="{{ plot.id }}"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="plot{{ plot.id }}" class="pre-loaded-plot"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static '/js/site.js' %}"></script>
<script type="text/javascript">
        var plotArray = [];

        $(".close-link-all").click(function() {
            if(confirm("Would you like to remove this plot?")) {
                var id = parseInt($(".close-link-all").attr('id'));
                var index = plotArray.indexOf(id);
                plotArray.splice(index,1);
                $.ajax({
                    url: "{% url 'plot.save_plot_page' %}",
                    method: 'POST',
                    data: {
                        'plot_ids': plotArray,
                        'plot_page_name': "{{ name }}",
                        'plot_page_id': {{ plot_page_id }},
                        'asset_id': {{ asset.id }},
                        'asset_overview': "{{ asset_overview }}"
                    },
                    success:function(d) {
                        add_success_message("Plot page saved.");
                    }
                });
                var $div_panel = $(this).closest('.col-lg-6');
                $div_panel.remove();
                $('#plot_ids').val(plotArray);
            }
        });

        $(document).ready(function() {
            var groupDataId = 'group-{{ asset.group_id }}';
            var platformId = 'platform-{{ asset.platform_id }}';
            var url = location.href;
            if(url.indexOf("confirm") !== -1) {
                add_success_message("Plot page saved.");
            }
            {% for plot in plots %}
            plotArray.push({{plot.id}});
            {% endfor %}
            $("#plot_ids").val(plotArray);
            SetupCurrentSideNavMenu(groupDataId, platformId);
        });

        // Pre-loaded plots
        {% for plot in plots %}
            update_plot(
                {{ plot.asset.id }}, // TODO(mchagnon): what if a plot covers more than one asset (instrument)?
                {{ plot.variable_id }},
                -1, // time_window // TODO(mchagnon): pull this from somewhere; is last 24 hours always the default?
                'plot{{ plot.id }}'
            );
        {% endfor %}

        function plot(plotObject) {
        Highcharts.chart(plotObject.container_id, {
            chart: {
              zoomType: 'xy'
            },
            title: plotObject.title,
            subtitle: plotObject.subtitle,
            xAxis: plotObject.xData,
            yAxis: plotObject.yData,
            tooltip: {shared: false},
            legend: {
                /*layout: 'vertical',*/
                align: 'center',
                verticalAlign: 'bottom'
            },
            series: plotObject.seriesData
        });
    }

    function stringCheck(n) {
            return n === 'string';
    }

    // color-blind friendly colors for plotting
    var cbColors = ["#56b4e9","#000000","#e69f00","#009e73"];

    // function update_plot(asset_id, deployment_id, x_var, y_var, time_window, container_id, plotname, plotglobal, plotType, plotClass, y_direction, start_date, end_date) {
    function update_plot(asset_id, variable_id, time_window, container_id, start_date, end_date) {
            $("#" + container_id).html(
                $("<img>", { src:"{% static 'images/loading.gif' %}" })
            );

            var ajaxCall = $.ajax({
                url: '/asset/plot-data',
                method: 'POST',
                data: {
                    'asset_id': asset_id,
                    'variable_id': String(variable_id),
                    'time_window': time_window,
                    'start_date':start_date,
                    'end_date':end_date                
                }
            });

            ajaxCall.done(function(resp) {
                varID=Object.keys(resp);
                var title = '', subtitle, currentResp, goodResp, numericData;
                var yData = [], xData = [], seriesData = [];

                var opposite=true;
                var gridLineWidth = 1;
                yAxisCounter=0;

                for (var i=0; i<varID.length; i++) {
                   currentResp=resp[varID[i]];

                   if (currentResp.error) {
                    console.log(currentResp.error)
                    continue
                   }

                   // only use variables with numeric data
                   dataCheck=currentResp.data.map(function(x) {return typeof(x[1])})
                   numericData = !dataCheck.every(stringCheck)

                    if (!numericData) {
                        console.log('non-numeric data => ' + 'variable pkey = ' + varID[i])
                        continue;
                    } else {
                        goodResp = currentResp;

                        if (title.text) {
                            title.text += ' -- ' + goodResp.title;
                        } else {
                            title = {text: goodResp.title};
                        }

                        subtitle = {text: goodResp.subtitle};
                        plotColor = cbColors[yAxisCounter];
                        opposite = !opposite;
                    }

                    // create objects for plotting
                    xData = {
                        type: 'datetime',
                        title: {
                            text: 'Date'
                        }
                    };

                    yData.push({
                        gridLineWidth: gridLineWidth,
                        labels: {
                            style: {
                                color: varID.length < 2 ? "#606060" : plotColor
                            }
                        },
                        title: {
                            text: goodResp.units,
                            style: {
                                color: varID.length < 2 ? "#606060" : plotColor
                            }
                        },
                        opposite: opposite
                    });

                    seriesData.push({
                        yAxis: yAxisCounter,
                        name: goodResp.title,
                        data: goodResp.data,
                        color: plotColor
                    });

                    // no gridline for subsequent variables
                    gridLineWidth = 0;

                    // increment the yAxisCounter
                    yAxisCounter+=1;
                }

                // Change title if multiple variables
                if (seriesData.length > 1) {
                    // title = {text: 'Combined Plots'};
                    subtitle = {text: ''};
                }

                plotObject = {
                    container_id: container_id,
                    title: title,
                    subtitle: subtitle,
                    xData: xData,
                    yData: yData,
                    seriesData: seriesData,
                }

                // Pass the plot object to the plot function
                plot(plotObject);
            });
        }

        $(".update-plot").click(function(){
            var plot_id = $(this).attr('data-plot-id');
            var asset_id = $(this).attr('data-asset-id');
            var start_date_el = $("#start_date");
            var end_date_el = $("#end_date");

            var $time_window_el = $(".time-window" + plot_id);
            var start_date = undefined;             
            var end_date = undefined;
            var time_window = undefined;
            if($time_window_el.val()=='custom_range'){
                start_date = $(".start_date"+ plot_id).val();                
                end_date = $(".end_date"+ plot_id).val(); 
                time_window = $time_window_el.val();
            }else{
                time_window = time_choices_dict[$time_window_el.val()]['days']
            }

            // loop through the plot variables and generate an array
            var plot_var_val = $(this).attr('data-variable-id');
            var variable_id, variable_id_array=[];

            if(plot_var_val.constructor === Array)
            {
                for (i = 0; i < plot_var_val.length; i++) {
                    if (plot_id == 0) {
                        variable_id = plot_var_val[i];
                        variable_id_array.push(variable_id)
                    }
                    else {
                        variable_id = $(this).attr('data-variable-id')
                        variable_id_array.push(variable_id)
                    }
                }
                update_plot(asset_id, variable_id_array, time_window.val(),'plot' + plot_id, start_date, end_date);
            }
            else
            {
                plot_var_val = plot_var_val.replace(/[\[\]']+/g, '');
                update_plot(asset_id, plot_var_val, time_window.val(),'plot' + plot_id, start_date, end_date);
            }
        });
</script>
{% endblock %}
