{% load static %}
{% load ui_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

        <title>OMS++</title>
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/bootstrap/3.3.7/css/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
        <!-- link type="text/css" rel="stylesheet" href="{% static '/vendor/datatables/1.10.13/css/dataTables.bootstrap.min.css' %}" / -->
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/datatables/1.10.20/datatables.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/jquery-ui/1.12.1/css/jquery-ui.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/select2/4.0.13/css/select2.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/jquery-ui-timepicker-addon/1.6.3/css/jquery-ui-timepicker-addon.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/leaflet/1.3.1/leaflet.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/pnotify/css/pnotify.custom.min.css' %}" media="all"   />
        <link type="text/css" rel="stylesheet" href="{% static '/css/theme.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/css/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/config/style.css' %}" />
    </head>
 <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0; background: #F7F7F7">
              <a href="/" class="site_title">
                <img src="{% static '/images/logos/OOI_Logo.png' %}" style="width:100px" title="OOI">
                <img src="{% static '/images/logos/CGSN_logo_icon.png' %}" style="width:100px" title="CGSN">
              </a>
            </div>

            <!-- Place Holder for Search Bar
            <div class="clearfix"></div>
            <br />

            <div class="input-group quick-search" style="display:none">
              <input type="text" class="form-control" placeholder="Search for ..." />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
            -->

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section nav-header">
                <ul class="nav side-menu nav-item ">
                  <li> 
                    <a href="/hotlist" class="nav-header-item"><i class="fa fa-server" style="color:#73879C" aria-hidden="true"></i>&nbsp;Hot List</a>
                  </li>
                </ul>
              </div>
              {% sidebar_assets %}
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle hidden-lg hidden-md" style="display:none">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-left">
                <li>{% block topnav %}{% endblock %}</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">

                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ user.get_full_name|default:user.username}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'account.my_account' %}"> My Account</a></li>
                    <li><a href="{% url 'account.logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                  <ul class="dropdown-menu list-unstyled" role="menu">
                      <li><a href="{% url 'asset.manage_platforms' %}">Platforms</a></li>
                      <li><a href="{% url 'alert.manage_triggers' %}">Triggers</a></li>
                      <li><a href="{% url 'variable.manage_l3_variables' %}">L3 Variables</a></li>
                    {% if perms.core.manage_plots %}
                      <li><a style="width: 100%;" href="{% url 'plots.manage_plots' %}">Plots</a></li>
                    {% endif %}
                    {% if perms.core.manage_users %}
                      <li><a href="{% url 'account.users' %}">Users</a></li>
                    {% endif %}
                    {% if perms.core.change_settings %}
                      <li><a href="/admin">Admin</a></li>
                      <li><a href="/settings">Settings</a></li>
                    {% endif %}
                      <li><a href="{% erddap_url %}/index.html" target="_blank">ERDDAP</a></li>
                      {% if perms.core.manage_redmine %}
                      <li><a href="{% url 'alert.create_redmine_issue' 0 %}">Add Redmine Ticket</a></li>
                      {% endif %}
                      {% comment %}
                      {% if perms.core.superuser %}
                      <li><a href="{% url 'dashboard.backup_database' %}">Backup Database</a></li>
                      {% endif %}
                      {% endcomment %}
                  </ul>
                </li>
                  {% if bookmark %}
                <li class="homePage"><a id="default-page"><i class="fa fa-bookmark"></i></a></li>
                  {% endif %}
                <div class="alert-success default-page" id="notification-area" style="margin-bottom: 30px;"></div>
              </ul>
            </nav>
          </div>
        </div>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            {% block content %}
            {% endblock %}
            <div class="clearfix"></div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <div>
          <footer>
            <div class="pull-right">
                <img src="{% static '/images/logos/nsf_logo.gif' %}" style="height:30px;padding-right:20px" title="NSF">
                <img src="{% static '/images/logos/osu_logo.png' %}" style="height:30px;padding-right:20px" title="OSU">
                <img src="{% static '/images/logos/rutgers_logo.png' %}" style="height:30px;padding-right:20px" title="Rutgers">
                <img src="{% static '/images/logos/whoi_logo.png' %}" style="height:30px;padding-right:20px" title="WHOI">
                <img src="{% static '/images/logos/RPSblock.png' %}" style="height:30px;padding-right:20px" title="RPS Group">
                <small>{% app_version %}</small>
            </div>
            <div class="clearfix"></div>
          </footer>
        </div>
        <!-- /footer content -->
      </div>
    </div>

    <script type="text/javascript" src="{% static '/vendor/jquery/3.1.1/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/jquery-ui/1.12.1/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/moment/2.18.1/moment.min.js' %}"></script>
    <!-- script type="text/javascript" src="{% static '/vendor/datatables/1.10.13/js/jquery.dataTables.js' %}"></script -->
    <!-- script type="text/javascript" src="{% static '/vendor/datatables/1.10.13/js/dataTables.bootstrap.min.js' %}"></script -->
    <!-- script type="text/javascript" src="{% static '/vendor/datatables/plugins/1.10.15/datetime-moment.js' %}"></script -->
    <script type="text/javascript" src="{% static '/vendor/datatables/1.10.20/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/modules/export-data.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/jquery-validation/1.16.0/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/select2/4.0.13/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/jquery-ui-timepicker-addon/1.6.3/js/jquery-ui-timepicker-addon.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/pnotify/js/pnotify.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/leaflet/1.3.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/esri-leaflet/2.0.8/esri-leaflet-debug.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/site.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('.ui-pnotify').remove();

            var platform_name = $("#alert-subscriptions-container").attr('data-platform-name');
            $("#alert-subscriptions-container").dialog({
                modal: true,
                autoOpen: false,
                draggable: false,
                resizable: false,
                height: typeof height !== 'undefined' ? height : 500,
                width: typeof height !== 'undefined' ? height : 500,
                title: 'Manage Alert Subscriptions for ' + platform_name,
                position: {
                    my: "center",
                    at: "top+30%",
                    of: window
                },
            });

            $("#erddap-id-container").dialog({
                modal: true,
                autoOpen: false,
                draggable: false,
                resizable: false,
                height: typeof height !== 'undefined' ? height : 300,
                width: typeof height !== 'undefined' ? height : 500,
                title: 'Manage ERDDAP ID',
                position: {
                    my: "center",
                    at: "top+30%",
                    of: window
                },
            });
        });

        $('#default-page').click(function(e) {
            if(confirm('Would you like to set this as your default starting page?')) {
            $.ajax({
                url: "{% url 'account.default' %}",
                method: 'POST',
                success: function() {
                    add_success_message("Default starting page saved");
                }
            });
            }
        });


        $("#manage-alert-subscriptions").click(function(e){
            var platform_id = $("#alert-subscriptions-container").attr('data-platform-id');
            return open_dialog_box(e, '#alert-subscriptions-container', '/alert/manage_subscriptions/' + platform_id);
        });
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
