{#  #}
{% load static %}
{% load ui_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

        <title>OMS++</title>
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/bootstrap/3.3.7/css/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/datatables/1.10.13/css/dataTables.bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/jquery-ui/1.12.1/css/jquery-ui.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/css/theme.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/css/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '/config/style.css' %}" />
        <link href="{% static '/vendor/pnotify/css/pnotify.custom.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    </head>
 <body class="public">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="right_col" role="main">
            {% block content %}
            {% endblock %}
            <div class="clearfix"></div>
        </div>
        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
      </div>
    </div>

    <script type="text/javascript" src="{% static '/vendor/jquery/3.1.1/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/jquery-ui/1.12.1/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/moment/2.18.1/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/datatables/1.10.13/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/datatables/1.10.13/js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/datatables/plugins/1.10.15/datetime-moment.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/highcharts/5.0.14/modules/export-data.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/jquery-validation/1.16.0/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/pnotify/js/pnotify.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/site.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('.ui-pnotify').remove();

            var platform_name = $("#alert-subscriptions-container").attr('data-platform-name');
            $("#alert-subscriptions-container").dialog({
                modal: true,
                autoOpen: false,
                draggable: false,
                resizable: false,
                height: typeof height !== 'undefined' ? height : 500,
                width: typeof height !== 'undefined' ? height : 500,
                title: 'Manage Alert Subscriptions for ' + platform_name,
                position: {
                    my: "center",
                    at: "top+30%",
                    of: window
                },
            });
        });

        $('#default-page').click(function(e) {
            if(confirm('Would you like to set this as your default starting page?')) {
            $.ajax({
                url: "{% url 'account.default' %}",
                method: 'POST',
                success: function() {
                    add_success_message("Default starting page saved");
                }
            });
            }
        });


        $("#manage-alert-subscriptions").click(function(e){
            var platform_id = $("#alert-subscriptions-container").attr('data-platform-id');
            return open_dialog_box(e, '#alert-subscriptions-container', '/alert/manage_subscriptions/' + platform_id);
        });
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
