input[type=radio]{
    margin-right: 5px;
    vertical-align: text-bottom;
}
input[type=radio]~input[type=radio]{
    margin-left: 10px;
}

#map {
    float: left;
    width: 100%;
    height: 700px;
}

.labelClass {
    white-space: nowrap;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black,0 0 0.1em black,0 0 0.2em;
    color: white
}

#no-data-tag {
    display: none;
    font-weight: bold;
    color: #73879c;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 401;
}

.quick-search {
    width:90%;
    margin:0 auto 1em auto;
}

.status {
    height:25px;
    color: #E9EDEF;
    padding-left:4px;
}

.status a {
    color: #ffffff;
}

.status-ok {
    background:rgba(0, 114, 178, .88);
}

.status-warning {
    background:rgba(240, 200, 66, .98);
}

.status-error {
    background:rgba(213, 94, 0, .88);
}

.status-none {
    color:#73879C;
}

.status-deleted {
    background:rgba(150, 150, 150, .88);
}


.circle-status-ok {
    color:rgba(0, 114, 178, .88);
}

.circle-status-warning {
    color:rgba(240, 200, 66, .98);
}

.circle-status-error {
    color:rgba(213, 94, 0, .88);
}

.circle-glider-status-ok {
    color:rgba(0, 230, 57, .88);
}

#validation_error{
    color: #fff;
    display: inline-block;
    padding: 3px 20px;
}

#validation_error.expression-valid {
    background-color:rgba(0, 114, 178, .88);
}

#validation_error.expression-invalid {
    background-color:rgba(213, 94, 0, .88);
}

.nopadding {
    padding:1px !important;
    margin:0 !important;
}

.alert-summary-alert {
    background-color: rgba(213, 0, 0, 0.1);
    padding: 5px;
}

.alert-summary-high {
    background-color: rgba(213, 94, 0, 0.1);
    padding: 5px;
}

.alert-summary-medium {
    background-color: rgba(240, 200, 66, 0.1);
    padding: 5px;
}

.alert-summary-low {
    background-color: rgba(26, 187, 156, 0.1);
    padding: 5px;
}

.alert-bar-alert {
    background-color: rgba(213, 0, 0, 0.1) !important;
}

.alert-bar-high {
    background-color: rgba(213, 94, 0, 0.1) !important;
}

.alert-bar-medium {
    background-color: rgba(240, 200, 66, 0.1) !important;
}

.alert-bar-low {
    background-color: rgba(26, 187, 156, 0.1) !important;
}

.top_nav .navbar-right {
    width:30%;
}

.navbar-left {
    margin-right: 0
}
.top_nav .navbar-left {
    margin: 0;
    width: 60%;
    float: left
}
.top_nav .navbar-left li {
    display: inline-block;
    float: left;
    position: static
}
@media (min-width: 480px) {
    .top_nav .navbar-left li {
        position: relative
    }
}

.plot-settings {
    line-height:50px
}

.pre-loaded-plot {
    height:400px;
    text-align:center;
}

.pre-loaded-plot img {
    margin-top:130px
}

.plot-error-text-standard {
    margin-bottom: 3px;
    display: inline-block;
}

.plot-error-text-extra {
    text-align: left;
}

.hidden-error-text {
    display: none;
}

.status-grid, .status-grid table {
    width:100%;
    border-spacing: 1px;
    border-collapse: collapse;

}

.status-grid td {
    vertical-align:top;
    height:20px;
    padding:1px;
}

.status-grid .cpm-header, .status-grid .dcl-header {
    text-align:center
}

.status-grid .cpm-header {
    border:solid 1px #fff;
    border-bottom:none;
}

.status-grid-item {
    padding:0px !important;
}

.status-grid-port {
    width:20px;
}

.status-grid-cpm {
    text-align:center
}

.status-grid-dcl {
    text-align:center
}
 
.status-grid-mini-container {
    width: auto;
    height: auto;
}

.status-grid-mini-x_panel {
    width: auto;
    height: auto;
    background: #f9f9f9;
    margin-top: 5px;
}

.status-grid-mini-asset-container {
    width: auto;
    height: auto;
    display: table;
}

.asset-in-mini-grid {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-size: 25px;
    display: inline-table;
    padding: 10px 10px 10px 10px;
}

.status-grid-mini {
    width: 89px;
    height: auto;
}

.menu_section {
    margin-bottom:5px;
}

.left_col .nav > li > .nav-item {
    padding:5px 1px 5px 10px !important
}

.breadcrumb {
    margin-bottom:.5em;
}

nav h1 {
    font-size:24px;
    margin-top:16px;
}

nav .toggle {
    padding-top:10px
}

.acknowledge-alert textarea {
    width:100%;
    height:100px;
}


/* TODO(mchagnon): CSS for nav items needs some clean up and better formatting */
.nav.child_menu li i {
    float:left;
    margin:4px 6px 2px 10px;
    font-size:11px;
    width:10px;
}

.nav.child_menu li {
    padding-left:0px;
    width:112px;
    float:left;
}

.nav.child_menu li.child-item-full{
    float: none;
    width: 100%;
}

.nav.child_menu li.child-item-full a{
    text-transform: uppercase;
}


.nav.side-menu>li {
    position: relative;
    display: block;
    cursor: pointer
}

.nav.side-menu>li>.nav-item {
    margin-bottom: 0px
}
.nav.side-menu>li>.nav-item:hover {
    color: #F2F5F7 !important
}
.nav.side-menu>li>.nav-item:hover, .nav.side-menu>div>div>li>.nav-item:hover,
.nav>li>.nav-item:focus, .nav>div>div>li>.nav-item:focus {
    text-decoration: none;
    background: trans
}

.nav.side-menu>li>.nav-item a, .nav.side-menu>div>div>li>.nav-item a,
.nav.side-menu>li>.nav-item span, .nav.side-menu>div>div>li>.nav-item span {
    color: #E7E7E7 !important;
    font-weight: 500
}
.nav>li>.nav-item, .nav>div>div>li>.nav-item {
    position: relative;
    display: block;
    padding: 13px 15px 12px
}
.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right: 5px solid #1ABB9C
}
.nav li li.current-page .nav-item {
    color: #fff
}
.nav.side-menu>li.active>.nav-item {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0
}

.nav-header {
    height: auto;
}

.nav.side-menu>li>.nav-header-item {
    font-size: 15px;
    width: inherit;
    border-bottom: 2px solid #F7F7F7;
    margin-bottom: 5px;
    text-align: left;
}

.toggle-nav-item {
    display:inline-block;
    padding:0px 10px 0px 7px;
}

.nav.child_menu>div>div {
    width:50%;
    float:left;
}

.nav.child_menu>li>a, .nav.child_menu>div>div>li>a {
    padding:2px;
    text-decoration:none
}

.nav_menu {
    padding-left:20px;
}

.nav.side-menu li.active .nav-item .open {
    display:inline
}

.nav.side-menu li.active .nav-item .closed {
    display:none
}

.nav.side-menu li .nav-item .open {
    display:none
}

.nav.side-menu li .nav-item .closed {
    display:inline
}

.asset-overview-header h1 {
    float:left;
}

.asset-overview-header span {
    float:left;
    margin:24px 0 0 20px;
    font-style: italic;
    font-size:11px
}

.hidden { display: none; }

.not-visible {
    visibility: hidden;
}
.datepicker{
    width:80px;
    text-align: center;
}
.x_title {
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:2px;
}

 .x_title h2 {
    font-size:15px;
}

.row-eq-height div[class^="col-"]{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-eq-height .glider{
    flex-direction: column;
    flex-grow: 1;
}

.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding:3px;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    bottom:2px;
    right:2px
}

.toggle-status-grid {
    cursor:pointer;
    white-space:nowrap;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
}

.status-grid-item > div {
    margin-top:1px;
    margin-right:1px;
    padding-top:2px
}

.status-grid-port > div {
    margin-right:0 !important
}

.alert-summary .control-label {
    width:135px;
}
#edit-note-panel textarea {
    width:100%;
}

/* TODO(mchagnon): colors need to be properly define; alarm and high currently use the same color */
.severity-low {
    background:rgba(38, 185, 154, .88);
}

.severity-medium {
    background:rgba(243, 156, 18, .88);
}

.severity-high {
    background:rgba(231, 76, 60, .88);
}

.severity-alarm {
    background:rgba(231, 76, 60, .88);
}

.dataTables_length {
    display:none
}

.dataTables_paginate a {
    background:none !important

}

.pagination>li>a, .pagination>li>span {
    background:none !important
}

.pagination>.active>a {
    background:#286090 !important
}

#divError{
    display: inline-block;
    width: 100%;
}

ul.errorlist{
     list-style-type: none;
     padding-left: 20px;
     position: relative;
}


ul.errorlist li {
  position: relative;
  padding-left: 40px;
  text-align: left;
  color: #fff;
  text-shadow: none;
}

ul.errorlist:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: FontAwesome;
  content: "\f071";
  font-size: 30px;
  vertical-align: middle;
}

.errorlist.nonfield {
    float:left;
    width: 100%;
    padding-left: 0px !important;
    list-style-type: none;
}

.required {
    color: #a94442
}

.status-grid-extra .status-grid-item {
    display:inline-block !important;
    margin:0px;
}

.status-grid-extra .status-grid-item  > div{
    padding-left:10px;
    padding-right:10px;
}

.status-grid-extra {
    border-top:2px solid #E6E9ED;
    margin-top:6px;
    padding-top:5px;
}

.status-grid-extra .status-grid-item {
    width:90px;
}

.status-grid-extra .status-grid-cpm, .status-grid-extra .status-grid-dcl {
    text-align:left
}

.status-grid-extra td span {
    line-height:22px
}

.status-grid-extra i {
    display:inline-block;
    padding-top:8px;
    margin:0 4px;
}

.dialog-box {
    display:none;
    line-height:10px;
    color:#5A738E
}

.dialog-box .control-label {
    width:100px
}

.dialog-box form {
    margin-top:10px
}

/* Override image paths for jQuery-UI */
/* TODO(mchagnon): doesnt appear like all of the proper button styles are being supplied to the close button */
.ui-dialog .ui-dialog-titlebar-close {
    background:transparent;
    background-image: url("/static/vendor/jquery-ui/1.12.1/images/ui-icons_777777_256x240.png");
    background-position: -94px -128px;
    border:none;
}

.ui-widget-overlay {
   background: #333 50% 50% repeat-x;
   opacity: .30;
   filter: Alpha(Opacity=30);
}

.panel_toolbox {
    min-width:auto
}

.panel_toolbox > li > a {
    padding:0 5px;
}

.col-no-horiz-padding {
    padding-left:0 !important;
    padding-right:0 !important
}

.title-no-float {
    float:none !important;
}

.login_wrapper {
    max-width: 450px;
}

.pagination-stretch {
    width: 100%
}


.homePage {
    cursor:pointer;
}
.select2_multiple{
    min-width: 200px;
}

.alert-success.default-page {
    padding-right: 161px;
    background-clip: content-box;
    text-align: center;
}

/* need to include this because bootstrap settings create undesirable effects */
.multiselect-container {
    width: 100%;
}

.multiselect-container > li > a {
    white-space: normal;
    padding: 0;
    color: #73879C;
}

.multiselect-selected-text, .multiselect-search {
    font-size: 13px;
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.dropdown-toggle {
    border-radius: 0px;
}

#deselect-all {
    padding-left: 20px;
    margin: 8px 0 0 0;
    color: blue;
    text-decoration: none;
}

#deselect-all:hover {
    color: red;
    background-color: white;
}

.edit-page-panel {
    height: 650px;
}


#plot0 {
    margin-top: 15px;
}

.axis-menu-container {
    margin-bottom: 15px;
}

.plot-menu-label {
    margin-bottom: 5px;
}

.validation-problem {
    border: 2px solid #a94442;
}

.invalid-input {
    color: #a94442;
    font-weight: bold;
}

.error-message {
    color: #a94442;
    font-style: italic
}

.invalid-color {
    color: #a94442;
}

hr {
    margin: 0
}

#manual-alert .select-trigger {
    display:inline-block;
    width:160px;
}

.plot-select-info {
    text-align: center;
    width: 360px;
    font-size: 14px;
    padding: 6px;
    background-color: rgba(240, 200, 66, 0.26);
    border-radius: 5px;
    margin-bottom: 15px;
}

#plot-preview-btn {
    padding: 2px 9px;
}

@media print {
    html, body {
        padding-left: 15mm;
        width: 210mm;
        height: 250mm;
    }
    [id^="plot"] {
        padding: 0px;
        width: 100%;
    }
}

#alert-subscription-settings .email-immediately, #alert-subscription-settings .text-immediately {
    width:80px;
    text-align:center

}

#alert-subscription-settings .daily-summary {
    width:120px;
    text-align:center
}

#l3-variable-list .dataTables_filter {
    text-align:left !important;
    float:left;
}

#trigger-list .dataTables_filter, #platform-content .dataTables_filter {
    text-align:left !important;
    float:left;
}

#plots_filter {
    float: left;
    text-align: left;
    margin-left: 15px;
}

.trigger-add {
    float: none !important;
    margin-right: -65px;
    margin-top: -78px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

/*
.loadingPanel {
    text-align: center;
    z-index: 5000;
    margin: auto;
    display: block;
}
*/

/*div.plot-colors > div:nth-child(4n+1),
div.plot-colors > div:nth-child(4n+2) {
  background-color: none;
}

div.plot-colors > div:nth-child(4n+3),
div.plot-colors > div:nth-child(4n+4) {
  background-color: #ededed;
}*/

.create-plot-hr {
    border: solid #ccc 1px;
}

.select-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.asset-nav-current {
    background-color: rgba(191, 191, 191, 0.37);
}


#modal-content {
    padding:5px;
}

#modal-body {
    background:#fff;
}

#modal-content {
    width:700px;
}

.status_grid_container {
    width:700px;
}
.asset-picker {
    margin-top: 8px;
}

#l3_variable_form .asset-picker{
    margin-bottom: 17px;
}

.asset-picker > button {
    margin-top: -8px !important;
}

#assetpicker-name, #varpicker-name {
    margin-left: 10px;
}

#id_units {
    width: 100% !important;
}

#variables_list a {
    color: #808080;
    clear: left;
}

#variables_list a:hover {
    color: red;
}

.none-highlight {
    background-color: rgba(213, 0, 0, 0.2) !important;
    display: inline;
    padding: 2px;
    border-radius: 3px;
}

.lower-sidebar > li > a {
    width: 100%;
    text-align:left;
    font-size:12px;
}

#alert-subscription-settings .well span {
    margin-left:10px;
}

#occurrence-table_wrapper > .row > .row <.row {
    margin: 1px solid black;
}

#email_share .instructions {
    font-size:10px;
    font-style:italic
}

#email_share textarea {
    width:100%;
    height:50px;
    padding:2px
}

@media (min-width: 1316px) {
    .no-wrap-x {
        max-width: 85% !important;
    }
}

@media (min-width: 1479px) {
    .no-wrap-x {
        max-width: 90% !important;
    }
}

#plot_page_alert {
    color: #ffffff;
    width:575px;
}

#system-overview .highcharts-graph.zone-critical {
	stroke: rgba(213, 94, 0, .88);
}
#system-overview .highcharts-area.zone-critical {
	fill: rgba(213, 94, 0, .88);
}
#system-overview .highcharts-point.zone-critical {
	fill: rgba(213, 94, 0, .88);
}
#system-overview .highcharts-graph.zone-needs-attention {
	stroke: rgba(240, 200, 66, .98);
}
#system-overview .highcharts-area.zone-needs-attention {
	fill: rgba(240, 200, 66, .98);
}
#system-overview .highcharts-point.zone-needs-attention {
	fill: rgba(240, 200, 66, .98);
}
#system-overview .highcharts-graph.zone-ok {
	stroke: rgba(0, 114, 178, .88);;
}
#system-overview .highcharts-area.zone-ok {
	fill: rgba(0, 114, 178, .88);;
}
#system-overview .highcharts-point.zone-ok {
	fill: rgba(0, 114, 178, .88);;
}

#redmine-issue input[type=text], #redmine-issue textarea {
    width:100%;
}

#redmine-issue #tracker label {
    display:block;
}

#redmine-issue .optional-field {
    min-height:60px;
}

#redmine-issue .datepicker {
    width:80px !important
}

/* loading bar spinner styling*/

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-css.ng-scope {
margin: auto;
}

.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 95px;
  top: 45px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #0072b2;
  width: 10px;
  height: 30px;
  border-radius: 30%;
  -webkit-transform-origin: 5px 55px;
  transform-origin: 5px 55px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.validation_tooltip {
    font-size: 12pt;
}

  .ui-tooltip.ui-widget-content, .arrow:after {
    background: #d9edf7;
    border: 1px solid #337ab7
  }

  .ui-tooltip.invalid, .invalid .arrow:after{
    background: #fcf8e3;
    border: 1px solid #ffd600;
  }
  .ui-tooltip {
    color: #333;
    font: normal 12px "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    box-shadow: 0 0 3px #ddd;
  }
  .arrow {
    width: 55px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    left: 18%;
    margin-left: -35px;
    top: -10px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 5px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 3px #ddd;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.table-summary{
    margin-bottom: 1px;
}
.table-summary thead tr td{
    background-color: #ffffe9;
}
.btn-expand-collapse{
    padding: 0px 4px;
    margin: 0 3px 4px 4px;
}

.sidebar-top-links {
    font-size: 11px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #36516c;
    padding: 4px 0px;
}

.sidebar-top-links > a {
    color: #ffffff !important;
    text-align: center;
    padding-right: 4px;
}

#graph_preference{
    width: auto;
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
    padding: .25rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.disposition-filters {
    text-align: right;
    padding: 5px 15px;
}

#no-data-plot {
    font-weight: bold;
    color: #73879c;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.glider-status-circle {
    cursor: pointer;
    float: left;
    margin: 4px 6px 2px 2px;
    font-size: 11px;
    width: 10px;
}

.glider-links a {
    margin:0 10px
}

.feedback a {
    color:#e7e7e7
}

.feedback i {
    color:#73879C;
}

.feedback {
    margin-top:15px
}

#import-platform-loading {
    display:none;
    text-align:center;
}

#import-platform-loading p {
    margin-top:15px;
    font-weight:bold;
}

#reload-configuration-section {
    margin:20px 0
}

#reload-configuration-section #loading-icon {
    height:50px;
    display:none
}


.ui-pnotify{
    pointer-events:all;
    right:360px;
}

.ui-pnotify-closer,.ui-pnotify-sticker{
    pointer-events:auto!important;
}


.ui-pnotify.ui-pnotify-fade-in{
    opacity:0.5!important;
}

.data-variable-input {
    height:24px;
}

.data-variable-readonly {
    border:none !important;
    background:none !important;
    height:24px;
    box-shadow: none
}

.plot-date-pickers {
    margin-bottom:3px
}

.ui-sortable-handle{
    cursor: grab;
}

.datetimepicker {
    text-transform: lowercase;
}
