{% extends 'base.html' %}
{% load static %}
{% load ui_tags %}

{% block topnav %}
<h1>L3 Variables</h1>
{% endblock %}

{% block content %}

<div class="x_panel">
    <div class="x_content" id="l3-variable-list">
        <div class="row disposition-filters" id="dispositions">
            <div class="col-md-6 text-left">
                Disposition:
                {% for disposition in dispositions %}
                <label>
                    <input
                            id="disposition_input"
                            type="checkbox"
                            data-value="{{ disposition.id }}"
                            {% if disposition.id in shown_dispositions %}checked="checked"{% endif %} />
                    {{ disposition.name }}
                </label>
                {% endfor %}
            </div>
            <div class = 'col-md-6 text-right'>
                <a href="{% url 'variable.edit_l3_variable' %}" class="btn btn-sm btn-primary pull-right">Add New Variable</a>
            </div>
        </div>
        <table id="variables" class="table table-striped table-bordered" width="100%"></table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var currentUserId = {{ request.user.id }};
    var variablesTable = null;

    function canClone(isGlobal, userId)
    {
        var cloneShared = {{ perms.core.clone_shared_items|yesno:"true,false" }};
        var cloneOthers = {{ perms.core.clone_other_items|yesno:"true,false" }};

        if (isGlobal && !cloneShared) return false;
        if (!isGlobal && currentUserId !== userId && !cloneOthers) return false;

        return true;
    }
    function canEdit(isGlobal, userId)
    {
        var editShared = {{ perms.core.edit_shared_items|yesno:"true,false" }};
        var editOthers = {{ perms.core.edit_other_items|yesno:"true,false" }};

        if (isGlobal && !editShared) return false;
        if (!isGlobal && currentUserId !== userId && !editOthers) return false;

        return true;
    }

    function canDelete(isGlobal, userId)
    {
        var deleteShared = {{ perms.core.delete_shared_items|yesno:"true,false" }};
        var deleteOthers = {{ perms.core.delete_other_items|yesno:"true,false" }};

        if (isGlobal && !deleteShared) return false;
        if (!isGlobal && currentUserId !== userId && !deleteOthers) return false;

        return true;
    }

    $(function(){
    	variablesTable = $("#variables").DataTable({
    	    dom: 'frtip',
    	    pageLength: 25,
            paging: true,
            searching: true,
            ordering: true,
            info: true,
    	    order: [],
            ajax: {
                    url: "/variable/ajax/l3_variable_list",
                    method: 'POST',
                    data: function(d) {
                        let checked_disps = []
                        $("#dispositions input[type=checkbox]").each(function(){
                            const id = $(this).attr('data-value');
                            $("div[data-disposition-id=" + id + "]").toggleClass('hide', !$(this).is(":checked"));
                            if ($(this).is(":checked")) {
                                checked_disps.push(id)
                            }
                        })
                        const disp_id_string = checked_disps.join(',')
                        d.variable_disposition = disp_id_string
                    }
            },
            columns: [
                {
                    // Variable ID
                    data: "id",
                    visible: false,
                    searchable: false
                },
                {
                    title: "Name",
                    data: "name"
                },
                {
                    title: "Units",
                    data: "units"
                },
                {
                    title: "Asset",
                    data: "asset_id",
                    render: function(data, type, row) {
                        return "<a href='/asset/overview/" + data + "/" + row.deployment_name + "'>" + row.asset_name + "</a>";
                    }
                },
                {
                    title: "Deployment",
                    data: "deployment_name"
                },
                {
                    title: "Platform",
                    data: "platform_id",
                    render: function(data, type, row) {
                        var url = "/asset/overview/" + data + "/" +  row.deployment_name;
                        var name = row.platform_name ? row.platform_name : row.asset_name;

                        return "<a href='" + url + "'>" + (name ? name : "") + "</a>";
                    }
                },
                {                
                    title: "Owner",
                    data: "id",
                    render: function(data, type, row) {
                        if (row.is_global === true)
                            return "System";

                        if (!row.first_name && !row.last_name)
                            return row.user_name;

                        return row.first_name + " " + row.last_name;
                    }
                },
                {
                    title: "Shared",
                    data: "is_global",
                    render: function(data) {
                        return data ? "Yes" : "No";
                    }
                },
                {
                    title: "Date Created",
                    data: "created",
                    render: dt_format_date_time
                },
                {
                    title: "Triggers",
                    data: "num_triggers"
                },
                {
                    title: "Plots",
                    data: "num_plots"
                },
                {
                    data: "id",
                    render: function(data, type, row) {
                        if (!canClone(row.is_global == "Yes", row.user_id))
                            return "";

                        var url = '/variable/clone_l3_variable/' + data;

                        return "<a href='" +  url + "'>Clone</a>";
                    }
                },
                {
                    data: "id",
                    orderable: false,
                    render: function(data, type, row) {
                        var text = canEdit(row.is_global, row.user_id) ? "Edit" : "View";
                        var url = "/variable/edit_l3_variable/" + data;

                        return "<a id='linkEdit" + data + "' href='" + url + "'>" + text + "</a>";
                    }
                },
                {
                    data: "id",
                    orderable: false,
                    render: function(data, type, row) {
                        if (!canDelete(row.is_global, row.user_id))
                            return "";

                        var hasRelated = row.num_triggers > 0 || row.num_plots > 0;

                        return "<a href='#' class='delete-l3' data-id='" + data + "' data-has-related='" + hasRelated +"'>Delete</a>";
                    }
                }
            ]
        });

        $('#variables').on( 'order.dt', function () {
            var $table = $('#variables').DataTable()
            var order = $table.order();
            if(order && order.length == 1){
                $column_id = 4 // Deployment is column 7
                if([3, 5].includes(order[0][0])){ // Only sort by deployment when sorting by 3-Asset, 5-Platform
                    $table.order([[order[0][0], order[0][1]], [$column_id, order[0][1]]]).draw();
                }
            }
        } );

        $("#variables").on("click", ".delete-l3", function(e){
            e.preventDefault();

            // Check for related plots/triggers that would prevent deleting
            if ($(this).data("has-related")) {
                $.ajax({
                    type: "POST",
                    url: '/variable/ajax/get_related_triggers_plots',
                    data: {'variable_id': $(this).data("id")},
                    success: function(resp) {
                        var results = "";

                        $.each(resp.triggers, function(idx, val){
                            results += "Trigger: " + val + "\n";
                        });

                        $.each(resp.plots, function(idx, val){
                            results += "Plot: " + val + "\n"
                        });

                        alert(
                            "This L3 variable cannot be deleted because it is currently in use. " +
                            "The following plots and triggers must be deleted before the L3 variable can be removed:\n\n" +
                            results
                        )
                    }
                });
                return;
            }

            if (!confirm('Are you sure you want to delete this L3 variable?'))
                return;

            $.ajax({
                type: "POST",
                url: '/variable/ajax/delete_l3',
                data: {'variable_id': $(this).data("id")},
                success: function(resp) {
                    variablesTable.ajax.reload(null,false);
                }
            });
        });

        $("#dispositions input[type=checkbox]").click(function(){

            variablesTable.ajax.reload()
        });
    });
</script>
{% endblock %}
  